{{yield}}

<ul class="breadcrumb__bar">
  {{#each items as |breadcrumb index|}}
    <li class="breadcrumb__title" onclick={{action "onBreadcrumbClick" breadcrumb index}}>{{breadcrumb.title}}</li>
    {{#if (lt index lastItemIndex)}}
    <li class="breadcrumb__separator"> > </li>
    {{/if}}
  {{/each}}
</ul>
