<div class="col-xs-8">
  {{#unless isAdditive}}
    <div class="rootcause-message rootcause-message__warning">Dataset is not marked additive. Contribution values may not be accurate.</div>
  {{/unless}}

  {{#unless hasCurrent}}
    <div class="rootcause-message rootcause-message__warning">No data for current range</div>
  {{/unless}}

  {{#unless hasBaseline}}
    <div class="rootcause-message rootcause-message__warning">No data for baseline range</div>
  {{/unless}}
</div>

<div>
  {{update-table
    data=dimensionsTableData
    columns=dimensionsTableColumns
    preselectedItems=preselectedItems
    showColumnsDropdown=false
    showGlobalFilter=false
    filteringIgnoreCase=true
    multipleExpand=true
    multipleSelect=true}}
</div>