<a {{action "sendAction" "delete" record}} class="thirdeye-link thirdeye-link--tertiary thirdeye-link--muted">
  <span><i class="glyphicon glyphicon-trash"></i></span>
  {{#tooltip-on-element class="te-modal__tooltip"}}
      Delete mapping
  {{/tooltip-on-element}}
</a>
