{{#if hasMaxTimeWarning}}
  <div class="rootcause-message rootcause-message__warning">
    The selected metric has data until {{maxTimeFormatted}} only. Please adjust the investigation period.
  </div>
{{/if}}
