{{#if hasMaxTimeWarning}}
  <div class="rootcause-message rootcause-message__warning">
    Data for the selected metric is available only until {{maxTimeFormatted}}. Analysis may not be accurate.
  </div>
{{/if}}