.composite-anomalies-table {
  width: 100%;
  border: 1px solid #ccc;
  tr {
    border-bottom: 1px solid #ccc;
  }
  td,
  th {
    padding: 10px 10px 10px 20px;
  }
  &__multi-line-column {
    margin: 0;
    color: black;
  }
  &__duration {
    margin: 0;
  }
  margin-bottom: 20px;
}

.composite-anomalies-table-form {
  &__feedback-selections {
    display: flex;
    flex-direction: column;
  }

  &__selection-groups {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &__selection-groups--dropdown-group {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    max-width: 220px;
    margin-right: 10px;
  }

  &__selection-groups--radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.composite-anomalies-no-records {
  padding: 10px 10px 10px 20px;
  font-size: 16px;
}
