.rootcause-dimensions-table {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;

  thead th {
    border: 1px solid #ddd;
  }

  tbody tr:hover {
    background-color: app-shade($te-main-background, 0.8);
    cursor: pointer;
  }

  &__column {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;

    &--small-width {
      width: 60px;
    }
    &--med-width {
      width: 120px;
    }
    &--large-width {
      width: 300px;
    }
    &--bar-cell {
      min-width: 300px;
      padding: 0;
    }
    &--blank-cell {
      border: none;
    }
    &--custom {
      border-left: none;
    }
  }
  &__dimension-cell {
    font-weight: bold;
    white-space: nowrap;

    &--blank {
      border: none;
    }

    &--first {
      margin-left: 10px;
      display: inline;
    }
  }
  &__header {
    border: 1px solid #ddd;
  }
  &__bar {
    height: 20px;

    &--negative {
      float: right;
      background-color: brown;
    }
    &--positive {
      background-color: steelblue;
    }
  }
  &__bar-container {
    float: left;
    width: 40%;

    &--collapse {
      width: 0;
    }
    &--expand {
      width: 72%;
    }
  }
  &__bar-metric {
    float: right;
    width: 20%;
    text-align: right;
    padding-right: 5px;
  }
}
