.rootcause-dimensions-table {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;

  thead th {
    border: 1px solid #ddd;
  }

  tbody tr:hover {
    background-color: app-shade($te-main-background, 0.8);
    cursor: pointer;
  }

  &__column {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    white-space: nowrap;

    &--small-width {
      width: 60px;
    }
    &--med-width {
      width: 120px;
    }
    &--large-width {
      width: 300px;
    }
    &--bar-cell {
      min-width: 325px;
      padding: 0;
    }
    &--blank-cell {
      border: none;
    }
    &--custom {
      border-left: none;
    }
  }
  &__dimension-cell {
    font-weight: bold;
    white-space: nowrap;

    &--blank {
      border-top: none;
    }
  }
  &__dimension-content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 164px;

    &--first {
      margin-left: 10px;
      line-height: 14px;
      display: inline-block;
    }
  }
  &__header {
    border: 1px solid #ddd;
  }
  &__bar {
    height: 20px;

    &--negative {
      float: right;
      background-color: brown;
    }
    &--positive {
      background-color: steelblue;
    }
  }
  &__contribution-bars {
    display: inline-block;
  }
  &__bar-container {
    float: left;
    width: 40%;
    width: 150px;

    &--negative {
      margin-left: 10px;
    }
  }
  &__bar-metric {
    float: right;
    text-align: right;
    padding-right: 5px;
    color: steelblue;

    &--negative {
      color: brown;
    }
  }
  &__change-cell {
    text-align: right;
    padding-right: 5px;
    color: steelblue;

    &--negative {
      color: brown;
    }
  }
}
