.common-tabs {
  top: $te-spacing--sm;
  margin-bottom: $te-spacing--md;

  &--no-bg-color {
    background-color: inherit;
  }

  &__header {
    display: flex;
    margin-bottom: 0;
    border-bottom: 1px solid $te-grey--border;
    padding: 10px 0;
    color: app-shade(black, 0.85);
    list-style-type: none;

    &--no-border {
      border: none;
    }

    &--flush-bottom {
      padding-bottom: 0;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__subnav {
    margin-right: $te-spacing--md;
    margin-left: 20px;
    font-size: 17px;
  }

  &__body {
    background-color: white;
    padding: $te-spacing--md 0;

    &--flush-bottom {
      padding-bottom: 0;
    }
  }
}
