{{#each stats as |card|}}
  <ul class="te-horizontal-cards__card">
    <li class="te-horizontal-cards">
      <div class="te-horizontal-cards__card-title">{{card.title}}</div>
      <div class="te-horizontal-cards__card-text">{{card.description}}</div>
    </li>
    <li class="te-horizontal-cards__card-value">
      <div class="te-horizontal-cards__card-number">
        {{card.value}}
      </div>
    </li>
  </ul>
{{/each}}
