
<div class="card-container">
  {{anomaly-graph
    componentId='correlated-events'
    primaryMetric=model.primaryMetric
    events=model.events
    showGraphLegend=false
    showLegend=false
    height=400
    showEvents=true
    showSubchart=true
  }}

  {{rca-poc-table
    events=model.events
    config=model.filterBarConfig}}
</div>
