
<div class="paper-container">
  {{anomaly-graph
    componentId='correlated-events'
    primaryMetric=model.primaryMetric
    events=model.events
    showGraphLegend=false
    showLegend=false
    height=400
    showEvents=true
    showSubchart=true
  }}

  {{rca-poc-table
    events=model.events
    filterBlocks=model.filterBarConfig}}

  {{!-- {{events-table events=model.events}} --}}
</div>
