
<div class="paper-container">
  {{anomaly-graph
    componentId='correlated-events'
    primaryMetric=model.primaryMetric
    events=model.events
    showGraphLegend=false
    showLegend=false
    height=400
    showEvents=true
    showSubchart=true
  }}

  {{events-table
    events=model.events
  }}

  {{filter-bar
    filterBlocks=model.filterBarConfig}}
</div>
