<section class="te-login-container">
  <section class="nacho-login">
    <img src="assets/images/te-logo.svg" alt="Thirdeye Logo">
    <h1 class="nacho-login__header te-login-title">Third Eye</h1>
    <h4 class="te-login-subtitle">Detect and Investigate Anomalies</h4>
    <p class="te-login-intro">
      Detect anomalies in your metrics and investigate root<br>
      causes across other metrics, events, and dimensions.
    </p>
    <div>
      {{login-form
        onLogin=(action "onLogin")
        errorMessage=errorMessage}}
    </div>
  </section>
</section>
{{outlet}}