<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level [%t] %c{1.} - %m %X{job.name}%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.hibernate.engine.internal" level="WARN">
      <AppenderRef ref="Console"/>
    </Logger>
  </Loggers>
</Configuration>