cscope.*
.classpath
.project
.svn
.externalToolBuilders/
maven-eclipse.xml
target/
bin/
*/bin/
.idea
.vscode
*.iml
.settings/
out/
.DS_Store
test-output
pinot-broker/test-output/
pinot-core/test-output/
*.log
.doppelganger
docs/_build
*.ipr
*.iws
.*.swp
**/.docker/
**/.env
**/.factorypath

# Misc
.envrc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.github/PULL_REQUEST_TEMPLATE.md

#quickstart files
quickstart*

#build symlink directory
build*

#helm related files
kubernetes/helm/**/charts/
kubernetes/helm/**/requirements.lock
kubernetes/helm/**/Chart.lock

#Develocity
.mvn/.gradle-enterprise/
