cscope.*
.classpath
.project
.svn
target/
bin/
*/bin/
.idea
*.iml
.settings/
out/
.DS_Store
test-output
pinot-transport/test-output/
pinot-broker/test-output/
pinot-core/test-output/
*.log
.doppelganger
docs/_build
*.ipr
*.iws
.*.swp
**/.docker/
**/.env
kubernetes/examples/helm/charts/
