<li class="entity-filter__group-filter">
  <label class="entity-filter__group-label">
    {{label}}
  </label>
  {{#if (eq type 'dropdown')}}
    {{#power-select-multiple
      selected=selected
      options=options
      onchange=(action 'onSubfilterSelection')
      as |option|}}
      {{option}}
    {{/power-select-multiple}}
  {{/if}}
</li>
