<div class="row rootcause-trend__toolbar">
  <div class="col-xs-2">
    <label class="te-label te-label--small">Table display time
      <span>
        <i class="glyphicon glyphicon-question-sign"></i>
        {{#tooltip-on-element class="te-tooltip"}}
          This is the start time for the table below. The available options change with the time granularity selected in the chart toolbar above.
        {{/tooltip-on-element}}
      </span>
    </label>
    {{#power-select
      selected=startTimeFormatted
      options=startTimeOptions
      searchEnabled=false
      triggerId="select-startTime"
      onchange=(action "startTimeChanged")
    as |time|
    }}
      {{time}}
    {{/power-select}}
  </div>
  {{#if isLoading}}
    <div class="col-xs-18 rootcause-metric__spinner-text">
      Loading additional metric data ...
      {{ember-spinner scale=0.5}}
    </div>
  {{/if}}
</div>

{{update-table
  data=data
  columns=columns
  preselectedItems=preselectedItems
  showColumnsDropdown=false
  showGlobalFilter=false
  filteringIgnoreCase=true
  multipleExpand=true
  multipleSelect=true}}
