<section class="te-page__top {{if isEditModeActive "te-search-results--slim"}}">
  <div class="container">
    {{#self-serve-alert-yaml-details
      alertData=model.alertData
      subscribedGroups=model.subscribedGroups
      isLoadError=isLoadError
      toggleActivation=(action "toggleActivation")
    }}
    <div class="te-search-results__cta">
      {{#link-to "manage.yaml" model.alertId}}
      <button class="te-button te-button--outline btn">Edit</button>
      {{/link-to}}
    </div>
    {{/self-serve-alert-yaml-details}}
  </div>
</section>

{{outlet}}
