body {
  margin: 0px;
}

a {
  color: #000;
}

.inline-top-block {
  display: inline-block;
  vertical-align: top;

  zoom: 1;
  *display: inline;
}

.help {
  color: #545454;
  margin: 0px;
}

#header {
  border: none;
  width: 100%;
  background: #000;
}

#main {
  border: none;
  width: 100%;
  text-align: center;
  vertical-align: top;
}


#header .main {
  color: #FFF;
  text-align: center;
}

.nav {
  padding: 5px;
}

.node-overview {
  margin: 5px;
  padding: 5px;
  border: solid 1px #B5B5B5;
  width: 500px;
  display: inline-block;
  background: #EEE;
}

.chart {
  border: solid 1px #B5B5B5;
  margin: 10px 5px;
}

.title {
}

.options {
  width: 80px;
  float: right;
  text-align: right;
}

.tree-container {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.tree-nav {
  border: solid 1px #B5B5B5;
  float: left;
  margin-right: 10px;
  width: 320px;
}

.tree-nav a {
  white-space: normal !important;
  height: auto !important;
  padding: 1px 2px !important;
}

.tree-nav li > ins { vertical-align:top !important; }

.tree-nav .jstree-hovered, .tree-nav .jstree-clicked { border:0 important; }

.jmx-main-area {
  margin-left: 330px;
  border: solid 1px #B5B5B5;
  padding: 5px;
  /*float: left;*/
  min-height: 500px;
}

.jmx-item {
  margin-bottom: 20px;
}

.attr-editor {
  width: 500px;
  height: 200px;
}

