/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
  /*  font-family: tahoma;*/
  background:#e8e8e8;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}

.DIMENSION {
  color:#547a1f;
}

.METRIC {
  color:#bdb65c;
}

.TIME {
  color:#845cbd;
}


.search {
  height:20px;
  font-size:10px;
}

.row {
  margin-top:1%;
  margin-left:5px;
  margin-right:5px;
  max-width:100%;
}

.separator10 {
  min-height: 10px;
}
.button-submit-row {
 margin-top:0; 
}

.query-box {
  min-height:20%;
  position: relative;
}

.query-results {
  position:relative;
  min-height:60%;
  color:#43AC6A;
}

.top-bar {
  background : #330033 !important;
  opacity: 0.7;
}

.query-box .CodeMirror {
  border:none;
  color:#722F37;
  font-size:16px;
}

.query-results .CodeMirror {
  border:none;
  color:black;
  font-size:14px;
}