<div class="container card-container">
  {{stats-cards
    stats=stats}}
  {{#each-in model.anomalyMapping as |metric alertList|}}
    <p>Metric: {{metric}}</p>
    {{#each-in alertList as |alert anomalyList|}}
      <p>Alert: {{alert}}</p>
      <div class="te-anomaly-table">
        {{models-table
          data=anomalyList
          columns=columns
          showColumnsDropdown=false
          showGlobalFilter=false
          filteringIgnoreCase=true
          multipleExpand=true
        }}
      </div>
    {{/each-in}}
  {{/each-in}}
</div>
