<div class="container card-container">
  {{stats-cards
    stats=stats}}

  {{#each-in model.anomalyMapping as |metric alertList|}}
    <p>Metric: {{metric}}</p>
    {{#each-in alertList as |alert anomalyList|}}
      <p>Alert: {{alert}}</p>
        {{models-table
          data=anomalyList
          columns=columns
          showColumnsDropdown=false
          showGlobalFilter=false
          filteringIgnoreCase=true
          multipleExpand=true
          pageSize=5
          showComponentFooter=false
        }}
        {{#link-to 'index' class="te-anomaly-table__redirect-link"}}
          See More
        {{/link-to}}
    {{/each-in}}
  {{/each-in}}
</div>
