<div class="container card-container">
  {{#each metricList as |metric|}}
    {{#each alertList as |alert|}}
      <p>Metric: {{metric}}</p>
      <p>Alert: {{alert}}</p>
      ________________________
    {{/each}}
  {{/each}}
</div>
