<div class="container card-container">
  <div class="te-anomaly-table">
    {{models-table
      data=applicationAnomalies
      columns=columns
      showColumnsDropdown=false
      showGlobalFilter=false
      filteringIgnoreCase=true
      multipleExpand=true
    }}
  </div>
</div>
