{{#if (eq activeTab name)}}
  <div class="common-tabs__body common-tabs__body--padding-md">
    <div class="row">
      <div class="col-xs-12">
        {{yield}}
      </div>
    </div>
  </div>
{{/if}}
