<p class="metrics-table__baseline-score">
  {{get record (concat column.propertyName ".score")}}
</p>
<p class="metrics-table--{{record.wo1w.direction}}">
  {{get record (concat column.propertyName ".value")}}
</p>
