body {
    padding-bottom: 2%;
}

#input-component-area {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#input-component-area .input-form-component {
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline;
}

#display-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#breadcrumbs-area {
    margin-top: 2%;
    margin-bottom: 2%;
}

#heat-map-component-area table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 5px #888;
}

#heat-map-component-area caption {
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

#heat-map-component-area td {
    padding: 0.5%;
}

#heat-map-component-area td > a {
    color: black;
    text-decoration: none;
}

#image-area {
    text-align: center;
}

#heat-map-nav-area ul {
    margin-bottom: 0%;
    margin-top: 2%;
}

.uk-modal {
    text-align: left;
}

input[type=number] {
    width: 50px;
}

#smoothing-options .enable-checkbox {
    margin-left: 10%;
}

#smoothing-options input[type=checkbox] {
    margin-left: 1%;
}

#smoothing-options input[type=number] {
    margin-right: 5%;
}

.multi-time-series-link {
    width: 20px;
    float: right;
}

#selection-area {
    text-align: center;
}
