#spinner {
    width: 75%;
    height: 30px;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
}

.ui-spinner {
    border: 1px solid #cccccc;
    font-size: 1.1em;
}

#input {
    background-color: #eeeeee;
    max-width: 100%;
    padding-top: 5px;
    box-shadow: 5px 5px 10px #888;
}

#input input {
    background-color: #F3F3F3;
}

#query {
    margin-top: 10px;
    margin-bottom: 0px;
}

#heat-maps {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    clear: both;
}

#heat-maps > div {
    box-shadow: 1px 1px 5px #888;
}

.cell a {
    color: black;
}

.breadcrumbs {
    margin-bottom: 0px;
}

.breadcrumbs li {
    cursor: pointer;
    text-transform: none;
    font-size: 10pt;
}

.breadcrumbs li::before {
    content: "&";
}

.disabled-cell {
    background-color: #eeeeee;
    font-style: italic;
}

.heatmap {
    border: none;
}

.heatmap caption {
    text-align: left;
    background-color: #333333;
    color: white;
    padding: 5px;
    padding-left: 10px;
}

#time-series {
    margin-top: 40px;
    text-align: center;
}

#time-series div {
    margin-left: auto;
    margin-right: auto;
}

#look-back {
    text-align: right;
}

.modal-time-series-link {
    margin-right: 5px;
    float: right;
    color: white;
}

.modal-time-series-link:hover {
    color: #F6E0A0;
}

.reveal-modal {
    overflow-y: auto;
}

.legendColorBox {
    width: 30px;
}

.legendColorBox > div {
    width: 14px;
}

.legendLabel > input {
    margin-bottom: 0px;
}

#image-placeholder {
    text-align: center;
    margin-top: 25px;
}

#legend-container {
    width: 80%;
}

#legend-container > table {
    width: 100%;
    border: 0px;
    margin-bottom: 0px;
}

.heatmap {
    width: 100%;
}

#input-buttons {
    padding-left: 10px;
}

#input-form {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#input-form > label {
    float: left;
    padding-right: 1%;
}

#input-metric {
    width: 400px;
}

#input-date {
    width: 150px;
}

#input-time {
    width: 150px;
}

#input-baseline {
    width: 250px;
}

#query {
    float: right;
}

.advanced-option {
    height: 25px;
    width: 25px;
}

table tr:nth-of-type(even) {
    background-color: transparent !important;
}

.heat-map-time-series-link {
    float: right;
    width: 28px;
    height: 28px;
    padding: 2px;
}

#modal-multi-time-series {
    max-width: 87.5em;
}

.reveal-modal, .reveal-modal-bg {
    position: fixed;
}
