
# Please put the mock data source as the first in this configuration.
dataSourceConfigs:
  - className: org.apache.pinot.thirdeye.datasource.sql.SqlThirdEyeDataSource
    properties:
      Druid:
        - db:
            druid: jdbc:avatica:remote:url=http://localhost:8082/druid/v2/sql/avatica/
          user: "DRUID_USERNAME"
          password: "DRUID_PASSWORD"
