<div class="row dimension-heatmap">
  <div class="col-xs-12">
    <table class="table table-borderless dimension-heatmap__table">
      <tbody>
        {{#each-in cells as |dimName dimValues|}}
          <tr>
            <td class="col-xs-1" style="vertical-align: middle" class="label-medium-light">{{dimName}}</td>
            <td class="col-xs-11">
              <div id="{{dimName}}-heatmap-placeholder" style="height: 50px; width: 100%"></div>
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
</div>

