.share-dashboard-container {
  margin-top: $te-default-element-spacing;

  &__body {
    background-color: #FFF;
    margin-top: $te-default-element-spacing;
    margin-bottom: $te-default-element-spacing;
    padding: 0 15px 15px 15px;
    border: 1px solid app-shade(black, 0.1);
  }

  &__preview-container {
    background-color: $te-share;
    margin-top: 10px;

    &-body {
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }
}
