<div class="col-xs-12">
  <legend class="te-form__section-title">Define alert name</legend>
</div>
<div class="col-xs-12 col-sm-8">
  <label for="select-metric" class="control-label te-label te-label--taller required">Alert name</label>
  <div class="te-form__sub-label te-form__sub-label--raised">
    Plese follow this naming convention: datasetName_metricName_dimensionName_other
  </div>
  {{#if isAlertNameDuplicate}}
    <div class="te-form__alert--warning alert-warning">Warning: <strong>{{alertFunctionName}}</strong> already exists. Please try another name.</div>
  {{/if}}
  {{input
    type="text"
    id="anomaly-form-function-name"
    class="form-control te-input"
    placeholder="Add a descriptive alert name"
    value=detectionName
    key-up=(action "validateName" alertFunctionName true)
    disabled=(not generalFieldsEnabled)
  }}
</div>

<div class="col-xs-12">
  <hr/>
</div>

<div class="col-xs-12">
  <legend class="te-form__section-title">Define metric</legend>
</div>
<div class="col-xs-12 col-sm-8">
  <label for="select-metric" class="control-label te-label te-label--taller required">Select a metric to monitor, or
    {{#link-to "self-serve.import-metric" class="thirdeye-link-secondary thirdeye-link-secondary--inside"}}
      Import from InGraphs
    {{/link-to}}
    {{!-- or
    {{#link-to "self-serve.import-sql-metric" class="thirdeye-link-secondary thirdeye-link-secondary--inside"}}
      Import a Metric From Presto or MySQL
    {{/link-to}} --}}
  </label>
  <div class="te-form__sub-label te-form__sub-label--raised">
    Please contact <a class="thirdeye-link-secondary" target="_blank" href="{{metricHelpMailto}}">ask_thirdeye</a>
    if you need to onboard non-additive UMP or derived metrics
  </div>
  {{#power-select
    search=(perform searchMetricsList)
    selected=selectedMetric
    value=selectedMetric
    onchange=(action "onSelectMetric")
    loadingMessage="Waiting for the server...."
    placeholder="Search by Metric Name"
    searchPlaceholder="Type to filter..."
    triggerId="select-metric"
    triggerClass="te-form__select"
    disabled=false
    as |metric|
  }}
    {{metric.alias}}
  {{/power-select}}
</div>

<div class="col-xs-12">
  <hr/>
</div>

<!-- </fieldset>

<fieldset class="te-form__section row"> -->
<div class="col-xs-12">
  <legend class="te-form__section-title">Define anomaly detection</legend>
</div>

<div class="col-xs-12">
  <label for="select-rule" class="control-label te-label te-label--taller required">Determine anomaly by the following rules</label>
  <div class="te-form__sub-label te-form__sub-label--raised">
    Create an anomaly when the following rules are triggered
  </div>
</div>
