<h3>Tooltip</h3>

<p>{{hoverTimestamp}}</p>

<div class="container">
  {{#each urns as |urn|}}
    <div class="row">
      <div class="col-xs-2">{{get labels urn}}<br/>{{get values urn}}</div>
    </div>
  {{/each}}
</div>