<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <a {{action "onCreateEventClick"}} class="thirdeye-link thirdeye-link--settings">
        + add event
      </a>
      <span class="te-tooltip-wrapper">
        <i class="glyphicon glyphicon-question-sign">
          {{#tooltip-on-element class="te-tooltip"}}
            Can't find your event? Click here to add a new event.
          {{/tooltip-on-element}}
        </i>
      </span>
    </div>
  </div>
  <div class="col-xs-3">
    {{filter-bar
      config=filterConfig
      entities=eventFilterEntities
      loadingFrameworks=loadingFrameworks
      onFilter=(action "onFilter")}}
  </div>
  <div class="col-xs-9">
    {{rootcause-table
      entities=eventTableEntities
      columns=eventTableColumns
      selectedUrns=selectedUrns
      onSelection=(action "onSelection")
    }}
  </div>
</div>
