.events-summary {
  display: flex;
  width: 100%;
  margin-top: $te-spacing-lg;
  border: 1px solid $te-border-color;
  border-bottom: 0;
}

.events-summary__item {
  padding: $te-spacing;
  padding-top: $te-spacing-lg;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid $te-border-color;
  border-bottom: 2px solid transparent;
  flex-basis: 0;
  flex-grow: 1;

  &:last-child() { 
    border-right: 0;
  }

  &--active,
  &:hover {
    border-bottom: 2px solid $te-blue;
  }

  &--purple {
    color: $te-purple;
  }

  &--orange {
    color: $te-orange
  }

  &--green {
    color: $te-green
  }
}

.events-summary__number {
  color: $te-blue;
  font-size: 18px;
}

.events-table__column {
  max-width: 33%;
  width: 33%;
}
