.route-loader-container {
  display: flex;
  flex-direction: column;   /* items placement column */
  justify-content: center;  /* vertical alignment     */
  align-items: center;      /* horizontal alignment   */
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
  bottom: 0;
}
