.te-login-container {
  // width: 100%;
  // height: 100%;
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $te-login-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nacho-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.te-login-title {
  height: 25px;	
  width: 183.45px;	
  color: white;	
  font-size: 26px;	
  letter-spacing: 5px;	
  line-height: 25px;	
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.te-login-subtitle {
  font-size: 19px;
  color: white;
  letter-spacing: 1px;
  font-weight: normal;
}

.te-login-intro {
  line-height: 21px;
  color: app-shade(white, 0.85);
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 24px;
}
