.preview-chart {
  flex-grow: 1;
  min-height: 400px;

  &__title {
    padding-left: 16px;
  }

  g[class*='c3-target-baseline'] > .c3-lines {
    stroke-dasharray: 0.75%;
  }
}

.c3-line {
  stroke-width: 2px;
}

g[class*=' c3-circles-current'], g[class*=' c3-circles-baseline'] {
    display: none;
}
