.spinner-wrapper {
  margin: $te-default-element-spacing;
  height: 400px;
  position: relative;

  &--absolute {
    position: absolute;
    width: 100%;
  }

  &__border {
    border: 1px solid $te-grey--border;
    margin: 0;
  }

  &__margin-top {
    margin-top: $te-default-element-spacing
  }
}

.rca-title {
  @include margin-reset;
  @include padding-reset;

  margin-bottom: $te-default-element-spacing;
  font-size: $te-default-element-spacing;
  font-weight: normal;
  color: lighten(black, 25%);
}

.te-range-picker .form-control {
  height: 30px;
}

.card-container {
  background-color: white;
  border: 1px solid $te-grey--border;
  margin-top: $te-spacing-lg;
  margin-bottom: $te-spacing-lg;

  &--padded {
    padding: 24px;
  }
  &--box-shadow {
    border: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 3px 0 rgba(0,0,0,0.2);
  }
  &__header {
    display: flex;
    border-bottom: 1px solid $te-grey--border;
    padding: 12px $te-spacing-lg;
    color: app-shade(black, 0.85);
  }

  &__subnav {
    margin-right: $te-spacing-lg;
    font-size: 17px;
  }

  &__body,
  &__footer {
    padding: $te-spacing-lg;
  }
}

.rca-search-bar {
  background-color: $anomaly-nav-background;
  padding-top: $te-spacing;
  padding-bottom: $te-spacing;
}

.rca-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $te-default-element-spacing;
}

.rca-header--flush {
  justify-content: flex-start;
}

.rca-body {
  min-height: 1000px;
}

.rootcause-metric {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    border-radius: 2px;
    padding: 16px;
    border: 1px solid rgba(0,0,0,0.15);
    margin: 8px;
    margin-right: auto;
    display: flex;
    flex-basis: 0;
    min-width: 200px;
    flex-direction: column;
    justify-content: space-between;

    &--selected,
    &:hover {
      border: 2px solid $te-blue-6;
      padding: 15px;    
    }
    &--selected:hover {
      border-style: dashed;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-word;
  }

  &__name {
    font-size: 14px;
    color: rgba(0,0,0,0.9);
    line-height: 20px;
  }

  &__dataset {
    font-size: 12px;
    line-height: 16px;
    color: rgba(0,0,0,0.6);
  }
  &__change {
    color: rgba(0,0,0,0.85);
    font-size: 32px;
    line-height: 32px;
    padding-top: 16px;

    &--positive { 
      color: $te-green;
    }

    &--negative {
      color: $te-red;
    }
  }

}
