.spinner-wrapper {
  margin: $te-default-element-spacing;
  height: 400px;
  position: relative;

  &--absolute {
    position: absolute;
    width: 100%;
  }

  &--full-width {
    width: 100%;
  }

  &--card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    max-height: 100%;
    min-height: 0;
  }

  &__border {
    border: 1px solid $te-grey--border;
    margin: 0;
  }

  &__margin-top {
    margin-top: $te-default-element-spacing
  }
}

.rca-title {
  @include margin-reset;
  @include padding-reset;

  margin-bottom: $te-default-element-spacing;
  font-size: $te-default-element-spacing;
  font-weight: normal;
  color: lighten(black, 25%);
}

.te-range-picker .form-control {
  height: 30px;
}

.rca-search-bar {
  background-color: $anomaly-nav-background;
  padding-top: $te-spacing;
  padding-bottom: $te-spacing;
}

.rca-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $te-default-element-spacing;
}

.rca-header--flush {
  justify-content: flex-start;
}

.rca-body {
  min-height: 1000px;
}
