.spinner-wrapper {
  margin: $te-default-element-spacing;
  height: 400px;
  position: relative;

  &--absolute {
    position: absolute;
    width: 100%;
  }

  &--card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    max-height: 100%;
    min-height: 0;
  }

  &__border {
    border: 1px solid $te-grey--border;
    margin: 0;
  }

  &__margin-top {
    margin-top: $te-default-element-spacing
  }
}

.rca-title {
  @include margin-reset;
  @include padding-reset;

  margin-bottom: $te-default-element-spacing;
  font-size: $te-default-element-spacing;
  font-weight: normal;
  color: lighten(black, 25%);
}

.te-range-picker .form-control {
  height: 30px;
}

.card-container {
  background-color: white;
  border: 1px solid $te-grey--border;
  margin-top: $te-spacing-lg;
  margin-bottom: $te-spacing-lg;

  &--padded {
    padding: 24px;
  }

  &--space-around {
    margin: 24px;
  }

  &--flush-top {
    padding-top: 0;
    margin-top: 0;
  }

  &--box-shadow {
    border-color: transparent;
    box-shadow:
      0 0 0 1px app-shade(black, 0.1),
      0 2px 3px 0 app-shade(black, 0.2);
  }

  &__row {
    padding: 12px $te-spacing-lg;
    &--flex {
      display: flex;
      align-items: flex-end;
    }
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $te-grey--border;
    padding: 12px $te-spacing-lg;
    color: app-shade(black, 0.85);

    &--no-border {
      border: none;
    }

    &--flush-bottom {
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: app-shade(black, 9);
    margin-bottom: 0;
  }

  &__subnav {
    margin-right: $te-spacing-lg;
    font-size: 17px;
  }

  &__body,
  &__footer {
    padding: $te-spacing-lg;
    &--flush-bottom {
      padding-bottom: 0;
    }
  }

}

.rca-search-bar {
  background-color: $anomaly-nav-background;
  padding-top: $te-spacing;
  padding-bottom: $te-spacing;
}

.rca-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $te-default-element-spacing;
}

.rca-header--flush {
  justify-content: flex-start;
}

.rca-body {
  min-height: 1000px;
}
