.spinner-wrapper {
  margin: 24px;
  height: 250px;
  position: relative;
}

.rca-title {
  @include margin-reset;
  @include padding-reset;

  margin-bottom: 24px;
  font-size: 24px;
  font-weight: normal;
  color: lighten(black, 25%);
}

.rca-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.rca-actions {
  margin-top: 24px;
}
