.rootcause-wrapper {
  border: 1px solid app-shade(black, 0.15);
  border-radius: 2px;
  display: flex;

  &__chart {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    padding-top: 12px;
  }
}
