<ul class="te-anomaly-table__list">
  {{#each-in record.anomaly.dimensions as |dimName dimList|}}
     <li class="te-anomaly-table__list-item--smaller">
       {{dimName}}:<span class="te-anomaly-table__list-value--smaller">{{dimList}}</span>
     </li>
  {{/each-in}}
</ul>
