<div class="row">
  <div class="col-xs-12">
    <table class="table table-borderless dimension-heatmap__table">
      <tbody>
        {{#each dimensions as |dimension|}}
        <tr>
          <td class="col-xs-1" style="vertical-align: middle" class="label-medium-light">{{dimension}}</td>
          <td class="col-xs-11">
            <div id="{{dimension}}-heatmap-placeholder" style="height: 50px; width: 100%"></div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
