<h1 class="te-title">InGraph Information</h1>
<main class="alert-onboard paper-container">

  {{#bs-form model=this class="te-form" onSubmit=(action "submit") as |form|}}
    <section class="te-form__section-fields">
      {{form.element
        controlType="text"
        label="Provide a InGraph Dashboard Name to Onboard"
        placeholder="Type inGraph dashboard name..."
        property="dashboard-name"
        required=true
      }}
      <p class="te-form-text">Or</p>
      {{form.element
        controlType="text"
        label="Provide a Metric ID to Onboard"
        placeholder="Provide metric ID..."
        property="dashboard-id"
        required=true
      }}
    </section>
    <section class="te-form__section-submit">
      {{bs-button defaultText="Continue" type="primary" buttonType="submit" class="te-submit-button"}}
    </section>
  {{/bs-form}}

  {{outlet}}
</main>