<div class="row te-modal__settings">
  <div class="col-md-10 no-padding">
    <label for="select-metric" class="control-label te-label te-label--taller required">
      Need support? Share the content below with the Thirdeye team at
      <a class="thirdeye-link-secondary-grey" target="_blank" href="mailto:{{email}}">
        {{email}}
      </a>
    </label>
  </div>
</div>
<div class="row te-modal__settings">
  <div class="col-md-10 no-padding">
    <p>{{errorInfo}}</p>
  </div>
</div>
