<p class="metrics-table__value">
  {{get record column.propertyName}}
  {{#if record.isExclusionWarning}}
    {{partial 'partials/rootcause/exclusion-warning'}}
  {{/if}}
</p>
<p class="metrics-table__value--small">
  ({{get record 'dataset'}})
</p>
