/* tables for time */
border-left:1.0pt solid;
border-top:1.0pt solid;
border-right:1.0pt solid;
border-bottom:1.0pt solid;
border-left-color:#ffffff;
border-top-color:#ffffff;
border-right-color:#ffffff;
border-bottom-color:#ffffff;
