<div class="col-xs-6">
  <span class="rootcause-callgraph-label">Page Keys: </span>{{pageKeys}}
</div>

<div class="col-xs-6">
  <span class="rootcause-callgraph-label">Fabrics: </span>{{fabrics}}
</div>

<div>
  {{update-table
    data=callgraphTableData
    columns=callgraphTableColumns
    preselectedItems=preselectedItems
    showColumnsDropdown=false
    showGlobalFilter=false
  }}
</div>