# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node/
/node_modules
/bower_components

# misc
/.sass-cache
/.vscode
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
