/* -----------------------------------------------------------------------------
 * TE Wrapper Colors
 * ---------------------------------------------------------------------------*/
$anomaly-id-percent-change: #ef7e37;

$te-main-background: #f5f5f5;
$te-nav-background: #283e4a;
$te-login-background: #283e4a;
$anomaly-nav-background: #283e4a;

$te-border-color:  #CCC;

$te-blue-2: #98D8F4;
$te-blue-4: #33AADA;
$te-blue-5: #0091CA;
$te-blue-6: #0084bf;
$te-blue-7: #0073B1;
$te-blue-8: #006097;

$te-blue: #0091CA;
$te-orange: #E55800;
$te-teal: #0E95A0;
$te-purple: #827BE9;
$te-red: #FF2C33;
$te-green: #469A1F;
$te-pink: #FF1B90;
$te-grey: #878787;
$te-light-blue: #98D8F4;
$te-light-green: #B5D99F;
$te-light-red: #FFBCBA;
$te-light-purple: #CACAFC;
$te-light-orange: #F8C19E;
$te-light-teal: #98DADE;
$te-light-pink: #FFB9E2;
$te-light-grey: #CFCFCF;

$te-grey--border: app-shade(black, 1);

