/* -----------------------------------------------------------------------------
 * TE Wrapper Colors
 * ---------------------------------------------------------------------------*/
$anomaly-id-percent-change: #ef7e37;
$anomaly-nav-background: #283e4a;
$te-main-background: #f5f5f5;

$te-border-color:  #CCC;

$te-blue: #0091CA;
$te-blue-2: #98D8F4;
$te-blue-4: #33AADA;
$te-blue-5: #0091CA;
$te-blue-6: #0084bf;
$te-blue-7: #0073B1;
$te-blue-8: #006097;

$te-orange: #E55800;
$te-teal: #0E95A0;
$te-purple: #827BE9;
$te-red: #FF2C33;
$te-green: #469A1F;
$te-pink: #FF1B90;

$te-grey--border: rgba(0, 0, 0, 0.15);