// wrapper/custom style will go here
@import 'font';

body {
  font-size: 14px;
  background-color: lighten(#CCC, 15%);
  color: lighten(black, 40%);
}

.paper-container {
  background-color: white;
  padding: 24px 24px 12px 24px;
  border: 1px solid #CCC;
  margin-top: 24px;
  margin-bottom: 24px;
}

.thirdeye-link {
  cursor: pointer;
  color: #0084bf;
  padding: 0 8px;
  text-decoration: none;
}

.thirdeye-link:hover {
  color: #0073b1;
}

.thirdeye-link--nav {
  font-size: 14px;
  color: lighten(black, 30%);
}

.thirdeye-link--active,
.thirdeye-link--nav:hover {
  color: #0073b1;
  padding-bottom: 14px;
  border-bottom: 2px solid #0073B0 !important;
}

.spinner-wrapper {
  margin: 24px;
  height: 250px;
  position: relative;
}

.anomaly-title-bar {
  background: white;
  border-bottom: 1px #e9e9e9 solid;
}

.te-search-results {

  ul {
    list-style: none;
  }

  &__summary-block {
    padding: 5px 10px 15px 15px;

    &:hover {
      background-color: #f7f7f7;
    }
  }

  &__list-top {
    padding: 0;
    margin: 0;
  }

  &__icon {
    padding: 15px 15px 0 0;
    color: app-shade(black, 4);
  }

  &__title {
    color: $te-blue;
    font-size: 16px;
    font-weight: 400;
  }

  &__details-block {
    padding: 0 15px;
  }
}

.te-form {

  &__section-fields {

  }

  &__section-submit {
    margin: 24px 0 15px 0;
    padding-top: 24px;
    text-align: right;
    border-top: 2px app-shade(black, 2) dotted;
  }
}
