// wrapper/custom style will go here
@import 'font';

body {
  font-size: 14px;
  background-color: #F5F5F5;
  color: lighten(black, 40%);
}

.spinner-wrapper-self-serve {
  position: absolute;
  margin: 190px 0 0 0;
  left: 50%;

  &__content-block {
    margin-top: 60px;
  }

  &--custom {
    margin-left: -15px;
    margin-top: 214px;
  }

  &--fixed {
    position: fixed;
    top: 28%;
    left: 55%;
  }
}

.anomaly-title-bar {
  background: white;
  border-bottom: 1px #e9e9e9 solid;
}

.te-form {
  &__section {
    margin-top: 24px;
    margin-bottom: 24px;

    &-title {
      border-bottom: none;
      font-weight: 600;
      font-size: $te-font-size-medium;
      color: app-shade(black, 0.85);
    }

    &--first {
      margin-top: 0;
    }

    &--slim {
      margin-bottom: 0;
    }

    &--graph {
      margin-top: -55px;
    }

    &--micro {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  &__text-block {
    &--faded {
      color: $te-subtext;
      font-weight: 600;
    }
  }

  &__title {
    border-bottom: none;
    font-weight: 600;
    font-size: $te-font-size-medium;
    color: app-shade(black, 0.85);
  }

  &__section-submit {
    margin: $te-default-element-spacing 0 15px 0;
    padding-top: $te-default-element-spacing;
    text-align: right;
    border-top: 1px solid #E9E9E9;
  }

  &__sub-label,
  &__super-label {
    color: $te-subtext;
    font-weight: normal;
    text-align: left;
    background: none;
    background-color: white;
    line-height: 32px;

    &--strong {
      font-weight: 600;
    }

    &--raised {
      margin-top: -17px;
    }

    &--email {
      line-height: normal;
    }

    &--micro {
      line-height: 23px;
    }
  }

  &__radio-label {
    margin-left: 25px;
    font-weight: normal;
    color: $te-subtext;
  }

  &__input {
    &--required {
      box-shadow: 0 0 5px rgba(238, 81, 81, 0.69);
      padding: 3px 0px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgba(238, 81, 81, 0.52);
    }
  }

  &__spacer {
    margin-bottom: 15px;
  }

  &__alert {
    &--warning {
      display: inline-block;
      vertical-align: text-bottom;
      padding: 1px 7px;
      border-radius: 3px;
      border: 1px solid #faebcc;
    }
  }

  &__custom-field {
    &--lower {
      margin-top: 17px;
    }
  }

  &__banner {
    width: auto;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    padding-top: 10px;
    border-left: 30px solid;

    &--success {
      color: #1f5a8c;
      background-color: rgba(51, 122, 183, 0.22);
      border-color: #337ab7;
    }

    &--failure {
      border-color: #da9898;
    }

    &--pending {
      background-color: #f2f2f2;
      color: app-shade(black, 7);
      border-color: app-shade(black, 4);
    }

    button {
      opacity: 0.5;
    }
  }

  &__banner-title {
    font-size: $te-font-size-medium;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__note {
    padding: 9px 5px;
  }

  &__custom-label {
    font-size: 14px;
    margin-top: 10px;
  }

  &__table-index {
    text-align: center;
    width: 90px;
  }

  &__table-metric {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 280px;
  }

  &__table-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 480px;
  }

  // overriding bootstrap for create alert form
  .panel-title {
    color: #369ece;
    font-weight: 600;
    letter-spacing: .1px;
  }

  // overriding power-select basic field style
  .ember-power-select-trigger {
    padding-top: 2px;
    min-height: 2.4em !important;
    border: 1px solid app-shade(black, 0.25);
    border-radius: 2px;
    box-shadow: none;
    color: app-shade(black, 0.85);

    &:hover {
      border-color: app-shade(black, 0.55);
    }

    .ember-power-select-status-icon {
      border-top-color: app-shade(black, 0.7);
    }

    .ember-power-select-placeholder {
      color: app-shade(black, 0.55);
    }

    &[aria-disabled=true] {
      border-color: app-shade(black, 0.1);
      background-color: app-shade(black, 0);
      cursor: default;

      .ember-power-select-trigger-multiple-input {
        background-color: app-shade(black, 0);

        &::placeholder {
          color: app-shade(black, 0.25);
        }
      }

      .ember-power-select-status-icon {
        border-top-color: app-shade(black, 0.25);
      }
      .ember-power-select-placeholder {
        color: app-shade(black, 0.25);
      }
   }
  }
}
