<div class="form-group col-xs-12">
  {{#if data.length}}
    {{#bs-accordion as |accordion|}}
      {{#accordion.item
        title=title
        class="te-form__custom-label"
      }}
        {{models-table
          data=data
          columns=alertsTableColumns
          showGlobalFilter=false
          showColumnsDropdown=false
          filteringIgnoreCase=true
        }}
      {{/accordion.item}}
    {{/bs-accordion}}
  {{else}}
    <span class="alert-group-functions__item--id">No other alerts are monitored by this group yet.</span>
  {{/if}}
</div>
