<div class="col-xs-3">
  <label class="te-label te-label--small">Baseline
    <span>
      <i class="glyphicon glyphicon-question-sign"></i>
      {{#tooltip-on-element class="te-tooltip"}}
        This is the compare mode for computing the baseline in the charts above and below. For example, "Wo2W" uses data from the analysis period shifted by two weeks.
      {{/tooltip-on-element}}
    </span>
  </label>
  {{#power-select
    selected=compareModeFormatted
    options=compareModeOptions
    searchEnabled=false
    triggerId="select-compare-mode"
    onchange=(action "onCompareMode")
  as |mode|
  }}
    {{mode}}
  {{/power-select}}
</div>

{{!-- Custom Baseline Modal --}}
{{#te-modal
  isMicroModal=true
  cancelButtonText="Cancel"
  submitButtonText="Submit"
  submitAction=(action "onBaseline")
  cancelAction=(action "onCancel")
  isShowingModal=showBaselineModal
  headerText="Custom Baseline"
}}
  {{rootcause-custom-baseline
    bubbleBaseline=(action "updateCustomBaseline")
  }}
{{/te-modal}}

<div class="col-xs-9">
  <!-- Investigation range slider -->
  <div class="date-slider date-slider--offset">
    <div class="date-slider__picker">
      <div class="date-slider__picker-item">
        <label class="te-label te-label--small">Investigation Period
          <span>
            <i class="glyphicon glyphicon-question-sign"></i>
            {{#tooltip-on-element class="te-tooltip"}}
              Typically, this is your anomaly period. It is highlighted in orange in the graph above. It also affects the data in views below.
            {{/tooltip-on-element}}
          </span>
        </label>
      </div>
      <div class="date-slider__picker-item">
        {{date-range-picker
          class="te-range-picker te-range-picker__from"
          singleDatePicker=true
          showDropdowns=true
          timePicker=true
          timePicker24Hour=true
          timePickerIncrement=5
          start=startFormattedOneWay
          end=startFormattedOneWay
          maxDate=maxDateFormatted
          ranges=rangeOptions
          format=timeFormat
          serverFormat="YYYY-MM-DD HH:mm"
          applyAction=(action "onPickerRange" "start")
        }}
      </div>
      <div class="date-slider__picker-item">
        <label class="te-label te-label--small">to</label>
      </div>
      <div class="date-slider__picker-item">
        {{date-range-picker
          class="te-range-picker te-range-picker__to"
          singleDatePicker=true
          showDropdowns=true
          timePicker=true
          timePicker24Hour=true
          timePickerIncrement=5
          start=endFormattedOneWay
          end=endFormattedOneWay
          maxDate=maxDateFormatted
          ranges=rangeOptions
          format=timeFormat
          serverFormat="YYYY-MM-DD HH:mm"
          applyAction=(action "onPickerRange" "end")
        }}
      </div>
    </div>
    <div class="range-slider">
      <input type="text" class="js-range-slider" value="" />
    </div>
  </div>
</div>
