databaseConfiguration:
  #url: jdbc:h2:./config/h2db
  #user: sa
  #password: sa
  #driver: org.h2.Driver
  url: jdbc:mysql://MYSQL_HOSTNAME:MYSQL_PORT/THIRDEYE_DATABASE?allowPublicKeyRetrieval=true&useSSL=false
  user: MYSQL_USERNAME
  password: MYSQL_PASSWORD
  driver: com.mysql.cj.jdbc.Driver
