<div class="col-xs-6">
  <label class="te-label" for="select-filters">Metric
    <span>
      <i class="glyphicon glyphicon-question-sign"></i>
      {{#tooltip-on-element}}
        This metric is used to display and rank items in the view below.
      {{/tooltip-on-element}}
    </span>
  </label>
  {{rootcause-metric-select
    selectedUrn=primaryMetricUrn
    onSelection=(action "onMetric")
  }}
</div>
<div class="col-xs-4">
  <label class="te-label" for="select-filters">Dimension filters
    <span>
      <i class="glyphicon glyphicon-question-sign"></i>
      {{#tooltip-on-element}}
        These filters enable drill-down into specific dimensions of the metric (if applicable).
      {{/tooltip-on-element}}
    </span>
  </label>
  {{filter-select
    selected=filters
    options=filterOptions
    onChange=(action "onFilters")
  }}
</div>
{{#if primaryMetricUrn}}
  <div class="col-xs-2">
    <a class="thirdeye-link" {{action "onChart"}}>+ add to chart</a>
  </div>
{{/if}}
