/* Landing */

#landing-area,
#dashboard-start-logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dashboard-start-logo {
    margin-top: 10%;
}

/* Dashboard */

#dashboard-metric-view,
#dashboard-dimension-view {
    padding: 2%;
}

#dashboard-metric-view {
    padding-top: 175px;
    margin-top: -150px;
}

#dashboard-dimension-view {
    padding-top: 75px;
    margin-top: -75px;
}

#dashboard-output hr {
    margin-left: 2%;
    margin-right: 2%;
}

.dimension-combination {
    font-weight: bold;
    margin-bottom: 1%;
}

.uk-panel-title a:hover {
    text-decoration: none;
}

/* Side nav */

#sidenav-time-input-form .uk-form-row {
    margin-left: 5%;
}

#sidenav-timezone {
  text-indent: 20px;
}

#sidenav-error {
    display: none;
}

#sidenav-moving-average-controls {
    display: none;
}

#sidenav-derived-metrics {
    margin-top: 2%;
}

#sidenav-derived-metrics-list {
    margin-left: -5%;
    margin-right: 5%;
    margin-top: 2%;
}

#sidenav-derived-metrics-list select {
    margin-top: 1%;
}

#sidenav-metadata {
    margin-left: 5%;
}

#sidenav-metadata td {
    border-bottom: 0px;
    padding-left: 0px;
}

.sidenav-metadata-key {
    font-weight: bold;
}

.sidenav-feedback-link{
    padding:8px;
}

/* Metric */

.metric-table-down-cell {
    color: red;
}

.metric-table-same-cell {
    background-color: #FAFF94;
}

.metric-table-time {
    white-space: nowrap;
    cursor: pointer;
    text-decoration: underline;
}

.metric-table-group-1 {
    background-color: #eee
}

#time-nav-buttons {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

#metric-funnel-area {
    margin-top: 2%;
}

#metric-funnel-baseline-placeholder {
    width: 45%;
    float: left;
    margin-bottom: 2%;
}

#metric-funnel-current-placeholder {
    width: 45%;
    float: right;
    margin-bottom: 2%;
}

#metric-time-series-buttons {
    margin-bottom: 2%;
}

#metric-table-area {
    clear: both;
}

#metric-funnel-legend {
    clear: both;
}

#intra-day-buttons {
  clear: both;
  float: right;
  margin-bottom: 20px;
}

#intra-day-update-area {
  margin-top: 20px;
}

#intra-day-table{
    border: 1px solid #ddd;
}


/* Dimension */
/* Dimension - Tabular */

.dimension-tabular-table{
    border: 1px solid #ddd;
}

/* Dimension - Heat Map Tabular */

.dimension-heat-map-table-section{
    padding:0 0 10px;
    border: 1px solid #ccc;
    margin-bottom:20px;
}

.dimension-heat-map-table-section td{
    width: 100px;
    text-align:center;
}

.dimension-heat-map-table-section th{
    font-size: 9px;
}

.dimension-heat-map-container-title{
    background-color: #f5f5f5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    margin: 0 0 15px;
    padding: 10px 0 2px 12px;
    width: 100%;

}
.dimension-heat-map-container-title h2{
    display: inline-block;
    font-weight: 800;
}

.dimension-heat-map-container-title th{
    font-size: 14px;
    font-weight: 400;
}

.title-stat{
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}

.delta-ratio:after{
    content: "%";
}

.dimension-tabular-column-toggle-buttons{
    margin-bottom: 15px;
    margin-left: 12px;
}

.number_range_filter{
    width: 50px;
}

.dataTables_wrapper{
    display: table;
    width: 100%;
}

.dataTables_length,
.dataTables_info{
    padding-left: 12px;
}

.dataTables_filter{
    padding-right: 12px;
}
.dimension-heat-map-table-section table{
    white-space: normal;
    table-layout:fixed;
    width:100%
}

.filter-header th{
    text-align: center;
}

.filter-header .filter-header-s{
    width:60px;
}

.filter-header .filter-header-m{
    max-width:90px;
}

.filter-header .filter-header-l{
    width:110px;
}

.select_filter[rel="0"]{
    width:90px;
    font-size: 10px;
}

.filter_column input:not([value="Dimension Value"]){
    display: block;
    margin: auto;
}

input[value="Dimension Value"] {
    position: relative;
    top: 0;
    left: -3px;
    width: 80px;
    font-size: 10px;
}

td[dimension-val]{
    cursor: pointer;
    text-decoration: underline;
}

.dimension-heat-map-table-section td:nth-child(7)::after,
.dimension-heat-map-table-section td:nth-child(8)::after,
.dimension-heat-map-table-section td:nth-child(9)::after,
.dimension-heat-map-table-section td:nth-child(10)::after{
    content: "%";
}

.datatable-empty-cell::after{
    content: "-"
}

/* Dimension Tree Map */
.treemap-section{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px solid #ddd;
    padding: 0px
}

.dimension-treemap-toggle-buttons{
    margin-left: 12px;
    margin-bottom: 15px;
}

.treemap-display-tbl{
    width: 100%;
}

#dimension-heat-map-area .treemap-display-tbl-dim{
    width: 30px;
    white-space: nowrap;
    height: 102px;
}

.treemap-rotate{
    transform: translate(25px, 51px) rotate(315deg);
    -webkit-transform: translate(25px, 51px) rotate(305deg);
    width: 70px;
}

.treemap-rotate > div{
    position: relative;
    top: -50px;
    left: 20px;
    text-align: right;
}

.dimension-treemap{
    width: 100%;
    height:102px;
    display:inline-block
}

.treemap-tooltip{
    color: #000000;
    outline: none;
    text-decoration: none;
    position: relative;
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
    padding: 0.5em 0.8em 0.8em 2em;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
}



/* Dimension - Heat Map */

.dimension-heat-map-heat-map-section{
   border: 1px solid #ddd;
   padding: 12px;
}


#dimension-heat-map-section-heat-map-area,
#dimension-time-series-area {
    clear: both;
}

#dimension-time-series-buttons,
#dimension-heat-map-buttons {
    margin-bottom: 2%;
    clear: both;
}

.dimension-heat-map-filter-label{
    position: relative;
    left: -25px;
    top: -1px;
    padding: 4px 26px 7px 30px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius:  4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

#dimension-heat-map-filter:checked + label{
    background-color: #b9b9b9;
    border:1px solid #777;
}

.heat-map-buttons{
    float: right;
    padding-left: 20px;
}

.heat-map-buttons i,
.heat-map-buttons i:hover{
    border: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dimension-heat-map-filter-btn,
.dimension-heat-map-help-btn{
   width: 68px;
}

.dimension-heat-map-help-link{
    color: #444;
    position: relative;
    left: -13px;
    padding: 6px 30px 6px 30px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
}

.dimension-heat-map-help-link:hover{
    color: #222;
}


.dimension-heat-map-filter{
    width:1px; height:1px;
}

#dimension-view-heat-map-rendered table {
    border-collapse: collapse;
}


#dimension-heat-map-container td{
    border: 1px solid #ddd;
}

.cell-up, .cell-down{
    float: right;
}

#dimension-heat-map-explanation {
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}

#dimension-heat-map-explanation div {
  display: none;
}

#dimension-heat-map-explanation em {
  color: #ccc;
}



/* Both: Metric and Dimension */

.time-series-legend {
    overflow: hidden;
}

.up {
  background-color:green;
}

.down {
  background-color:red;
}

.collapser h2,
.collapser h3,
.collapser h4{
    color: #069;
    cursor: pointer;
    margin-top: 15px;
}

.red{
    color: red;
    font-weight: 800;
}

.blue{
    color: blue;
    font-weight: 800;
}




/* overwriting UIkit css */
.uk-button.uk-active, .uk-button:active{
    background-color: #ddd;
    color: #444;
    font-weight: 800;
}









