/* Color reference
normal text: #
grey text: #98989
main content background-color: #fff
grey background-color: #f5f5f5\
border color: #ddd
Note: Do not use this color scheme in a real design. It will look horrible.
*/

/* Landing */

#landing-area,
#dashboard-start-logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dashboard-start-logo {
    margin-top: 10%;
}

/* Dashboard */

li {
    font-size: 1em;
    vertical-align: top;
}

#dashboard-output hr {
    margin-left: 2%;
    margin-right: 2%;
}

#dashboard-dimension-view {
    padding: 2%;
    padding-top: 75px;
    margin-top: -75px;
}

.dimension-combination{
    border: 1px solid #ddd;
    position: absolute;
    top:111px;
    left: 30px;
    width: 90%;
    background-color: #f5f5f5;
    z-index:100;
}

.dimension-combination table {
    width: 100%;
    background-color: #f5f5f5;
    min-height: 31px;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.dimension-combination td span {
    font-weight: 400;
}

.uk-panel-title a:hover {
    text-decoration: none;
}

/* Side nav */

#sidenav-time-input-form .uk-form-row {
    margin-left: 5%;
}

#sidenav-timezone {
    text-indent: 20px;
}

#sidenav-error {
    display: none;
}

#sidenav-moving-average-controls {
    display: none;
}

#sidenav-metadata {
    margin-left: 5%;
}

#sidenav-metadata td {
    border-bottom: 0px;
    padding-left: 0px;
}

.sidenav-metadata-key {
    font-weight: bold;
}

.sidenav-feedback-link {
    padding: 8px;
}

/* Config Form */
#current-view-settings{
   padding-left: 0px;
}

#current-view-settings > li{
    display: inline-block;
    margin-right:10px;
}

#config-form-time-picker-box .hidden{
    display: none;
}

#time-input-comparison-size option{
    display: block;
}


/* Funnel Heatmap = Overview Tab*/

#custom-funnel-section{
    min-height: 300px;
    width: 100%;
    overflow-x: scroll;
}

#custom-funnel-section table,
#custom-funnel-section table th{
    line-height: 8px;
    text-align: center;
    font-size: 10px;
    padding: 6px;
    font-family: Arial, sans-serif;
    color: #898989;
}

#custom-funnel-section .metric-label:hover{
    text-decoration: underline;
}

#custom-funnel-section td:hover{
    color: #898989;
}

#custom-funnel-section .heat-map-cell:hover{
    text-decoration: underline;
    cursor: pointer;
}

#custom-funnel-section .funnel-table-time,
#custom-funnel-section th:first-child,
#custom-funnel-section td:first-child{
    white-space: nowrap;
}

.funnel-thumbnail-container{
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}

#funnel-thumbnails .funnel{
    width: 200px;
    overflow-x:scroll;
}

#funnel-thumbnails table{
    width: 20%;
    height: 200px;
    font-size: 7px;
    padding: 0px;
    border: 1px solid #ccc;
    margin: auto;
}

#funnel-thumbnails th,
#funnel-thumbnails td{
    padding: 0px;
    font-size: 3px;
    line-height: 8px;
    overflow: hidden;
}

#funnel-thumbnails td:first-child{
    font-size: 0px;
}

#funnel-thumbnails th {
    word-wrap: break-word;
}

#funnel-thumbnails .metric-list{
    font-size: 9px;
    font-weight: 800;
    margin: 0px;
}

#funnel-thumbnails .funnel{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: auto;
    padding: 5px;
}

#funnel-thumbnails .funnel:not(.uk-panel-box){
    background-color: #ddd;
}

#funnel-thumbnails .funnel.uk-panel-box{
    border: 1px solid #ccc;
}

#funnel-thumbnails>div:hover{
    cursor: pointer;
    background-color: #fff;
}


/* Contributors */
#dimension-contributor-area{
    width: 100%;
}

#dimension-contributor-area table{
    width: 100%;
    overflow-x: scroll;
}

#dimension-contributor-area table.fixed-table-layout{
    table-layout: fixed;
}

#dimension-contributor-area table td,
#dimension-contributor-area table th{
    line-height: 8px;
    font-size: 10px;
    padding: 6px;
    font-family: Arial, sans-serif;
    color: #898989;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#dimension-contributor-area .select_all_cell,
#dimension-contributor-area .row-title{
    border: 1px solid #ddd;
}

#dimension-contributor-area .contributors-table-date{
    font-weight: 600;
    width: 150px;
}

#dimension-contributor-area table tr td:first-child {
    word-wrap: break-word;
}

#dimension-contributor-area td:hover{
    color: #898989;
}

#dimension-contributor-area .divider-cell{
    border-left: 1px solid #ddd;
    border-top:none;
    border-right: 1px solid #ddd;

}

#dimension-contributor-area .divider-row{
    line-height: 8px;
    height: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    text-align: left;
}

#dimension-contributor-area .data-row{
    border-top: 1px solid #ddd;
}

#dimension-contributor-area .contributors-table-time{
    font-weight: 600;
}

#dimension-contributor-area .checkbox-cell{
    width:15px;
}
#dimension-contributor-area .dimension-value-cell{
    width:100px;
    word-wrap: break-word;
}

#dimension-contributor-area .heat-map-cell{
   border-right: 1px solid #ddd;
}


#dimension-contributor-area .dimension-value-cell{
    border: 1px solid #ddd;
    width: 100px;
}

#dimension-contributor-area .contributors-table-date,
#dimension-contributor-area .contributors-table-time{
    border: 1px solid #ddd;
}

#dimension-contributor-area .checkbox-cell{
   width:15px;
    border: 1px solid #ddd;
    padding: 0px;
}


/* Metric */

.metric-table-down-cell {
    color: red;
}

.metric-table-same-cell {
    background-color: #FAFF94;
}

.metric-table-time {
    white-space: nowrap;
    cursor: pointer;
    text-decoration: underline;
}

.metric-table-group-1 {
    background-color: #eee
}

#metric-funnel-area {
    margin-top: 2%;
}

#metric-funnel-baseline-placeholder {
    width: 45%;
    float: left;
    margin-bottom: 2%;
}

#metric-funnel-current-placeholder {
    width: 45%;
    float: right;
    margin-bottom: 2%;
}

#metric-time-series-buttons {
    margin-bottom: 2%;
}

#metric-table-area {
    clear: both;
}

#metric-funnel-legend {
    clear: both;
}

#intra-day-buttons {
    clear: both;
    float: right;
    margin-bottom: 20px;
}

#intra-day-update-area {
    margin-top: 20px;
}

#intra-day-table,
#intra-day-table th{
    line-height: 8px;
    font-size: 10px;
    padding: 6px;
    font-family: Arial, sans-serif;
    color: #898989;
    border-collapse: collapse;
}

/* Dimension */
.section-wrapper{
    border-bottom: 3px solid #d5d5d5;
    margin-bottom: 10px;
}

.heatmap-tabs,
.funnel-tabs {
    margin-top: 20px;
    margin-bottom: -1px;
}

.heatmap-tabs li a,
.funnel-tabs li a {
    border-color: #ddd #ddd transparent;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    color: #444;
}

/* Dimension - Tabular */

.dimension-tabular-table {
    border: 1px solid #ddd;
}

/* Dimension - Heat Map Tabular */

.dimension-heat-map-table-section {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    padding: 0 0 10px;
    margin-bottom: 20px;
}

.dimension-heat-map-table-section td {
    width: 100px;
    text-align: center;
}

.dimension-heat-map-table-section th {
    font-size: 9px;
}

.title-box {
    background-color: #f5f5f5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px
    -moz-border-radius: 0px 0px 4px 4px
    -webkit-border-radius: 0px 0px 4px 4px
    border: 1px solid #ddd;
    height: auto;
    margin: 0 0 15px;
    padding: 10px 0 0 12px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.title-box p {
    margin: 0;
    font-weight: 800;
    line-height: 10px;
}

.title-box table {
    width: 100%;
    table-layout: fixed;
    line-height: 18px;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.title-box th {
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
}

.title-stat {
    font-size: 10px;
    font-weight: 800;
    text-align: center;
}

.delta-ratio:after {
    content: "%";
}

.dimension-tabular-column-toggle-buttons {
    margin-bottom: 15px;
    margin-left: 12px;
}

.number_range_filter {
    width: 50px;
}

.dataTables_wrapper {
    display: table;
    width: 100%;
}

.dataTables_length,
.dataTables_info {
    padding-left: 12px;
}

.dataTables_filter {
    padding-right: 12px;
}

.dimension-heat-map-table-section table {
    white-space: normal;
    table-layout: fixed;
    width: 100%
}

.filter-header th {
    text-align: center;
}

.filter-header .filter-header-s {
    width: 60px;
}

.filter-header .filter-header-m {
    max-width: 90px;
}

.filter-header .filter-header-l {
    width: 110px;
}

.select_filter[rel="0"] {
    width: 90px;
    font-size: 10px;
}

.filter_column input:not([value="Dimension Value"]) {
    display: block;
    margin: auto;
}

input[value="Dimension Value"] {
    position: relative;
    top: 0;
    left: -3px;
    width: 80px;
    font-size: 10px;
}

td[dimension-val] {
    cursor: pointer;
    text-decoration: underline;
}

.dimension-heat-map-table-section td:nth-child(7)::after,
.dimension-heat-map-table-section td:nth-child(8)::after,
.dimension-heat-map-table-section td:nth-child(9)::after,
.dimension-heat-map-table-section td:nth-child(10)::after {
    content: "%";
}

.datatable-empty-cell::after {
    content: "-"
}

/* Dimension Tree Map */

.dimension-heat-map-treemap-section {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    padding: 0px;
}

.dimension-treemap-toggle-buttons {
    margin-left: 12px;
    margin-bottom: 15px;
}

.treemap-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.treemap-container * {
    box-sizing: border-box;
}

.treemap-container tbody{
    vertical-align: middle;
}

.treemap-display-tbl {
    width: 100%;
}

#dimension-heat-map-area .treemap-display-tbl-dim {
    width: 30px;
    white-space: nowrap;
    height: 102px;
}

.treemap-rotate {
    transform: translate(25px, 51px) rotate(315deg);
    -webkit-transform: translate(25px, 51px) rotate(305deg);
    width: 70px;
}

.treemap-rotate > div {
    position: relative;
    top: -50px;
    left: 20px;
    text-align: right;
}

.dimension-treemap {
    width: 100%;
    height: 102px;
    display: inline-block
}

.treemap-tooltip {
    color: #000;
    outline: none;
    text-decoration: none;
    position: relative;
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
    padding: 0.5em 0.8em 0.8em 2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    z-index: 100;
}

/* Dimension - Heat Map */

.dimension-heat-map-heat-map-section {
    border: 1px solid #ddd;
    padding: 12px;
}

#dimension-heat-map-section-heat-map-area,
#dimension-time-series-area {
    clear: both;
}

#dimension-time-series-buttons,
#dimension-heat-map-buttons {
    margin-bottom: 2%;
    clear: both;
}

.time-series-legend {
    overflow: hidden;
    margin-bottom: 15px;
}


.cell-up,
.cell-down {
    float: right;
}





/* Both: used on multiple views */



.up {
    background-color: green;
}

.down {
    background-color: red;
}

.close{
    position: absolute;
    right:5px; color:#444;
}

.collapser h2,
.collapser h3,
.collapser h4 {
    color: #069;
    cursor: pointer;
    margin-top: 15px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.plus-symbol:before {
    content: "+";
}

.sticky {
    position: fixed;
    top: 40px;
    z-index: 100;
    border-top: 0;
    margin-right: 1.5%;
}

.sticky td {
    padding-top: 0px;
}

.hidden {
    display: none;
}

/* overwriting UIkit css */

.uk-button.uk-active,
.uk-button:active,
li.uk-active a {
    background-color: #ddd;
    color: #444;
    font-weight: 800;
}
