/* Landing */

#landing-area,
#dashboard-start-logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dashboard-start-logo {
    margin-top: 10%;
}

/* Dashboard */

#dashboard-metric-view,
#dashboard-dimension-view {
    padding: 2%;
}

#dashboard-metric-view {
    padding-top: 175px;
    margin-top: -150px;
}

#dashboard-dimension-view {
    padding-top: 75px;
    margin-top: -75px;
}

#dashboard-output hr {
    margin-left: 2%;
    margin-right: 2%;
}

.dimension-combination {
    font-weight: bold;
    margin-bottom: 1%;
}

.uk-panel-title a:hover {
    text-decoration: none;
}

/* Side nav */

#sidenav-time-input-form .uk-form-row {
    margin-left: 5%;
}

#sidenav-timezone {
  text-indent: 20px;
}

#sidenav-error {
    display: none;
}

#sidenav-moving-average-controls {
    display: none;
}

#sidenav-derived-metrics {
    margin-top: 2%;
}

#sidenav-derived-metrics-list {
    margin-left: -5%;
    margin-right: 5%;
    margin-top: 2%;
}

#sidenav-derived-metrics-list select {
    margin-top: 1%;
}

#sidenav-metadata {
    margin-left: 5%;
}

#sidenav-metadata td {
    border-bottom: 0px;
    padding-left: 0px;
}

.sidenav-metadata-key {
    font-weight: bold;
}

.sidenav-feedback-link{
    padding:8px;
}

/* Metric */

.metric-table-down-cell {
    color: red;
}

.metric-table-same-cell {
    background-color: #FAFF94;
}

.metric-table-time {
    white-space: nowrap;
    cursor: pointer;
    text-decoration: underline;
}

.metric-table-group-1 {
    background-color: #eee
}

#time-nav-buttons {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

#metric-funnel-area {
    margin-top: 2%;
}

#metric-funnel-baseline-placeholder {
    width: 45%;
    float: left;
    margin-bottom: 2%;
}

#metric-funnel-current-placeholder {
    width: 45%;
    float: right;
    margin-bottom: 2%;
}

#metric-time-series-buttons {
    margin-bottom: 2%;
}

#metric-table-area {
    clear: both;
    margin-top: 5%;
}

#metric-funnel-legend {
    clear: both;
}

/* Dimension */

#dimension-heat-map-area,
#dimension-time-series-area {
    clear: both;
}

#dimension-time-series-buttons,
#dimension-heat-map-buttons {
    margin-bottom: 2%;
    clear: both;
}

.dimension-heat-map-filter-label{
    position: relative;
    left: -25px;
    top: -1px;
    padding: 4px 26px 7px 30px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius:  4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

#dimension-heat-map-filter:checked + label{
    background-color: #b9b9b9;
    border:1px solid #777;
}

.heat-map-buttons{
    float: right;
}

.heat-map-buttons i,
.heat-map-buttons i:hover{
    border: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dimension-heat-map-filter-btn,
.dimension-heat-map-help-btn{
   width: 68px;
}

.dimension-heat-map-help-link{
    color: #444;
    position: relative;
    left: -13px;
    padding: 6px 30px 6px 30px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
}

.dimension-heat-map-help-link:hover{
    color: #222;
}


.dimension-heat-map-filter{
    width:1px; height:1px;
}

#dimension-view-heat-map-rendered table {
    border-collapse: collapse;
}


#dimension-heat-map-container td{
    border: 1px solid #ddd;
}

.cell-up, .cell-down{
    float: right;
}

/* Both */

.time-series-legend {
    overflow: hidden;
}
