rules:
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?).authorization\"><>(\\w+)"
  name: "pinot_broker_authorization_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.documentsScanned\"><>(\\w+)"
  name: "pinot_broker_documentsScanned_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.entriesScannedInFilter\"><>(\\w+)"
  name: "pinot_broker_entriesScannedInFilter_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.entriesScannedPostFilter\"><>(\\w+)"
  name: "pinot_broker_entriesScannedPostFilter_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.freshnessLagMs\"><>(\\w+)"
  name: "pinot_broker_freshnessLagMs_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.queries\"><>(\\w+)"
  name: "pinot_broker_queries_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.queryExecution\"><>(\\w+)"
  name: "pinot_broker_queryExecution_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.queryRouting\"><>(\\w+)"
  name: "pinot_broker_queryRouting_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.reduce\"><>(\\w+)"
  name: "pinot_broker_reduce_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.requestCompilation\"><>(\\w+)"
  name: "pinot_broker_requestCompilation_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.scatterGather\"><>(\\w+)"
  name: "pinot_broker_scatterGather_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.totalServerResponseSize\"><>(\\w+)"
  name: "pinot_broker_totalServerResponseSize_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)_(OFFLINE|REALTIME).groupBySize\"><>(\\w+)"
  name: "pinot_broker_groupBySize_$3"
  cache: true
  labels:
    table: "$1"
    tableType: "$2"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)_(OFFLINE|REALTIME).noServingHostForSegment\"><>(\\w+)"
  name: "pinot_broker_noServingHostForSegment_$3"
  cache: true
  labels:
    table: "$1"
    tableType: "$2"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.healthcheck(\\w+)\"><>(\\w+)"
  name: "pinot_broker_healthcheck_$1_$2"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.helix.(\\w+)\"><>(\\w+)"
  name: "pinot_broker_helix_$1_$2"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.helixZookeeper(\\w+)\"><>(\\w+)"
  name: "pinot_broker_helix_zookeeper_$1_$2"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.nettyConnection(\\w+)\"><>(\\w+)"
  name: "pinot_broker_nettyConnection_$1_$2"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.unhealthyServers\"><>(\\w+)"
  name: "pinot_broker_unhealthyServers_$1"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.clusterChangeCheck\"\"><>(\\w+)"
  name: "pinot_broker_clusterChangeCheck_$1"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.proactiveClusterChangeCheck\"><>(\\w+)"
  name: "pinot_broker_proactiveClusterChangeCheck_$1"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.(\\w+)Exceptions\"><>(\\w+)"
  name: "pinot_broker_exceptions_$1_$2"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.routingTableUpdateTime\"><>(\\w+)"
  name: "pinot_broker_routingTableUpdateTime_$1"
  cache: true
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.brokerResponsesWithPartialServersResponded\"><>(\\w+)"
  name: "pinot_broker_brokerResponsesWithPartialServersResponded_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.queryTimeout\"><>(\\w+)"
  name: "pinot_broker_queryTimeout_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.noServerFoundExceptions\"><>(\\w+)"
  name: "pinot_broker_noServerFoundExceptions_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.brokerResponsesWithProcessingExceptions\"><>(\\w+)"
  name: "pinot_broker_brokerResponsesWithProcessingExceptions_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.brokerResponsesWithNumGroupsLimitReached\"><>(\\w+)"
  name: "pinot_broker_brokerResponsesWithNumGroupsLimitReached_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.queryQuotaExceeded\"><>(\\w+)"
  name: "pinot_broker_queryQuotaExceeded_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.queryTotalTimeMs\"><>(\\w+)"
  name: "pinot_broker_queryTotalTimeMs_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)_(OFFLINE|REALTIME).serverMissingForRouting\"><>(\\w+)"
  name: "pinot_broker_serverMissingForRouting_$3"
  cache: true
  labels:
    table: "$1"
    tableType: "$2"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.deserialization\"><>(\\w+)"
  name: "pinot_broker_deserialization_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"org.apache.pinot.common.metrics\"<type=\"BrokerMetrics\", name=\"pinot.broker.([^\\.]*?)\\.requestConnectionWait\"><>(\\w+)"
  name: "pinot_broker_requestConnectionWait_$2"
  cache: true
  labels:
    table: "$1"
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.version\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_version"
  cache: true
  labels:
    version: "$2"

  ## Metrics that fit the catch-all patterns above should not be added to this file.
  ## In case a metric does not fit the catch-all patterns, add them before this comment

  # This is a catch-all pattern for pinot table metrics with offline/realtime suffix.
  # Patterns after this line may be skipped.
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.(\\w+)_(OFFLINE|REALTIME)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$4_$5"
  cache: true
  labels:
    table: "$2"
    tableType: "$3"
  # This is a catch-all pattern for pinot table metrics. Patterns after this line may be skipped.
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.(\\w+)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$3_$4"
  cache: true
  labels:
    table: "$2"
  # This is a catch-all pattern for pinot controller metrics not related to tables. Patterns after this line may be skipped.
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$2_$3"
  cache: true
