rules:
#Meters/timers that accept tableNameWithType
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.((\\w+)\\.)?(\\w+)_(OFFLINE|REALTIME)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$6_$7"
  cache: true
  labels:
    database: "$3"
    table: "$2$4"
    tableType: "$5"
#Gauges that accept tableNameWithType
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.(\\w+)\\.((\\w+)\\.)?(\\w+)_(OFFLINE|REALTIME)\\\"?><>(\\w+)"
  name: "pinot_$1_$2_$7"
  cache: true
  labels:
    database: "$4"
    table: "$3$5"
    tableType: "$6"
  #Gauges that accept raw table name. Add any new metric names to (requestSize) group
  #We've to hardcode metric names otherwise meters/timers start colliding with this regexp. This happens due to inconsistent naming convention of gauges. Ref: https://github.com/apache/pinot/pull/14348#pullrequestreview-2480114447
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"BrokerMetrics\", name=\"pinot\\.broker\\.(requestSize)\\.(([^.]+)\\.)?([^.]*)\"><>(\\w+)"
  name: "pinot_broker_$1_$5"
  cache: true
  labels:
    database: "$3"
    table: "$2$4"
  #Meters/timers that accept rawTableName
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.((\\w+)\\.)?(\\w+)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$5_$6"
  cache: true
  labels:
    database: "$3"
    table: "$2$4"
  #These five meters are exported as `pinot_broker_exceptions_`. This regex has been added to maintain backward compat. Don't add more metrics to this list. They should rather be exported as `pinot_broker_myException`
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"BrokerMetrics\", name=\"pinot\\.broker\\.(uncaughtGet|uncaughtPost|queryRejected|requestCompilation|resourceMissing)Exceptions\"><>(\\w+)"
  name: "pinot_broker_exceptions_$1_$2"
  cache: true
  # All global gauge/meters/timers
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.broker\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_broker_$1_$2"
  cache: true
