rules:
# Gauges that accept tableNameWithType
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.(\\w+)\\.((\\w+)\\.)?(\\w+)_(OFFLINE|REALTIME)\\\"?><>(\\w+)"
  name: "pinot_$1_$2_$7"
  cache: true
  labels:
    database: "$4"
    table: "$3$5"
    tableType: "$6"
# Gauges that accept tableNameWithType + partition
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.(\\w+)\\.((\\w+)\\.)?(\\w+)_(OFFLINE|REALTIME)\\.(\\d+)\"?><>(\\w+)"
  name: "pinot_$1_$2_$8"
  cache: true
  labels:
    database: "$4"
    table: "$3$5"
    tableType: "$6"
    partition: "$7"
# Gauges that accept the controller taskType
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.(numMinionTasksInProgress|numMinionSubtasksRunning|numMinionSubtasksWaiting|numMinionSubtasksError|numMinionSubtasksUnknown|numMinionSubtasksDropped|numMinionSubtasksTimedOut|numMinionSubtasksAborted|percentMinionSubtasksInQueue|percentMinionSubtasksInError)\\.(\\w+)\"><>(\\w+)"
  name: "pinot_controller_$1_$3"
  cache: true
  labels:
    taskType: "$2"
# We hardcode `cronScheduleJobScheduled` and `periodicTaskError`
# cronScheduleJobScheduled exports the label `table=${tableName}_${tableType}.
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.cronSchedulerJobScheduled\\.(([^.]+)\\.)?([^.]*)\\.(\\w+)\"><>(\\w+)"
  name: "pinot_controller_cronSchedulerJobScheduled_$5"
  cache: true
  labels:
    database: "$2"
    table: "$1$3"
    taskType: "$4"
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.(([^.]+)\\.)?([^.]*)_(OFFLINE|REALTIME)\\.(\\w+)\\.periodicTaskError\"><>(\\w+)"
  name: "pinot_controller_periodicTaskError_$6"
  cache: true
  labels:
    database: "$2"
    table: "$1$3"
    tableType: "$4"
    periodicTask: "$5"
# Gauges that accept tableNameWithType + the controller taskType
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.([^.]*)\\.(([^.]+)\\.)?([^.]*)_(OFFLINE|REALTIME)\\.(\\w+)\"><>(\\w+)"
  name: "pinot_controller_$1_$7"
  cache: true
  labels:
    database: "$3"
    table: "$2$4"
    tableType: "$5"
    taskType: "$6"
# Gauge for rebalanceJobId and tableNameWithType
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.(tableRebalanceJobAddingProgressPercent|tableRebalanceJobDeletingProgressPercent)\\.(([^.]+)\\.)?([^.]*)_(OFFLINE|REALTIME)\\.([0-9a-fA-F-]+)\"><>(\\w+)"
  name: "pinot_controller_$1_$7"
  cache: true
  labels:
    database: "$3"
    table: "$2$4"
    tableType: "$5"
    jobId: "$6"
  # Special handling for timers like cronSchedulerJobExecutionTimeMs and tableRebalanceExecutionTimeMs which use table name, table type and another string for status / taskType
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.(([^.]+)\\.)?([^.]*)_(OFFLINE|REALTIME)\\.(\\w+)\\.cronSchedulerJobExecutionTimeMs\"><>(\\w+)"
  name: "pinot_controller_cronSchedulerJobExecutionTimeMs_$6"
  cache: true
  labels:
    database: "$2"
    table: "$1$3"
    tableType: "$4"
    taskType: "$5"
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.(([^.]+)\\.)?([^.]*)_(OFFLINE|REALTIME)\\.(\\w+)\\.tableRebalanceExecutionTimeMs\"><>(\\w+)"
  name: "pinot_controller_tableRebalanceExecutionTimeMs_$6"
  cache: true
  labels:
    database: "$2"
    table: "$1$3"
    tableType: "$4"
    status: "$5"
# Gauges that accept taskType and task status
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.([^.]*)\\.([^.]*)\\.(\\w+)\"><>(\\w+)"
  name: "pinot_controller_$1_$4"
  cache: true
  labels:
    taskType: "$2"
    status: "$3"
# Meter for controller periodic tasks runs
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"?pinot\\.controller\\.(\\w+)\\.controllerPeriodicTaskRun\"?><>(\\w+)"
  name: "pinot_controller_periodicTaskRun_$1_$2"
  cache: true
# Meters/timers that accept tableNameWithType
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.((\\w+)\\.)?(\\w+)_(OFFLINE|REALTIME)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$6_$7"
  cache: true
  labels:
    database: "$3"
    table: "$2$4"
    tableType: "$5"
# Meters/timers that accept rawTableName
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.((\\w+)\\.)?(\\w+)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$5_$6"
  cache: true
  labels:
    database: "$3"
    table: "$2$4"
# Global meters that have prefix `controller`
- pattern: "\"org\\.apache\\.pinot\\.common\\.metrics\"<type=\"ControllerMetrics\", name=\"pinot\\.controller\\.controller(\\w+)\"><>(\\w+)"
  name: "pinot_controller_$1_$2"
  cache: true
# Global gauges/meters/timers
- pattern: "\"?org\\.apache\\.pinot\\.common\\.metrics\"?<type=\"?\\w+\"?, name=\"?pinot\\.(\\w+)\\.(\\w+)\"?><>(\\w+)"
  name: "pinot_$1_$2_$3"
  cache: true

