.alert-report-modal {
  &__body {
    height: 60vh;
    margin-top: 0;
    border: none;
    padding: 24px;
  }

  &__field-wrapper {
    margin-top: 20px;
  }
}

.report-toggle {
  font-size: 18px;
  margin-top: 10px
}

.te-report-title {
  margin: 0;
  border-bottom: none;
  font-weight: 600;
  font-size: 17px;
  color: app-shade(black, 0.85);
}
