.alert-details {
  .mdi-error-outline {
    width: 19px;

    &::before {
      font-size: 16px;
    }
  }

  .alert-details-msg-forecast {
    color: grey;

    &__icon {
      font-size: 20px;
      &--error {
        padding-right: 5px;
      }
    }

    &__tooltip-link {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .col-xs-2 {
    &.no-padding {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .col-xs-4 {
    &.no-padding {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .col-xs-12 {
    &.no-padding {
      padding-left: 0px;
      padding-right: 0px;
    }

    &.margin-top {
      margin-top: 12px;
      padding-left: 24px;
      padding-right: 24px;
    }

    &.preview {
      margin-top: 12px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
