.anomaly-id {
  list-style: none;
  font-size: $te-font-size-small;
  font-weight: lighter;
  width: 100%;
  margin-top: $te-nav-link-height;
  padding: 0;

  &__item {
    line-height: $te-list-line-height;

    &--title {
      font-size: $te-font-size-component-title;
    }

    &--value {
      font-size: $te-font-size-medium;
      font-weight: normal;
    }
  }

  &__subtitle {
    font-weight: normal;
  }

  &__total {
    font-weight: bold;
  }

  &__percent {
    color: $anomaly-id-percent-change;
  }
}
