// Shared styling for buttons

.te-button {
  border-radius: 2px;
  border: 1px solid #339bc7;
  margin: 0 1px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;

  &--small {
    height: 32px;
    padding: 5px 15px;
  }

  &--cancel {
    background-color: #fff;
    color: #339bc7;
    a {
      color: #339bc7;
    }
    &:hover,
    &:focus,
    &:active,
    a:hover {
      color: #339bc7;
      text-decoration: none;
    }
  }

  &--muted {
    background-color: #fff;
    border-color: app-shade(black, 0.55);
    color: app-shade(black, 0.55);
    a {
      color: app-shade(black, 0.55);
    }
    &:hover,
    &:focus,
    &:active,
    a:hover {
      background-color: rgba(207, 207, 207, 0.25);
      border-color: app-shade(black, 0.75);
      color: app-shade(black, 0.75);
      text-decoration: none;
    }
  }

  &--submit {
    margin-left: 4px;
    background-color: $te-blue-7;
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    a:hover {
      color: #fff;
      text-decoration: none;
      background-color: $te-blue-8;
    }
  }

  &--link {
    border-color: #fff;
    color: $te-blue;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $te-blue;
      text-decoration: none;
    }
  }

  &--link-grey {
    border-color: transparent;
    color: grey;
    background-color: inherit;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;

    &:hover {
      color: grey;
      text-decoration: none;
    }
  }

  &--link-white {
    border-color: #fff;
    color: #fff;
    background-color: inherit;
    text-decoration: none;
  }

  &--outline {
    color: $te-blue;
    background-color: transparent;
    &:hover {
      background-color: $te-blue;
      color: #fff;
    }
  }
}

.te-button__no-border button {
  border-radius: 2px;
  border: none !important;
  margin: 0 1px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  border-color: #fff;
  color: $te-blue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $te-blue;
    text-decoration: none;
  }
}
