// Shared styling for buttons

.te-button {
  border-radius: 2px;
  border: 1px solid #339BC7;
  margin: 0 1px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;

  &--small {
    height: 32px;
    padding: 5px 15px;
  }

  &--cancel {
    background-color: white;
    color: #339BC7;
    a {
      color: #339BC7;
    }
    &:hover,
    &:focus,
    &:active,
    a:hover {
      color: #339BC7;
      text-decoration: none;
    }
  }

  &--muted {
    background-color: white;
    border-color: app-shade(black, 0.55);
    color: app-shade(black, 0.55);
    a {
      color: app-shade(black, 0.55);
    }
    &:hover,
    &:focus,
    &:active,
    a:hover, {
      background-color: rgba(207,207,207,.25);
      border-color: app-shade(black, 0.75);
      color: app-shade(black, 0.75);
      text-decoration: none;
    }
  }

  &--submit {
    margin-left: 4px;
    background-color: $te-blue-7;
    color: white;

    &:hover,
    &:focus,
    &:active,
    a:hover {
      color: white;
      text-decoration: none;
      background-color: $te-blue-8;
    }
  }

  &--link {
    border-color: white;
    color: $te-blue;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $te-blue;
      text-decoration: none;
    }
  }

  &--outline {
    color: $te-blue;
  }
}
