.card-container {
  background-color: white;
  margin-top: $te-spacing--lg;
  margin-bottom: $te-spacing--lg;
  border: 1px solid $te-grey--border;

  &--padded {
    padding: $te-spacing--lg;
  }

  &--space-around {
    margin: $te-spacing--md;
  }

  &--flush-top {
    padding-top: 0;
    margin-top: 0;
  }

  &--box-shadow {
    border-color: transparent;
    box-shadow:
      0 0 0 1px app-shade(black, 0.1),
      0 2px 3px 0 app-shade(black, 0.2);
  }

  &--no-border {
    border: none;
  }

  &--md {
    margin-top: $te-spacing--md;
    margin-bottom: $te-spacing--md;
  }

  &__row {
    padding: 12px $te-spacing--md;
    &--flex {
      display: flex;
      align-items: flex-end;
    }
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $te-grey--border;
    padding: 10px $te-spacing--md;
    color: app-shade(black, 0.85);

    &--no-border {
      border: none;
    }

    &--flush-bottom {
      padding-bottom: 0;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: app-shade(black, 9);
    margin-bottom: 0;

    &--grow {
      flex: 1;
      align-self: flex-end;
    }
  }

  &__subnav {
    margin-right: $te-spacing--md;
    font-size: 17px;
  }

  &__body {
    padding: $te-spacing--lg;

    &--padding-md {
      padding: $te-spacing--md;
    }
    &--flush-bottom {
      padding-bottom: 0;
    }
  }
}
