.detection-yaml {
  .mdi-error-outline {
    width: 19px;

    &::before {
      font-size: 16px;
    }
  }

  .detection-yaml-msg {
    color: #e75858;

    &__icon {
      font-size: 20px;
      &--error {
        padding-right: 5px;
      }
    }

    &__tooltip-link {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .detection-yaml-msg-preview {
    color: #e75858;

    &__icon {
      font-size: 20px;
      &--error {
        padding-right: 5px;
      }
    }

    &__tooltip-link {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .col-xs-4 {
    margin-bottom: 20px;
  }

  .col-xs-12 {
    &.bottom-margin {
      margin-bottom: 10px;
    }
  }
}

.col-md-10 {
  &.no-padding {
    padding: 0px;
  }
}

.ace_editor.ace_autocomplete {
  width: 650px;
}
