// Copy paste from the old Thirdeye UI
.dimension-heatmap {
  margin-top: 24px;
}

.dimension-heatmap__table {
  margin-bottom: 0;
}

.heatmap {
  background-color: #f5f5f5;
}

.analysis-tooltip {
  font-size: 14px;
}

.analysis-tooltip__header {
  font-weight: bold;
}

.analysis-tooltip__column {
  text-align: right;
}

.analysis-tooltip__column-header {
  text-align: left;
}

.analysis-tooltip__container {
  width: 400px;
}

.analysis-tooltip__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.analysis-tooltip__list-item {
  display: flex;
  justify-content: space-between;
}

#tooltip,
#heatmap-tooltip {
  position: absolute;
  min-width: 300px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;

  &.hidden {
    display: none;
  }

  & p {
    margin: 0;
    font-size: 13px;
  }
}

