.entity-filter {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid $te-grey--border;

  &__head {
    padding-bottom: 5px;
    padding: 10px $te-filter-element-spacing;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__group {
    padding: 5px $te-filter-element-spacing;
    border-top: 1px solid $te-grey--border;

    &--link {
      padding: 0;
    }
  }

  &__group-title {
    width: 100%;
    line-height: 31px;
  }

  &__group-icon {
    float: right;
    font-size: 12px;
    margin-top: 8px;
    color: app-shade(black, 6);

    &:hover {
      color: black;
    }
  }

  &__group-toggle {
    font-weight: 400;
    color: app-shade(black, 7);

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }

  &__group-filter {
    list-style: none;

    &--link {
      line-height: 34px;
      padding: 0 $te-filter-element-spacing;
      font-size: 15px;

      &:hover {
        cursor: pointer;
        font-weight: 600;
        background-color: app-shade(black, 1);
      }
    }

    &--selected {
      font-weight: 600;
      background-color: app-shade(black, 1);
    }
  }

  &__group-list {
    padding-left: 0;
    margin-top: 15px;

    &--hidden {
      display: none;
    }

    &--link {
      margin:0;
    }
  }

  &__group-label {
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    word-break: break-all;
    vertical-align: middle;
    overflow: hidden;
    max-height: 21px;
    max-width: 170px;
    vertical-align: middle;
    line-height: 21px;

    &--truncated {
      &:before {
        content: '...';
        position: absolute;
        right: 41px;
      }
    }
  }

  .btn span.glyphicon {
  opacity: 0;
  }
  .btn.active span.glyphicon {
    opacity: 1;
  }
}
