.filter-bar {
  background-color: white;
  border: 1px solid $te-grey--border;
  color: app-shade(black, 0.85);

  &__group {
    &:not(:first-of-type) {
      border-top: 1px solid $te-grey--border;
    }
  }

  &__group-title {
    padding: 15px $te-default-element-spacing;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    border-left: 3px solid transparent;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
    &--active {
      border-left: 3px solid $te-blue-5;
      font-weight: 600;
    }
  }

  &__indicator {
    display: flex;
    align-items: center;
  }

  &__header {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &__group-toggle {
    margin-left: 4px;
    color: app-shade(black, 3);
    font-weight: 300;
  }

  &__group-list {
    border-top: 1px solid $te-grey--border;
    padding: 25px $te-default-element-spacing;
    margin-bottom: 0px;
    background-color: #F3F6F8;

    &--hidden {
      display: none;
    }
  }

  &--spinner {
    position: relative;
    width: 10px;
    margin-right: 10px;
  }
}

// creates filter-bar__group-color--"color" classes
$colors:
  "blue" $te-blue,
  "orange" $te-orange,
  "teal" $te-teal,
  "purple" $te-purple,
  "red" $te-red,
  "green" $te-green,
  "pink" $te-pink,
  "grey" $te-grey,
  "light-blue" $te-light-blue,
  "light-orange" $te-light-orange,
  "light-teal" $te-light-teal,
  "light-purple" $te-light-purple,
  "light-red" $te-light-red,
  "light-green" $te-light-green,
  "light-pink" $te-light-pink,
  "light-grey" $te-light-grey;

.entity-indicator {
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  @each $i in $colors {
    &--#{nth($i, 1)} {
      background-color: nth($i, 2);
    }
  };

  &--flat {
    height: 2px;
    border-radius: 0px;
    vertical-align: middle;
    margin-right: 0;
  }

  &--square {
    height: 10px;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 0;
  }

  &--inactive {
    background-color: app-shade(black, 1);
    transition: background-color 0.2s ease-in;
  }
}
