.filter-bar {

  background-color: white;
  border: 1px solid $te-grey--border;

  &__group {
    border-top: 1px solid $te-grey--border;
  }

  &__group-title {
    padding: 15px $te-default-element-spacing;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;

    &--active {
      border-left: 3px solid $te-blue-6;
      font-weight: bold;
    }
  }

  &__group-toggle {
    float: right;
    color: app-shade(black, 3);
    font-weight: 300;
  }

  &__group-filter {
    list-style: none;
  }

  &__group-list {
    border-top: 1px solid $te-grey--border;
    padding: 25px $te-default-element-spacing;
    margin-bottom: 0px;
    background-color: #F3F6F8;

    &--hidden {
      display: none;
    }
  }

  &__group-label {
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    word-break: break-all;
    vertical-align: middle;
    overflow: hidden;
    max-height: 21px;
    max-width: 170px;
    vertical-align: middle;
    line-height: 21px;

    &--truncated {
      &:before {
        content: '...';
        position: absolute;
        right: 41px;
      }
    }
  }
}