.filter-select {
  // overriding the power-select component
  .ember-power-select-multiple-option {
    background-color: $te-blue-5;
    color: white;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: $te-blue-7;
    }
  }

  .ember-power-select-multiple-remove-btn {
    color: white;
    padding: 0 2px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    &:not(:hover) {
      opacity: 1;
    }
  }
}
