// Shared styling for links

.thirdeye-link {
  cursor: pointer;
  color: $te-blue-7;
  padding: 0 8px;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $te-blue-7;
    text-decoration: none;
  }

  &--muted {
    color: app-shade(black, 6);

    &:hover,
    &:active,
    &:focus {
      color: app-shade(black, 6);
      background-color: rgba(207,207,207,.25);
    }
  }

  &--tertiary {
    border: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 24px;
  }

  &--smaller {
    font-size: 15px;
  }

  &--vertical-centered {
    display: flex;
    align-items: center;
  }

  &--flushed {
    padding: 0;
  }
}

.thirdeye-link-secondary {
  color: #369ece;
  font-weight: 600;
  letter-spacing: .1px;
  font-size: 16px;

  &--inside {
    font-size: 15px;
  }

  &:hover {
    color: #369ece;
  }
}

.thirdeye-link--nav {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  color: app-shade(black, 9);
}

.thirdeye-link--settings {
  padding: 0;
  line-height: 28px;
  white-space: nowrap;
}

.thirdeye-link--active,
.thirdeye-link--nav:hover {
  color: $te-blue-6;
  padding-bottom: 10px;
  border-bottom: 4px solid $te-blue-6 !important;
  text-decoration: none;
}
