// css for the Login-form Components 
// Most of it is copied from nacho-login-form

.nacho-login-form {
  max-width: 160px;
}

.nacho-login-form__input {
  width: 100%;
  max-width: 160px;
  border: 0;
  border-bottom: 1px solid;
  line-height: 32px;
  background-color: transparent;
  outline: 0;
  padding: 0;
  font-weight: lighter;
  font-size: 15px;

  &::placeholder {
    color: app-shade(white, 0.55);
  }
}

.nacho-login-button {
  margin-top: 24px;
  margin-bottom: 50px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 8px;
  font-size: 15px;
  color: app-shade(white, 0.85);
  transition-duration: 167ms;
  transition-property: background-color,box-shadow,color;

  &:hover,
  &:focus {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.7), inset 0 0 0 1px rgba(255,255,255,.85), inset 0 0 0 1px transparent;
  }
}

.nacho-login__login-error {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  color: #ff2c33;
}
