.metrics-table {
  &__column {
    vertical-align: middle !important; // override ember-models-table
    &--checkbox {
      width: 24px;
    }

    &--small {
      width: 80px;
      text-align: right;
    }

    &--large {
      min-width: 200px;
    }
  }

  &__change {
    margin: 0;
    padding: 0;

    &--positive {
      color: $te-green;
    }

    &--negative {
      color: $te-red;
    }
  }

  &__value {
    margin: 0;
    padding: 0;

    &--small {
      font-size: 10px;
      color: app-shade(black, 0.60);
    }
  }
}
