.metrics-table {
  &__column {
    vertical-align: middle !important; // override ember-models-table
    &--small {
      width: 100px;
      text-align: right;
    }

    &--large {
      width: 440px;
    }
  }

  &__change {
    &--positive {
      color: $te-green;
    }

    &--negative {
      color: $te-red;
    }
  }

  &__value {

  }
}
