.rootcause-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  background-color: $te-main-background;
  padding: $te-spacing-lg;
  text-align: center;

  &__message {
    color: app-shade(black, 3);
    font-size: 18px;
  }

  &__icon {
    color: app-shade(black, 1);
    font-size: 100px;
    margin-bottom: 24px;
  }
}
