.rootcause-anomaly {
  &__title {
    font-weight: bold;
    font-size: 24px;
  }

  &__label {
    &--bold {
      font-weight: bold;
    }
  }

  &__dropdown {
    width: 200px;
  }

  &__comment {
    label {
      margin-top: 25px;
    }
  }

  &__form {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    border: 1px solid #ccc;
  }

  &__note {
    &--italicize {
      font-style: italic;
    }
  }

  &__stats {
    border-radius: 2px;
    padding: 16px;
    border: 1px solid app-shade(black, 0.15);
    margin: 8px;
    margin-right: auto;
    display: flex;
    flex-basis: 0;
    min-width: 200px;
    flex-direction: column;
    justify-content: space-between;
  }

  &__stats-label {
    font-weight: bold;
  }

  &__stats-value {
    font-size: 16px;
  }

  &--icon {
    float: right;
    margin-right: 8px;
  }
}
