
.rootcause-metric {

  &__display-view {
    float: right;
    font-size: 16px;
    cursor: pointer;
  }

  &__display-option {
    display: inline-block;

    &--active {
      color: $te-link-blue;
      border-bottom: 4px solid $te-link-blue;
    }
  }

  &__card {
    height: 160px;
    border-radius: 2px;
    padding: 16px;
    border: 1px solid app-shade(black, 0.15);
    margin: 8px;
    margin-right: auto;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    justify-content: space-between;

    &--selected,
    &:hover {
      border: 2px solid $te-blue-6;
      padding: 15px;
    }
    &--selected:hover {
      border-style: dashed;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-word;
  }

  &__name {
    font-size: 14px;
    color: app-shade(black, 0.9);
    line-height: 20px;
  }

  &__dataset {
    font-size: 12px;
    line-height: 16px;
    color: app-shade(black, 0.6);
  }

  &__change {
    color: app-shade(black, 0.85);
    font-size: 32px;
    line-height: 32px;
    padding-top: 16px;

    &--positive {
      color: $te-green;
    }

    &--negative {
      color: $te-red;
    }
  }

  &--spinner {
    position: relative;
  }
}
