.rootcause-header {
  background-color: white;
  padding: 24px 0;

  // Override Bootstrap styling
  .container {
    padding-left: 0;
  }

  &__major {
    font-size: 24px;
    font-weight: 600;
    color: app-shade(black, 9);
    margin: 0;
  }

  &__last-updated-info {
    margin-top: 10px;
  }

  &__menu {
    display: flex;
    align-items: flex-end;
    float: right;
  }

  &__title {
    display: flex;
  }

  &--textarea {
    resize: none;
    border: none;
    background: none;
  }

  &--button {
    margin: 2px 0 0 0;
    cursor: pointer;
    background: none;
    padding: 2px 15px;
    border-radius: 3px;
    border: 1px solid $te-nav-item-color;
    color: $te-nav-item-color;
    letter-spacing: $te-nav-letter-spacing;
    background-color:  $te-nav-background;

    &:hover {
      border-color: white;
      color: white;
    }
  }
}
