.ember-power-select-search {
    width: 600px;
}

.ember-power-select-option {

}

#select-metric .ember-power-select-selected-item {
  margin-left: 0;
}

.rootcause-select-metric {
  &__value {
    margin: 0;
    padding: 0;
    height: 21px;

    &--small {
      margin: 0;
      padding: 0;
      height: 18px;
      font-size: 10px;
      color: app-shade(black, 0.60);
    }

    &--bluelink {
      font-weight: bold;
      color: $te-blue;
    }
  }
}
