.rootcause-legend {
  flex-basis: 200px;
  min-width: 25%;
  border: 1px solid app-shade(black, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2px;
  background-color: white;

  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
  }

  &__item {
    display: flex;
    font-size: 13px;
    line-height: 16px;
    color: app-shade(black, 0.55);
    justify-content: space-between;
    margin-bottom: 4px;

    &--indented {
      padding-left: 20px;
    }

    &:hover {
      .entity-indicator {
        transform: scale(1.2);
        transition: transform 0.1s ease-in;
      }
      .rootcause-legend__remove-icon {
        visibility: visible;
      }
    }
  }

  &__indicator {
    margin-right: 10px;
    line-height: 14px;
    outline: none;

    &--flush {
      margin-right: 0;
    }
  }

  &__buttons {
    position: sticky;
    background-color: white;
    top: 0;
    padding: 12px;
  }

  &__list {
    list-style: none;
    padding: 0px 0 4px 0;
    margin: 12px;
    border-bottom: 1px solid app-shade(black, 0.15);
  }

  &__label-group {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    flex-wrap: nowrap;
    word-break: break-word;
    &--inactive {
      color: app-shade(black, 0.15);
      transition: color 0.1s ease-in;
    }
  }

  &__remove-icon {
    background-color: white;
    border-color: app-shade(black, 0.55);
    color: app-shade(black, 0.55);
    visibility: hidden;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    a:hover, {
      border-color: app-shade(black, 0.75);
      color: app-shade(black, 0.75);
      text-decoration: none;
    }
  }
}
