.date-slider {
  &__picker {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 15px; /* adjust the slider to be closer to date pickers from default */

    &-item {
      margin: 5px;
      .te-range-picker {
        width: 125px;

        .form-control  {
          height: 20px;
        }
      }
    }
  }

  &--offset {
    margin-left: 56px;
    margin-right: 12px;
  }

  .range-slider {
    .irs-slider {
      top: 26px;
      width: 20px;
      height: 20px;
    }
    .irs-bar {
      border-top: 1px solid app-shade($te-orange, .3);
      border-bottom: 1px solid app-shade($te-orange, .3);
      background: app-shade($te-orange, .3);
    }
    .irs-from, .irs-to, .irs-single {/* flip the from and to slider handles' labels */
      top: inherit;
      bottom: -12px;
    }
    .irs-grid-text {
      font-size: 14px;
      color: app-shade(black, 0.6);

      &.js-grid-text-0 {
        left: 40px !important; /* overriding the inline styles that inserted dynamically by slider */
      }
      &.js-grid-text-1 {
        margin-left: -90px !important; /* overriding the inline styles that inserted dynamically by slider */
      }
    }

  }
}

.rootcause-custom-baseline-modal {
  height: auto;
  margin-top: 0;
  border: none;
  padding: 20px 24px 12px 24px;
}
