.baseline-type input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.baseline-type .ember-radio-button{
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: #333333;
    border-radius: 4px;
    margin-left: -1px;
    margin-right: -1px;
}

.baseline-type .checked {
    background-color:#e6e6e6;
}
