.te-anomaly-table {
  width: 100%;
  margin-top: 12px;
  background-color: white;
  border: 1px solid app-shade(black, 1);

  &__comment {
    margin-left: 10px;
    float: left;
  }

  &__wrapper {
    height: 500px;
    overflow-y: scroll;
  }

  &__text {
    margin: 10px 10px 0 30px;

    &--explore {
      float: left;
      margin-left: 0;
    }
  }

  &__head {
    line-height: 40px;
  }

  &__cell {
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    color: app-shade(black, 8);
    position: relative;

    &--index {
      font-size: 14px;
      padding: 7px 0 0 11px;
      vertical-align: top;
      color: app-shade(black, 4);
    }

    &--feedback {
      max-width: 90px;
      text-align: center;
      padding: 4px 0 0 0;
      vertical-align: baseline;
    }
  }

  &__cell-head {
    font-size: 15px;
    font-weight: bold;
    color: app-shade(black, 6);
    padding-left: 15px;
    line-height: 45px;

    &--fixed {
      width: 215px;
    }

    &--left {
      padding-left: 10px;
    }
  }

  &__cell-link {
    color: app-shade(black, 6);
    white-space: nowrap;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }

  &__row {
    border-bottom: 1px solid app-shade(black, 1);
  }

  &__list {
    list-style: none;
    margin-left: -37px;
    margin-bottom: 0;
    max-width: 280px;
    overflow: auto;


    &--left {
      margin-left: -45px;
    }
  }

  &__list-item {
    font-size: 13px;

    &--smaller {
      margin-left: -2px;
      white-space: nowrap;
      overflow: auto;
      text-overflow: initial;
    }
    &--lighter {
      color: app-shade(black, 6);
    }

    &--warning {
      color: $te-red;
    }

    &--shadow {
      position: absolute;
      color: app-shade(black, 2);
      margin-left: -18px;
    }
  }

  &__list-value {
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;

    &--smaller {
      overflow: auto;
      text-overflow: initial;
    }
  }

  &__current-baseline {
    font-size: 16px;
    font-weight: 600;
  }

  &__value-label {
    font-size: 13px;

    &--up {
      color: $te-green;
    }

    &--down {
      color: $te-red;
    }

    &--dash {
      line-height: 5px;
    }
  }

  &__select {
    display: inline-block;
    width: 200px;

    &--margin-right {
      margin-right: 30px;
    }

    &--margin-left {
      margin-left: 5px;
    }
  }

  &__link-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding-top: 7px;
  }

  &__link {
    vertical-align: top;
    color: $te-link-blue;
    font-weight: 600;
    letter-spacing: .03em;
    font-size: 15px;
    cursor: pointer;

    &--glyph {
      margin-left: 10px;
      color: rgba(0, 0, 0, .3);
      font-size: 17px;
      display: inline-block;

      &:hover {
        color: #78b12f;
      }
    }
  }

  &__tooltip {
    font-weight: normal;
  }

  &__icon-wrapper {
    width: 20px;
    height: 30px;
  }

  &__icon {
    font-size: 14px;
    margin-left: 5px;

    &--status {
      position: absolute;
      margin: 14px 0 0 -26px;
      @extend %te-icon-animation;
    }

    &--status-no-margin {
      @extend %te-icon-animation;
    }

    &--hidden {
      visibility: hidden;
      font-size: 20px;
    }

    &--small {
      font-size: 11px;
      margin-left: 0px;
    }

    &--error {
      color: #e75858;
    }
  }

  &--performance {
    margin-top: 30px;
  }

  &__redirect-link {
    display: flex;
    justify-content: center;
    border: solid 1px $te-light-grey;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  &--no-margin {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
