// Styling for the te-modal component

.te-modal-overlay {
  background-color: rgba(0,0,0,0.7);
}

.te-modal {
  padding: 0;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.85);

  &__body {
    overflow-y: scroll;
  }

  &__header {
    padding: 8px 24px;
    border-bottom: 1px solid rgba(0,0,0,0.15);

    &--text {
      float: left;
      display: inline-block;
    }
  }

  &__close-icon {
    float: right;
    display: inline-block;
  }

  &__title {
    color: app-shade(black,0.9);
    font-size: 21px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    &--small {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__dropdown {
    &--expand {
      flex-grow: 4;
    }
  }

  &__body {
    // needed to avoid unscrollable overflow
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__footer {
    border-top: 1px solid rgba(0,0,0,0.15);
    padding: 16px 24px;
    text-align: right;
  }

  &__table-cell {
    // important is used here to override bootstrap's css
    padding: $te-spacing $te-spacing--lg !important;
    border-left: 0 !important;
    border-right: 0 !important;
    vertical-align: middle !important;
    background-color: white;
    color: app-shade(black, 7);
    font-size: $te-font-size-small;
    user-select: none;

    &--capitalized {
      text-transform: capitalize;
    }
    &--dark {
      color: app-shade(black, 0.55);
    }
    &--delete {
      text-align: center;
      font-size: $te-font-size-medium;
    }
  }

  &__table {
    margin-bottom: $te-spacing--lg;
  }

  &__tooltip {
    // necessary so that the tooltip is deployed above the modal
    z-index: 10000;
  }

  &__tooltip-icon {
    margin-left: 3px;
    opacity: 0.6;
  }

  &__table-header {
    // important is used here to override bootstrap's css
    border-right: 0 !important;
    border-left: 0 !important;
    background-color: #F3F6F8;
    padding: $te-spacing--sm $te-spacing--lg !important;
    font-size: $te-font-size-small;
    line-height: 20px;
    color: app-shade(black, 0.85);
    user-select: none;
  }

  &__filters {
    display: flex;
    align-items: center;
  }

  &__filter-select {
    flex-grow: 1;
    border-radius: 0 !important;
    flex-basis: 200px;
    min-width: 150px;

    &--flushed {
      border-left: 0 !important;
      flex-grow: 4;
      margin-right: $te-spacing--md;
    }
  }

  &__input {
    // this is needed to force similar styling
    padding-left: $te-spacing--sm !important;

    &--fullwidth {
      width: 100%;
    }
  }

  &__label-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__label {
    line-height: 20px;
  }

  &__urn {
    line-height: 16px;
    font-size: $te-font-size-tiny;
    color: app-shade(black, 7);
  }

  &__settings {
    margin: $te-spacing--lg;
  }
}

.te-modal-micro {
  width: 680px;
}
