.te-nav {

  background-color: $te-nav-background;

  letter-spacing: $te-nav-letter-spacing;

  &__logo {
    float: left;
    color: white;
    margin-right: 60px;
  }

  &__link {
    color: $te-nav-item-color;
    display: inline-block;
    height: $te-nav-link-height;
    line-height: $te-nav-link-height;
    text-decoration: none;

    &--home,
    &--active {
      color: white;

      &:hover {
        box-shadow: none;
        color: white;
      }
    }

    &--home {
      font-size: 12px;

      &:before {
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        background: url('/../../app/assets/images/li-logo.svg') left no-repeat;
      }
    }

    &.active:not(.te-nav__link--home) {
      color: white;
      box-shadow: inset 0 -3px 0 white;

      &:hover {
        text-decoration: none;
      }
    }


    &:hover:not(.te-nav__link--home):not(.active) {
      color: white;
      text-decoration: none;
      box-shadow: inset 0 -3px 0 app-shade(white, 3);
    }
  }

  &__help-icon {
    font-size: 24px;
  }

  &__dropdown-link {
    display: flex;
    align-items: center;

    &:hover .te-icon {
      color: white;
    }
  }

  &__dropdown-wrapper {
    position: absolute;
    text-align: left;
    background-color: white;
    z-index: 10;
    right: 0;
    top: 50px;
    padding: 8px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  &__list {
    float: left;
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
  }

  &__item {
    display: inline-block;
    margin-right: $te-nav-link-spacing;
  }

  &__user {
    float: right;
    width: auto;
    margin-top: 10px;
    text-align: right;
    display: flex;
    align-items: center;
  }

  &__user-dropdown {
    float: right;
  }

  &__dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid app-shade($te-grey, .3);
  }

  &__dropdown-item {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857;
    white-space: nowrap;
    color: black;

    &:hover {
      text-decoration: none;
      color: #262626;
      background-color: #f5f5f5;
    }
  }

  &__row {
    position: relative;
  }

  &__beta-badge {
    letter-spacing: 5px;
  }

  &__user-avatar {
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: center;
  }

  &__button {
    float: left;
    margin: 2px $te-nav-link-spacing 0 0;
    cursor: pointer;
    background: none;
    padding: 2px 15px;
    border-radius: 3px;
    border: 1px solid $te-nav-item-color;
    color: $te-nav-item-color;
    letter-spacing: $te-nav-letter-spacing;

    &:hover {
      border-color: white;
      color: white;
    }
  }

/**
 * Override bootstrap styles for nav
 */
  a.active,
  a:hover,
  a:visited {
    text-decoration: none;
  }

  .glyphicon {
    color: app-shade(white, 7);
    float: left;
  }
  .glyphicon:hover {
    color: white;
  }
}

/**
 * Override global nav styles for sub-nav
 */
.te-nav--sub {
  background-color: white;

  .te-nav__link {
    color: app-shade(black, 4);

    &.active {
      color: black;
      box-shadow: inset 0 -3px 0 black;
    }

    &:hover:not(.te-nav__link--home):not(.active) {
      color: black;
      text-decoration: none;
      box-shadow: inset 0 -3px 0 app-shade(black, 2);
    }
  }
}
