@import "../shared/variable";

.te-nav {
  background-color: $anolaly-nav-background;
  font-size: $te-font-size-tiny;
  letter-spacing: $te-nav-letter-spacing;

  &__logo {
    color: white;
    margin-right: 60px;
    padding-left: 31px;
    background: url('/assets/images/li-logo.svg') left no-repeat;
  }

  &__link {
    color: app-shade(white, 6);
    display: inline-block;
    height: $te-nav-link-height;
    line-height: $te-nav-link-height;
    text-decoration: none;
    font-size: $te-font-size-tiny;

    &--home,
    &--active {
      color: white;

      &:hover {
        box-shadow: none;
      }
    }

    &--home {
      font-size: 12px;
    }

    &.active:not(.te-nav__link--home) {
      color: white;
      box-shadow: inset 0 -3px 0 white;

      &:hover {
        text-decoration: none;
      }
    }


    &:hover:not(.te-nav__link--home):not(.active) {
      color: white;
      text-decoration: none;
      box-shadow: inset 0 -3px 0 app-shade(white, 3);
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
  }

  &__item {
    display: inline-block;
    margin-right: 45px;
  }

  &__user {
    float: right;
    margin-top: 10px;
  }

  &__user-avatar {
    width: 28px;
    height: 28px;
  }

/**
 * Override bootstrap styles for nav
 */
  a.active,
  a:hover,
  a:visited {
    text-decoration: none;
    color: white;
  }

  .glyphicon {
    color: white;
  }
}

/**
 * Override global nav styles for sub-nav
 */
.te-nav--sub {
  background-color: white;

  .te-nav__link {
    color: app-shade(black, 4);

    &.active {
      color: black;
      box-shadow: inset 0 -3px 0 black;
    }

    &:hover:not(.te-nav__link--home):not(.active) {
      color: black;
      text-decoration: none;
      box-shadow: inset 0 -3px 0 app-shade(black, 2);
    }
  }
}
