// Overriding default c3

.timeseries-chart {
  .c3-target-Selected-Baseline {
    stroke-dasharray: 2,2;
  }
  .c3-target-Predicted {
    stroke-dasharray: 2,2;
  }
  .c3-target-Upper-and-lower-bound{
    // opacity: 0.5 !important;
    visibility: hidden !important;
  }
  .c3-target-lowerBound {
    // opacity: 0.5 !important;
    visibility: hidden !important;
  }
  .c3-circles-old-anomaly-edges > .c3-circle {
    opacity: 1.0 !important;
  }
  .c3-circles-new-anomaly-edges > .c3-circle {
    opacity: 1.0 !important;
  }
  .c3-tooltip-name--old-anomaly-edges {
    display: none !important;
  }
  .c3-tooltip-name--new-anomaly-edges {
    display: none !important;
  }
  .c3-tooltip-name--New-Settings-Anomalies {
    display: none !important;
  }
  .c3-tooltip-name--Current-Anomalies {
    display: none !important;
  }
  .c3-tooltip-name--Current-Settings-Anomalies {
    display: none !important;
  }
  .c3-tooltip-name--Old-Settings-Anomalies {
    display: none !important;
  }
  path.confidence-bounds {
    stroke: #1CAFED;
    stroke-opacity: 0.5;
	  fill: #1CAFED;
    opacity: 0.5
  }
   path.sub-confidence-bounds {
     stroke: #1CAFED;
     stroke-opacity: 0.5;
     fill: #1CAFED;
     opacity: 0.5
  }

  .c3-legend-item-Selected-Baseline > .c3-legend-item-tile {
    stroke-dasharray: 2,2;
    stroke-width: 3
  }

  .c3-legend-item-Predicted > .c3-legend-item-tile {
    stroke-dasharray: 2,2;
    stroke-width: 3
  }

  .c3-legend-item-Current > .c3-legend-item-tile {
    stroke-width: 3
  }
};
