.yaml-editor {
  .yaml-editor-msg {
    color: #e75858;

    &__icon {
      font-size: 20px;
      &--error {
        padding-right: 5px;
      }
    }
  }

  .col-xs-4 {
    margin-bottom: 20px;
  }
}

.ace_editor.ace_autocomplete {
  width: 650px;
}
