<div class="header-section te-alert-page-pending">
  <h4 class="logo-container">
    {{#link-to "login" class="te-anomaly-table__link"}}
      Something went wrong. Please click here to return to login.
    {{/link-to}}
  </h4>
</div>
