{{!-- Delete anomaly modal --}}
{{#te-modal
  cancelButtonText="Cancel"
  submitButtonText="Delete"
  submitAction=(action "onDelete")
  cancelAction=(action "onCancelDelete")
  isShowingModal=openDeleteModal
  headerText=headerText
}}
  {{#if isDeleteSuccess}}
    {{#bs-alert type="success" class="te-form__banner te-form__banner--success"}}
      <strong>Success:</strong> Anomaly reported.  Refresh page to see new anomalies...
    {{/bs-alert}}
  {{/if}}

  {{#if isDeleteFailure}}
    {{#bs-alert type="danger" class="te-form__banner te-form__banner--failure"}}
      <strong>Error:</strong> Failed to delete anomaly. Please refresh page to try again.
    {{/bs-alert}}
  {{/if}}
{{/te-modal}}
<p class="anomalies-table__text anomalies-table__text">
  <label class="te-label te-label--small">
    {{record.rule}}
  </label>
</p>
{{#if record.isUserReported}}
  <a role="button" class="te-button--link" {{action "onClickDeleteAnomaly" record.id}}>
    Delete anomaly
  </a>
{{/if}}
