color
| <button {{action (mut mode) "change"}}>change</button>
| <button {{action (mut mode) "contributionDiff"}}>contribution diff</button>
| <button {{action (mut mode) "contributionToDiff"}}>contribution to diff</button>

{{#unless hasCurrent}}
  <div class="rootcause-message rootcause-message__warning">No data for current range</div>
{{/unless}}

{{#unless hasBaseline}}
  <div class="rootcause-message rootcause-message__warning">No data for baseline range</div>
{{/unless}}

{{heatmap-chart
  cells=cells
  onHeatmapClick=(action "onHeatmapClick")
}}
