<div class="card-container__row--flex row">
  <div class="col-xs-8">
    {{#unless isAdditive}}
      <div class="rootcause-message rootcause-message__warning">Dataset is not marked additive. Heatmap may not be proportional.</div>
    {{/unless}}

    {{#unless hasCurrent}}
      <div class="rootcause-message rootcause-message__warning">No data for current range</div>
    {{/unless}}

    {{#unless hasBaseline}}
      <div class="rootcause-message rootcause-message__warning">No data for baseline range</div>
    {{/unless}}

  </div>
  <div class="col-xs-4 pull-right">
    <label class="te-label te-label--small" for="select-heatmap-mode">Color heatmap by: </label>
    {{#power-select
      triggerId="select-heatmap-mode"
      selected=selectedMode
      options=modeOptions
      onchange=(action (mut selectedMode))
      as |mode|}}
      {{mode}}
    {{/power-select}}
  </div>
</div>

{{heatmap-chart
  cells=cells
  onHeatmapClick=(action "onHeatmapClick")
}}
