<p class="rootcause-select-metric__value {{if (get-safe metric "isSelected") "rootcause-select-metric__value--bluelink"}}">
  {{get-safe metric "name"}}
</p>
<p class="rootcause-select-metric__value--small">
  {{get-safe metric "dataset"}}
</p>
