<!DOCTYPE html>
<html ng-app="pinotApp">
<head>

<script src="/pinot_static/js/lib/jquery-2.1.3.min.js"></script>
<script src="/pinot_static/js/lib/foundation/foundation.js"></script>
<script src="/pinot_static/js/lib/foundation/foundation.topbar.js"></script>
<script src="/pinot_static/js/lib/angular.min.js"></script>
<script src="/pinot_static/js/lib/angular-route.min.js"></script>
<script src="/pinot_static/js/lib/codemirror/codemirror.js"></script>
<script src="/pinot_static/js/lib/codemirror/sql.js"></script>
<script src="/pinot_static/js/lib/codemirror/javascript.js"></script>
<script src="/pinot_static/js/lib/underscore-min.js"></script>
<script src="/pinot_static/js/lib/sugar.min.js"></script>
<link href="/pinot_static/css/lib/normalize.css" type="text/css" rel="stylesheet">
<link href="/pinot_static/css/lib/foundation.css" type="text/css" rel="stylesheet">
<link href="/pinot_static/css/lib/codemirror.css" type="text/css" rel="stylesheet">
<link href="/pinot_static/css/lib/codemirror-elegant.css" type="text/css" rel="stylesheet">

<link href="/pinot_static/css/pinot.css" type="text/css" rel="stylesheet">

<script src="/pinot_static/js/init.js"></script>
<script src="/pinot_static/js/controllers/topbar.js"></script>
<script src="/pinot_static/js/controllers/table_info.js"></script>
<script src="/pinot_static/js/controllers/resource.js"></script>
<script src="/pinot_static/js/controllers/console.js"></script>
<script src="/pinot_static/js/controllers/fabric.js"></script>
<script src="/pinot_static/js/controllers/home.js"></script>
<script src="/pinot_static/js/controllers/create_tenant.js"></script>
<script src="/pinot_static/js/controllers/create_table.js"></script>
<script src="/pinot_static/js/controllers/create_schema.js"></script>

<title>Pinot</title>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">Pinot</a></h1>
    </li>
  </ul>

  <section class="top-bar-section" ng-controller="TopBarController">
    <ul class="left">
      <li class="has-dropdown">
        <a href="#/">Fabrics</a>
        <ul class="dropdown">
          <li ng-repeat="fabric in fabrics">
            <a href="#/fabric/{{fabric}}">{{fabric}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="right">
      <li><a href="#/console">Query Console</a> </li>
      <li class="has-form" ng-if="auth.enabled">
        <a ng-if="auth.authed" href="/logout" class="button expand">Log Out ({{auth.username}})</a>
        <a ng-if="!auth.authed" href="/login" class="button expand">Log In</a>
      </li>
    </ul>
  </section>
</nav>

<div id="wrap">
  <div id="alerts" class="columns large-8" style="clear: both; float: none; margin: auto;"></div>
  <ng-view></ng-view>
</div>

<script>$(function() { $(document).foundation(); } ); </script>

</body>
</html>
