<span>
  <i class="glyphicon glyphicon-exclamation-sign"></i>
  {{#tooltip-on-element class="te-tooltip"}}
    Numbers may be incorrect. This metric's data set is marked non-additive. Only additive metrics support exclusion safely.
  {{/tooltip-on-element}}
</span>
