<ul>
  <li><strong>Name:</strong> {{anomaly.anomalyFunctionName}}</li>
  <li><strong>Curent Start</strong> {{anomaly.currentStart}}</li>
  <li><strong>Curent End</strong> {{anomaly.currentEnd}}</li>
</ul>
