{{#if isLoading}}
  <div class="spinner-wrapper--absolute">{{ember-spinner}}</div>
{{/if}}

{{update-table
  data=dimensionTableData
  columns=dimensionTableColumns
  groupedHeaders=dimensionTableHeaders
  showColumnsDropdown=false
  showGlobalFilter=false
  filteringIgnoreCase=true
  multipleExpand=true
  multipleSelect=true
  customClasses=dimensionTableClasses
  headerFilteringRowTemplate=headerFilteringRowTemplate
}}
