{{#if isSplit}}
  {{#each splitUrns as |urn|}}
    <div>
      <h4 class="rootcause-chart__title">{{get-safe splitLabels urn}}</h4>
      {{timeseries-chart
        series=(get-safe splitSeries urn)
        tooltip=tooltip
        legend=legend
        axis=axis
        subchart=splitSubchart
        height=splitChartHeight
        colorMapping=colorMapping
        focusedIds=focusedIds
      }}
    </div>
  {{/each}}
{{else}}
  {{timeseries-chart
    series=series
    tooltip=tooltip
    legend=legend
    axis=axis
    subchart=subchart
    colorMapping=colorMapping
    focusedIds=focusedIds
  }}
{{/if}}
