<span>
  <a class="thirdeye-link thirdeye-link-secondary" href="https://en.wikipedia.org/wiki/Metric_prefix#List_of_SI_prefixes" target="_blank">
    <i class="glyphicon glyphicon-question-sign"></i>
  </a>
  {{#tooltip-on-element class="te-tooltip"}}
    Thirdeye uses SI prefix symbols to display numeric values in shorthand. Click for more info.
  {{/tooltip-on-element}}
</span>
