{{#te-modal
  headerText="Add a customized event"
  isShowingModal=showCreateEventModal
  cancelAction=(action "onExit")
  submitAction=(action "onSave")
  hasFooter=true
}}
  <div class="row te-modal__settings">
    <p class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Start Time</span>
    </p>
    <p class="col-md-4">
        {{input
          type="text"
          id="start-time"
          value=startTime
          placeholder="YYYY-MM-DD HH:mm am/pm"
          class=" te-modal__input"
        }}
    </p>

    <p class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">End Time</span>
    </p>
    <p class="col-md-4">
        {{input
          type="text"
          id="end-time"
          value=endTime
          placeholder="YYYY-MM-DD HH:mm am/pm"
          class=" te-modal__input"
        }}
    </p>
  </div>
  <div class="row te-modal__settings">
    <p class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Event Name</span>
    </p>
    <p class="col-md-4">
        {{input
          type="text"
          id="event-name"
          value=eventName
          class=" te-modal__input"
        }}
    </p>
    <p class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">Country Codes</span>
    </p>
    <p class="col-md-4">
        {{input
          type="text"
          id="country-code"
          value=countryCode
          placeholder="Separated by commas"
          class=" te-modal__input"
        }}
    </p>
  </div>
{{/te-modal}}
