<p class="te-anomaly-table__current-baseline">
  {{record.currentPredicted.current}}/{{record.currentPredicted.predicted}}
</p>
<p class="te-anomaly-table__value-label te-anomaly-table__value-label--dash te-anomaly-table__deviation-percent te-anomaly-table__value-label--{{calculate-direction record.currentPredicted.deviation}}">
  ({{record.currentPredicted.deviationPercent}})
</p>