/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

li.CodeMirror-hint {
  margin: 0;
  padding: 4px 0 4px 25px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
  position: relative;
  line-height: 1.5;
}

li.CodeMirror-hint:before {
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  font-size: 12px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li.codemirror-table.CodeMirror-hint,
li.codemirror-column.CodeMirror-hint{
  color: black;
}

li.codemirror-table.CodeMirror-hint > div >  span.funcText > span,
li.codemirror-column.CodeMirror-hint > div >  span.funcText > span{
  font-weight: bold;
  font-size: 10px;
}

li.codemirror-table.CodeMirror-hint::before {
  content: "T";
  background: #2F7E89;
}

li.codemirror-column.CodeMirror-hint::before {
  content: "C";
  background: #05a;
}

li.codemirror-func.CodeMirror-hint::before {
  content: "F";
  background: #74457a;
}

.CodeMirror-hints {
  padding: 4px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  border-radius: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  border: 1px solid #eaeaea;
  min-width: 140px;
}

li.CodeMirror-hint-active {
  background-color: #dae2f2;
}