{{#if (and showNavbar session.isAuthenticated)}}
  {{te-navbar navItems=globalNavItems isGlobalNav=true navClass="te-nav--global"}}
{{/if}}
{{outlet}}

{{!-- placed here because the tooltip is absolutely positioned relative to the body  --}}
<div id="tooltip" class="analysis-tooltip hidden">
  <ul class="analysis-tooltip__list">
    <li class="analysis-tooltip__list-item"><span>value</span><span id="heading"></span></li>
    <li class="analysis-tooltip__list-item"><span>baseline value</span><span id="baselineValue"></span></li>
    <li class="analysis-tooltip__list-item"><span>current value</span><span id="currentValue"></span></li>
    <li class="analysis-tooltip__list-item"><span>percentage change </span><span id="percentageChange"></span></li>
    <li class="analysis-tooltip__list-item"><span>baseline contribution</span><span id="baselineContribution"></span></li>
    <li class="analysis-tooltip__list-item"><span>current contribution</span><span id="currentContribution"></span></li>
    <li class="analysis-tooltip__list-item"><span>contribution change</span><span id="contributionChange"></span></li>
  </ul>
</div>
<div id="heatmap-tooltip" class="analysis-tooltip hidden">
  <span id="heading" class="analysis-tooltip__header"></span>
  <ul class="analysis-tooltip__list">
    <li class="analysis-tooltip__list-item"><span>baseline</span><span id="baseline"></span></li>
    <li class="analysis-tooltip__list-item"><span>current</span><span id="current"></span></li>
    <li class="analysis-tooltip__list-item"><span>change</span><span id="change"></span></li>
  </ul>
</div>
