<header class="nav-bar">
  <div id="nav-bar__logo">[logo here] ThirdEye</div>
  <nav class="nav-bar__nav">[nav bar here]</nav>
  <div class="nav-bar__user">[user icon here]</div>
</header>
{{outlet}}
