{{#if (and showNavbar session.isAuthenticated)}}
  {{te-navbar navItems=globalNavItems isGlobalNav=true navClass="te-nav--global"}}
{{/if}}
{{outlet}}

{{!-- placed here because the tooltip is absolutely positioned relative to the body  --}}
<div id="tooltip" class="analysis-tooltip hidden">
  <ul class="analysis-tooltip__list">
    <li class="analysis-tooltip__list-item"><span>value</span><span id="heading"></span></li>
    <li class="analysis-tooltip__list-item"><span>baseline value</span><span id="baselineValue"></span></li>
    <li class="analysis-tooltip__list-item"><span>current value</span><span id="currentValue"></span></li>
    <li class="analysis-tooltip__list-item"><span>percentage change </span><span id="percentageChange"></span></li>
    <li class="analysis-tooltip__list-item"><span>baseline contribution</span><span id="baselineContribution"></span></li>
    <li class="analysis-tooltip__list-item"><span>current contribution</span><span id="currentContribution"></span></li>
    <li class="analysis-tooltip__list-item"><span>contribution change</span><span id="contributionChange"></span></li>
  </ul>
</div>
<div id="heatmap-tooltip" class="analysis-tooltip hidden">
  <span id="dimValue" class="analysis-tooltip__header"></span>
  <div class="container analysis-tooltip__container">
    <div class="row">
      <div class="col-xs-2 analysis-tooltip__column-header"></div>
      <div class="col-xs-4 analysis-tooltip__column">current</div>
      <div class="col-xs-4 analysis-tooltip__column">baseline</div>
      <div class="col-xs-2 analysis-tooltip__column">change</div>
    </div>
    <div class="row">
      <div class="col-xs-2 analysis-tooltip__column-header">cell</div>
      <div class="col-xs-4 analysis-tooltip__column" id="curr"></div>
      <div class="col-xs-4 analysis-tooltip__column" id="base"></div>
      <div class="col-xs-2 analysis-tooltip__column" id="change"></div>
    </div>
    <div class="row">
      <div class="col-xs-2 analysis-tooltip__column-header">total</div>
      <div class="col-xs-4 analysis-tooltip__column" id="currTotal"></div>
      <div class="col-xs-4 analysis-tooltip__column" id="baseTotal"></div>
      <div class="col-xs-2 analysis-tooltip__column" id="changeTotal"></div>
    </div>
    <div class="row">
      <div class="col-xs-2 analysis-tooltip__column-header">contribution</div>
      <div class="col-xs-4 analysis-tooltip__column" id="currContrib"></div>
      <div class="col-xs-4 analysis-tooltip__column" id="baseContrib"></div>
      <div class="col-xs-2 analysis-tooltip__column" id="changeContrib"></div>
    </div>
  </div>
</div>
