<div class='panel-group'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h4 class="panel-title">{{title}}</h4>
        </div>
    {{#if tableData.length}}
        <div class='panel-body'> 
            {{models-table
            data=tableData
            columns=tableColumns
            showGlobalFilter=false
            showColumnsDropdown=false
            customClasses=customClasses
            }}
        </div> 
    {{else}}
        <p class="composite-anomalies-no-records">{{noRecords}}</p>
    {{/if}}
    </div>
</div>