<label class="te-label te-label--small te-anomaly-table__link">
    <span class="start-time">{{moment-format record.startDuration.startTime "MMM Do, h:mm z"}}</span>
    {{#tooltip-on-element}}
      Start: {{moment-format record.startDuration.startTime "MMM Do, h:mm z"}}<br />
      End: {{moment-format record.startDuration.endTime "MMM Do, h:mm z"}}
    {{/tooltip-on-element}}
</label>
<p class="duration">{{record.startDuration.duration}}</p>
