<div id="time-series-display">

  <div ng-if="!isLoaded">
    <p>Loading...</p>
  </div>

  <div id="time-series"></div>
  <div id="time-series-legend"></div>

  <div ng-repeat="anomaly in timeSeries.anomaly_results">
    <hr/>
    <dl>
      <dt>id</dt>
      <dd>{{anomaly.id}}</dd>
      <dt>function_id</dt>
      <dd>{{anomaly.functionId}}</dd>
      <dt>function_type</dt>
      <dd>{{anomaly.functionType}}</dd>
      <dt>function_properties</dt>
      <dd>
        <ul>
          <li ng-repeat="property in anomaly.parsedFunctionProperties">
            {{property}}
          </li>
        </ul>
      </dd>
      <dt>dimensions</dt>
      <dd>{{anomaly.dimensions}}</dd>
      <dt>score</dt>
      <dd>{{anomaly.score}}</dd>
      <dt>weight</dt>
      <dd>{{anomaly.weight}}</dd>
      <dt>properties</dt>
      <dd>
        <ul>
          <li ng-repeat="property in anomaly.parsedProperties">
            {{property}}
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>