/* -----------------------------------------------------------------------------
 * TE color settings
 * ---------------------------------------------------------------------------*/
$anomaly-id-percent-change: #428bca;
$te-nav-background: #283e4a;
$te-login-background: #283e4a;
$anomaly-nav-background: #283e4a;
$te-nav-item-color: app-shade(white, 6);

$te-main-background: #f5f5f5;
$te-alerts-row-color: #f2f2f2;
$te-alerts-background: #e0e4e7;

$te-blue-4: ligthen(blue, 10%);

$te-orange: orange;
$te-teal: teal;
$te-purple: purple;
$te-red: red;
$te-green: green;
$te-pink: pink;
$te-white: #fff;
$te-grey: #ccc;
$te-light-grey: #f2f2f2;
$te-link-blue: #0073b1;
$te-button-blue: #1A84BC;
$te-blue: #00a0dc;
$te-subtext: rgba(0,0,0,0.45);
$te-share: #EDF0F3;
