/* -----------------------------------------------------------------------------
 * TE color settings
 * ---------------------------------------------------------------------------*/
$anomaly-id-percent-change: #428bca;
$anolaly-nav-background: #283e4a;
$te-main-background: #f5f5f5;
