// Helper for opacity-based rgb color shorthand
@function app-shade($color: default, $num: default) {
  @if $num != nil {
    @if $num >= 1 {
      $num: $num / 10;
    }
    @if $color == w {
      $color: white;
    }
    @if $color == b {
      $color: black;
    }
    @return rgba($color, $num);
  }
  @return nil;
}