@mixin padding-reset() {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}

@mixin margin-reset() {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}
