/* -----------------------------------------------------------------------------
 * TE shared style placeholders. See https://sass-lang.com/guide
 * Placeholders will only print when extended
 * ---------------------------------------------------------------------------*/
%te-icon-animation {
  -webkit-animation: $te-icon-animation;
  animation: $te-icon-animation;
  background: white;
  font-size: 20px;
}
