/**
 * Base page styles common to all
 */

body {
  background-color: $te-main-background;
  margin: 0;
}

.te-title {
  @include app-title-mixin;

  &--flush {
    @include padding-reset;
    @include margin-reset;
  }
  &--rootcause {
    color: app-shade(black, 0.85);
    margin-top: 0;
  }
}

.te-sub-title {
  @include app-sub-title-mixin;
  &--flush {
    @include padding-reset;
    @include margin-reset;
  }
}

.te-form {
  margin-top: $te-default-element-spacing;

  &__group {
    clear: left;

    &--horizontal {
      float: left;
      margin-right: 21px;
      clear: right;
    }

    &--last {
      margin-right: 0;
      float: right;
    }

    &--large {
      width: 65%;
    }

    &--medium {
      width: 56%;
    }

    &--small {
      width: 20%;
    }

    &--two-share {
      width: 49%;
    }
  }
}


.te-hide {
  @include app-hide;
}

.te-label {
  font-weight: normal;
  color:  app-shade(black, 7);
  margin-bottom: 12px;

  &--flush {
    margin-bottom: 0;
  }
}

.te-input {
  min-height: 2.4em !important;
  border: 1px solid app-shade(black, 0.25);
  color: app-shade(black, 0.85);
  border-radius: 2px;
  box-shadow: none;

  &::placeholder {
    color: app-shade(black, 0.55);
  }

  &:disabled {
    border-color: app-shade(black, 0.1);
    background-color: app-shade(black, 0);
    cursor: default;
    color: app-shade(black, 0.25);

    &::placeholder {
      color: app-shade(black, 0.25);
      font-weight: normal;
    }
  }

  &--read-only:disabled {
    color: app-shade(black, 0.55);
  }

  &:hover:not(:disabled){
    border-color: app-shade(black, 0.55);
  }
}

.te-page-right {
  float: right;
  margin-top: -24px;

  &--inside {
    margin-top: 0;
  }
}

.te-search-results {
  border-bottom: 1px app-shade(black, 1) solid;
  color: app-shade(black, 0.7);
  padding: 24px 0;

  &__list {
    list-style: none;
    font-weight: normal;
    margin-bottom: 0;

    &--summary-block {
      padding: 0;
    }

    &--details-block {
      padding: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $te-spacing;
  }

  &__row {
    display: flex;
    font-size: 15px;
  }

  &__option {
    display: inline-block;
    width: 100px;
    min-width: 100px;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    margin-right: 10px;
    color: app-shade(black, 4);
  }

  &__option-solo {
    color: app-shade(black, 9);
    width: 130px;
    font-weight: 600;
  }

  &__value {
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    max-height: 19px;
  }

  &__value-solo {
    color: app-shade(black, 5);
  }

  &__title-group {
    color: app-shade(black, 0.85);
    font-size: 21px;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    overflow: hidden;
  }

  &__title {
    min-width: 95px;
  }

  &__edit-button {
    margin-left: $te-spacing;
  }

  &__summary-item {
    line-height: 22px;

    &--title {
      margin: 0;
      color: $te-blue-4;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__icon {
    float: right;
    padding: 15px 15px 0 0;
    color: app-shade(black, 2);
  }

  &__prop {
    &--missing {
      color: app-shade(black, 5);
    }
  }

  &__tag {
    background-color: app-shade(black, 3);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .05em;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 0 20px;
    display: inline-block;
    color: white;
    width: auto;

    &--list {
      margin: 0 10px 0 0;
    }

    &--active {
      background-color: $te-blue;
    }
  }

  &:last-child {
    border: none;
  }
}

.te-search-header {
  padding-bottom: $te-spacing--sm;
  border-bottom: 1px app-shade(black, 1) solid;
}

.te-search-title {
  font-size: 21px;
  color: app-shade(black, 0.85);
}

.te-link--show {
  display: block;
  float: right;
}

.te-link--hide {
  display: none;
}

.te-button {
  border-radius: 2px;
  border: 1px solid $te-link-blue;
  margin: 0 1px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: none;
  padding: 2px 15px;
  letter-spacing: 0.3px;
  color: $te-link-blue;

  &--cancel {
    background-color: white;
    a {
      color: $te-link-blue;
    }
    &:hover,
    a:hover {
      color: $te-link-blue;
      text-decoration: none;
    }
  }

  &--submit {
    background-color: $te-button-blue;
    color: white;
    &:hover,
    a:hover {
      color: white;
      text-decoration: none;
    }
  }

  &--sub {
    border: none;
  }
}
