/**
 * Base page styles common to all
 */

body {
  background-color: $te-main-background;
  margin: 0;
}
.popover-title {
  font-size: 18px;
  font-weight: normal;
  color: app-shade(black, 9);
  background-color: white;
}

.smaller {
  font-size: 19px;
  padding-left: 5px;
  margin-top: 24px;
}

.stronger {
  font-weight: bold;
  color: app-shade(black, 7);
}

.te-title {
  @include app-title-mixin;

  &--flush {
    @include padding-reset;
    @include margin-reset;
  }
  &--rootcause {
    color: app-shade(black, 0.85);
    margin-top: 0;
  }
}

.te-sub-title {
  @include app-sub-title-mixin;
  &--flush {
    @include padding-reset;
    @include margin-reset;
  }
}

.te-link-secondary {
  color: #369ece !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.te-table-global-filter {
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 5px;
}

.te-column-dropdown {
  display: inline-block;
}

.te-anomaly-table-wrapper {
  text-align: right;
  padding-top: 5px;
}

.te-anomaly-table-body {
  text-align: left !important;
}

.te-dropdown {
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
  font-size: 15px !important;
  min-width: 180px !important;

  &__top-options {
    padding: 0 0 0 0 !important;
  }

  &__close {
    text-align: left;
    border-top: 1px solid app-shade(black, 0.15);
  }
}

.te-range-picker {
  input {
    border-radius: 20px;
  }
}
.te-icon {
  &__inline-link {
    color: $te-link-blue;
    font-size: 16px;
    vertical-align: middle;
    padding-bottom: 2px;
  }
}

.te-form {
  margin-top: $te-default-element-spacing;

  &__group {
    clear: left;

    &--horizontal {
      float: left;
      margin-right: 21px;
      clear: right;
    }

    &--last {
      margin-right: 0;
      float: right;
    }

    &--large {
      width: 65%;
    }

    &--medium {
      width: 56%;
    }

    &--small {
      width: 20%;
    }

    &--two-share {
      width: 49%;
    }

    &--hz-micro {
      width: 50%;
      float: left;
      clear: right;
    }
  }

  &__list {
    list-style: none;

    &--suffix {
      margin-left: -10px;
    }
  }

  &__indent-block {
    margin-left: 20px;

    &--custom {
      display: block;
      margin: -12px 0 0 36px;
    }
  }

  &__vertical-block {
    margin-top: 4px;
  }

  &__list-label {
    display: inline-block;
    padding-left: 10px;
    font-weight: normal;
    font-size: $te-font-size-small;
    color: app-shade(black, 8);
  }

  &__radio {
    padding-left: 10px;
  }

  &__field-inline {
    display: inline-block;
  }

  &__tune-field {
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 5px 5px;

    &--amount {
      width: 70px;
    }
  }

  &__cta-row {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
  }

  &__cta-button {
    text-align: right;

    &--right {
      margin: -25px 50px 0 0;
      float: right;
    }
  }

  &__select {
    float: none;

    &--wider {
      width: 600px;
      float: left;
      margin-left: -15px;
      color: app-shade(black, 7);
    }

    &--left {
      margin-left: -15px;
    }

    &--same-line {
      display: inline-flex;
      align-items: baseline;
      width: 100%;
      position: relative;
      padding: 0px;
    }

    &--margin-left {
      margin-left: 20px;
    }
  }

  &__new-sub {
    margin-top: 13px;
  }
}

.te-content-block {
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  background: white;
  padding: 24px;

  &__date-picker-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    .te-range-picker {
      margin-left: 10px;
      flex-basis: 35%;

      display: flex;
      align-items: center;
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__date-picker-label {
    margin-bottom: 15px;

    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    font-size: 14px;
  }

  &__alert-performance {
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    padding: 24px;
    flex-basis: 75%;
    border-right: 2px solid app-shade(black, 1);
  }

  &__detection-health {
    margin-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    padding: 24px;
    flex-basis: 25%;
  }

  &__performance-health-wrapper {
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid app-shade(black, 1);
    background: white;
    display: flex;
  }
}

.te-hide {
  @include app-hide;
}

.te-label {
  font-weight: normal;
  color: app-shade(black, 9);
  margin-bottom: 12px;

  &--display {
    font-size: 18px;
  }

  &--flush {
    margin-bottom: 0;
  }

  &--no-bottom {
    font-weight: normal;
    color: app-shade(black, 9);
    margin-bottom: 0;
  }

  &--small {
    margin-bottom: 2px;
  }

  &--taller {
    margin-top: 14px;
  }

  &--bold {
    font-weight: bold;
  }

  &--dark {
    color: app-shade(black, 0.85);
  }

  &--disable-click {
    pointer-events: none;
  }
}

.te-input {
  min-height: 2.4em !important;
  border: 1px solid app-shade(black, 0.25);
  color: app-shade(black, 0.85);
  border-radius: 2px;
  box-shadow: none;

  &::placeholder {
    color: app-shade(black, 0.55);
  }

  &:disabled {
    border-color: app-shade(black, 0.1);
    background-color: app-shade(black, 0);
    cursor: default;
    color: app-shade(black, 0.25);

    &::placeholder {
      color: app-shade(black, 0.25);
      font-weight: normal;
    }
  }

  &--read-only:disabled {
    color: app-shade(black, 0.55);
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:hover:not(:disabled) {
    border-color: app-shade(black, 0.55);
  }

  &--number {
    width: 50px;
  }

  &--error {
    border-color: red;
  }
}

.te-page {
  &__right {
    float: right;
    margin-top: -24px;

    &--inside {
      margin-top: 0;
    }
  }

  &__top {
    background: white;
    width: 100%;
    border-top: 1px app-shade(black, 1) solid;
  }

  &__middle {
    background: white;
    padding-bottom: 25px;
  }

  &__bottom {
    padding-top: 25px;
  }
}

.te-self-serve {
  &__block-title {
    margin-top: 0;
    color: app-shade(black, 8);
  }

  &__block-subtext {
    margin: -5px 0 25px 0;

    &--narrow {
      margin-bottom: 0px;
    }

    &--normal {
      margin: 0;
    }
  }

  &__side-link {
    font-size: $te-font-size-small;
    color: $te-link-blue;
    font-weight: 600;
    letter-spacing: 0.03em;
    float: right;
    margin: -15px 10px 0 0;
    cursor: pointer;

    &--high {
      margin-top: -30px;
    }

    &--low {
      margin-top: -5px;
    }

    &--tall {
      line-height: 40px;
    }

    &--active {
      border-bottom: 1px dashed;
    }

    &--inactive {
      color: app-shade(black, 3);
    }

    &:hover {
      color: $te-link-blue;
      text-decoration: none;
    }
  }
}

.popover {
  max-width: none;
}

.te-horizontal-metrics {
  &__container {
    display: flex;
    clear: both;
  }

  &__metric {
    list-style: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;

    &:last-child {
      margin-right: 0;
    }
  }

  &__number {
    color: black;
    &--good {
      color: #4b9d27;
      font-weight: normal;
    }

    &--average {
      color: #f5a623;
      font-weight: normal;
    }

    &--poor {
      color: #ff4b51;
      font-weight: normal;
    }
  }
}

.te-horizontal-forecast {
  &__container {
    display: flex;
    clear: both;
  }

  &__fit-container {
    display: flex;
    clear: both;
    margin-top: 10px;
  }

  &__label-column {
    list-style: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-left: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__fit-value {
    list-style: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__forecast-value {
    list-style: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.te-horizontal-cards {
  &--hidden {
    visibility: hidden;
  }

  &__container {
    display: flex;
    margin-top: 15px;
    clear: both;
  }

  &__val-group__margin-left {
    margin-left: 30px;
  }

  &__card {
    list-style: none;
    background-color: white;
    margin-right: 12px;
    border-radius: 5px;
    border: 2px solid app-shade(black, 1);
    padding: 13px 15px 6px 17px;
    flex-basis: 25%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }
  }

  &__single-card {
    list-style: none;
    background-color: white;
    margin-right: 12px;
    border-radius: 5px;
    border: 2px solid app-shade(black, 1);
    padding: 13px 15px 6px 17px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 16px;
    float: left;
    padding-right: 8px;
  }

  &__card-text {
    color: app-shade(black, 5);
    clear: both;
    font-size: 13px;
  }

  &__card-value {
    font-size: 42px;
    font-weight: 300;
    display: flex;
    margin-top: 10px;

    &--tight {
      margin-top: 0;
    }
  }

  &__val-glyph {
    &--middle {
      padding: 26px 10px 0 9px;
      font-size: 19px;
      font-weight: normal;
      color: app-shade(black, 2);
    }

    &--right {
      font-size: 13px;
      vertical-align: text-top;
      color: app-shade(black, 5);
      padding-top: 9px;
    }
  }

  &__card-tooltip {
    font-size: $te-font-size-small;
    float: left;
  }

  &__card-subt {
    font-size: 14px;
    color: app-shade(black, 7);
    font-weight: normal;

    &--hide {
      visibility: hidden;
    }

    &--stronger {
      font-weight: bold;
    }
  }

  &__card-number {
    font-size: 28px;
    font-weight: normal;

    &--good {
      color: $te-good;
      font-size: 28px;
      font-weight: normal;
    }

    &--average {
      color: $te-average;
      font-size: 28px;
      font-weight: normal;
    }

    &--poor {
      color: $te-poor;
      font-size: 28px;
      font-weight: normal;
    }
  }

  &__card-units {
    font-size: $te-font-size-medium;
    margin-left: -3px;

    &--small {
      font-size: 14px;
    }
  }
}

.te-graph-container {
  margin: 10px 0 20px -15px;

  &--marginless {
    margin: 0;
  }
}

.te-anomaly-table-stats {
  display: table;
  margin: 0;
  width: 100%;

  &__category {
    list-style: none;
    border-right: 1px app-shade(black, 1) solid;
    display: table-cell;
    min-width: 150px;
    padding: 20px;

    &:last-child {
      border: none;
    }

    &:hover {
      border-bottom: 4px solid app-shade(black, 2);
      cursor: pointer;
    }

    &--active {
      border-bottom: 4px solid #0084bf;

      &:hover {
        border-bottom: 4px solid #0084bf;
      }
    }
  }

  &__content {
    display: block;

    &--number {
      font-size: $te-font-size-medium;
      color: $te-blue;
    }
  }
}

.te-alert-page-pending {
  text-align: center;
  margin-top: 50px;
  color: app-shade(black, 9);

  &__image {
    width: 300px;

    &--error {
      width: 100px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0.02em;
  }

  &__text {
    font-size: $te-font-size-small;
    color: app-shade(black, 6);
  }

  &__loader {
    height: 4px;
    width: 40%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background-color: #ddd;

    &:before {
      display: block;
      position: absolute;
      content: '';
      left: -200px;
      width: 200px;
      height: 4px;
      background-color: $te-blue;
      animation: loading 2s linear infinite;
    }
  }
}

.te-alert-page {
  &__subtitle {
    margin: 0 0 $te-content-container-margin 0;
  }
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

.te-search-results {
  border-bottom: 1px app-shade(black, 1) solid;
  color: app-shade(black, 0.7);
  padding: 20px 0;

  &--slim {
    padding: 24px 0 0 0;
  }

  &__list {
    list-style: none;
    font-weight: normal;
    margin-top: 17px;

    &--summary-block {
      padding: 0;
    }

    &--details-block {
      padding: 0;
    }
  }

  &__row {
    display: flex;
    font-size: $te-font-size-small;
  }

  &__option {
    font-weight: 600;

    &--list {
      display: inline-block;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      margin-right: 10px;
      color: app-shade(black, 4);
    }

    &--solo {
      color: app-shade(black, 9);
      width: 140px;
      margin-right: 20px;
      text-align: right;
    }

    &--left {
      width: 100px;
    }
  }

  &__value {
    flex-shrink: 9015;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__value-solo {
    color: app-shade(black, 5);
    max-width: 340px;
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title-group {
    color: app-shade(black, 0.85);
    font-size: 21px;
  }

  &__title {
    min-width: 95px;
    display: flex;
  }

  &__title-link {
    line-height: 25px;
    overflow: hidden;
  }

  &__title-name {
    height: 31px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    margin: 0 $te-spacing 0 0;
  }

  &__edit-button {
    margin-left: $te-spacing;
  }

  &__summary-item {
    line-height: 22px;

    &--title {
      margin: 0;
      color: $te-blue-4;
      font-size: $te-font-size-medium;
      font-weight: 400;
    }
  }

  &__icon {
    float: right;
    padding: 15px 15px 0 0;
    color: app-shade(black, 2);
  }

  &__prop {
    &--missing {
      color: app-shade(black, 5);
    }
  }

  &__tag {
    background-color: app-shade(black, 3);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    line-height: 20px;
    border-radius: 3px;
    padding: 4px 8px;
    margin-right: 20px;
    display: inline-block;
    color: white !important;
    width: auto;
    font-weight: bold;
    border: 2px solid;
    cursor: default;

    &--list {
      margin: 3px 10px 0 0;
      display: block;
      float: left;
    }

    &--active {
      background-color: $te-good;
      border-color: $te-good;
    }

    &--good {
      background-color: white;
      font-weight: bold;
      border-radius: 15px;
      border: 2px solid;
      border-color: $te-good;
    }

    &--average {
      background-color: white;
      font-weight: bold;
      border-radius: 15px;
      border: 2px solid;
      border-color: $te-average;
    }

    &--poor {
      background-color: white;
      font-weight: bold;
      border-radius: 15px;
      border: 2px solid;
      border-color: $te-poor;
    }

    &--unknown {
      background-color: white;
      font-weight: bold;
      border-radius: 15px;
      border: 2px solid;
      border-color: app-shade(black, 3);
    }
  }

  &__a-tag {
    &--good {
      text-decoration: none !important;
      color: $te-good !important;
    }

    &--average {
      text-decoration: none !important;
      color: $te-average !important;
    }

    &--poor {
      text-decoration: none !important;
      color: $te-poor !important;
    }

    &--unknown {
      text-decoration: none !important;
      color: app-shade(black, 3) !important;
    }
  }

  &:last-child {
    border: none;
  }
}

.te-search-header {
  padding-bottom: $te-spacing;
  border-bottom: 1px app-shade(black, 1) solid;

  &__titles {
    border-bottom: none;
    padding-bottom: 5px;
  }

  &__filters {
    border-top: none;
    font-size: 13px;
    border-bottom: 1px app-shade(black, 1) solid;
    padding-bottom: 10px;
  }

  &__displaynum {
    margin-top: 10px;
  }

  &__icon {
    display: inline-block;
    margin-left: 3px;
    vertical-align: top;
  }

  &__tooltip {
    max-width: 600px;
  }
}

.te-search-filters {
  background: app-shade(black, 1);
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-block;
  max-width: 525px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: text-bottom;
}

.te-search-title {
  font-size: 20px;
  color: app-shade(black, 0.85);
  margin-right: 3px;
  vertical-align: bottom;
}

.te-link--show {
  display: block;
  float: right;
}

.te-link--hide {
  display: none;
}

.te-topcard-subnav {
  display: flex;
  border-top: 1px solid app-shade(black, 1);
  padding-top: 12px;
  margin: 25px 0 13px 0;

  &__item {
    margin: 0 14px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.activation-toggle {
  display: inline-block;
}
