/* -----------------------------------------------------------------------------
 * TE shared style values and sizes
 * ---------------------------------------------------------------------------*/
$te-font-size-default: 15px;
$te-font-size-medium: 17px;
$te-font-size-component-title: 25px;

$te-list-line-height: 28px;
$te-header-component-padding: 25px;