/* -----------------------------------------------------------------------------
 * TE shared style values and sizes
 * ---------------------------------------------------------------------------*/
$te-nav-link-height: 48px;
$te-nav-link-spacing: 45px;
$te-nav-letter-spacing: .8px;

$te-content-padding-sides: 140px;
$te-content-padding-top: 20px;

$te-font-size-medium: 18px;
$te-font-size-small: 15px;
$te-font-size-tiny: 13px;
$te-font-size-component-title: 25px;

$te-list-line-height: 28px;
$te-header-component-padding: 25px;

$te-content-container-margin: 32px;
$te-default-element-spacing: 24px;
$te-filter-element-spacing: 18px;

$te-spacing: 14px;
$te-spacing--sm: 8px;
$te-spacing--md: 16px;
$te-spacing--lg: 24px;

$te-icon-animation: fadeinout 4s linear forwards;
