<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.linkedin.pinot.transport.pool.TestKeyedPoolImpl"/>
      <class name="com.linkedin.pinot.transport.common.TestServerInstance"/>
      <class name="com.linkedin.pinot.transport.common.ResponseCompositeFutureClientRunnerListener"/>
      <class name="com.linkedin.pinot.transport.pool.MyCallback"/>
      <class name="com.linkedin.pinot.transport.common.FutureListener"/>
      <class name="com.linkedin.pinot.AppTest"/>
      <class name="com.linkedin.pinot.transport.netty.MyNettyChannelInboundHandler"/>
      <class name="com.linkedin.pinot.transport.common.TestCompositeFuture"/>
      <class name="com.linkedin.pinot.transport.pool.BlockingTestResourceManager"/>
      <class name="com.linkedin.pinot.transport.scattergather.TestScatterGather"/>
      <class name="com.linkedin.pinot.transport.common.ResponseFuture"/>
      <class name="com.linkedin.pinot.transport.scattergather.MyReplicaSelection"/>
      <class name="com.linkedin.pinot.transport.pool.MyPooledResourceManager"/>
      <class name="com.linkedin.pinot.transport.common.TestReplicaSelection"/>
      <class name="com.linkedin.pinot.transport.netty.MyServerChannelInitializer"/>
      <class name="com.linkedin.pinot.transport.pool.FutureReader"/>
      <class name="com.linkedin.pinot.transport.pool.TestAsyncPoolResourceManagerAdapter"/>
      <class name="com.linkedin.pinot.transport.pool.TestResourceManager"/>
      <class name="com.linkedin.pinot.transport.netty.MyRequestHandlerFactory"/>
      <class name="com.linkedin.pinot.transport.netty.TestNettyCloseChannel"/>
      <class name="com.linkedin.pinot.transport.common.BucketKey"/>
      <class name="com.linkedin.pinot.transport.netty.NettyCloseTCPServer"/>
      <class name="com.linkedin.pinot.transport.common.WaitForCompletion"/>
      <class name="com.linkedin.pinot.transport.common.ResponseFutureClientRunner"/>
      <class name="com.linkedin.pinot.transport.common.TestSelectingFuture"/>
      <class name="com.linkedin.pinot.transport.scattergather.TestRequestHandler"/>
      <class name="com.linkedin.pinot.transport.netty.TestNettySingleConnectionInteg"/>
      <class name="com.linkedin.pinot.transport.scattergather.TestScatterGatherRequest"/>
      <class name="com.linkedin.pinot.transport.netty.MyRequestHandler"/>
      <class name="com.linkedin.pinot.transport.common.TestResponseFuture"/>
      <class name="com.linkedin.pinot.transport.scattergather.TestRequestHandlerFactory"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
