/* metric tables */
border-left:1.0pt solid;
border-top:1.0pt solid;
border-right:1.0pt solid;
border-bottom:1.0pt solid;
border-left-color:#c0c0c0;
border-top-color:#c0c0c0;
border-right-color:#c0c0c0;
border-bottom-color:#c0c0c0;
