<div class="col-xs-4">
  <label class="te-label te-label--small">Display Window
    <span>
      <i class="glyphicon glyphicon-question-sign"></i>
      {{#tooltip-on-element class="te-tooltip"}}
        This is the maximum display period in days. You can zoom into the chart further using the mouse wheel.
      {{/tooltip-on-element}}
    </span>
  </label>
  {{date-range-picker
    class="te-range-picker"
    alwaysShowCalendars=true
    start=analysisRangeStart
    end=analysisRangeEnd
    maxDate=analysisRangeMax
    ranges=analysisRangePredefined
    showCustomRangeLabel=false
    format="MMM D"
    serverFormat="YYYY-MM-DD HH:mm"
    applyAction=(action "onAnalysisRange")
  }}
</div>
<div class="col-xs-4">
  <label class="te-label te-label--small">Granularity
    <span>
      <i class="glyphicon glyphicon-question-sign"></i>
      {{#tooltip-on-element class="te-tooltip"}}
        This is the data granularity for displaying metrics. If a metric's data source does not have sufficient resolution, we show the metric at the highest available granularity.
      {{/tooltip-on-element}}
    </span>
  </label>
  {{#power-select
    selected=selectedOption
    options=granularityOptions
    searchEnabled=false
    triggerId="select-granularity"
    onchange=(action "onGranularity")
    as |granularity|
  }}
    {{granularity}}
  {{/power-select}}
</div>
<div class="col-xs-4">
  <label class="te-label te-label--small">Compare by
    <span>
      <i class="glyphicon glyphicon-question-sign"></i>
      {{#tooltip-on-element class="te-tooltip"}}
        The display mode controls the transformation of metric values (y-axis).
        <ul class="rootcause-label__list">
          <li><strong>absolute</strong> displays the raw values</li>
          <li><strong>relative</strong> computes the ratio from the first data point of each metric</li>
          <li><strong>log</strong> applies a log10 transformation</li>
          <li><strong>split</strong> shows separate charts for each metric</li>
        </ul>
      {{/tooltip-on-element}}
    </span>
  </label>
  {{#power-select
    selected=timeseriesMode
    options=timeseriesModeOptions
    searchEnabled=false
    triggerId="select-timeseries-mode"
    onchange=(action "onTimeseriesMode")
    as |mode|
  }}
    {{mode}}
  {{/power-select}}
</div>
