/**
 * Alert create route styles
 */

.te-graph-alert {
  width: 100%;
  margin-top: $te-spacing;
  border-radius: 5px;

  &--pending {
    background-color: app-shade(black, 1);
    height: 420px;
    text-align: center;
    font-weight: bold;
    color: app-shade(black, 2);
    font-size: 20px;
  }

  &__icon {
    font-size: 100px;
    color: app-shade(black, 1);

    &--warning {
      color: app-shade(black, 3);
      font-size: 82px;
    }
  }

  &__content {
    @include vertical-align();
  }

  &__pre-text {
    line-height: 54px;
  }
}

.alert-group-functions {
  list-style: none;
  padding-left: 0;

  &__item {
    &--key {
      text-transform: uppercase;
      font-size: 13px;
      padding-left: 5px;
    }

    &--value {
      font-weight: 600;
    }
  }
}
