/**
 * Placeholder for alert create route styles
 */
.ss-create-alert {}

.te-graph-alert {
  width: 100%;

  &--pending {
    background-color: $te-light-grey;
    height: 420px;
    text-align: center;
    font-weight: bold;
    color: app-shade(black, 1);
    font-size: 20px;
  }

  &__icon {
    font-size: 100px;
  }

  &__content {
    @include vertical-align();
  }

  &__pre-text {
    line-height: 54px;
  }
}

.alert-group-functions {
  list-style: none;
  padding-left: 0;

  &__item {
    &--key {
      text-transform: uppercase;
      font-size: 13px;
      padding-left: 5px;
    }

    &--value {
      font-weight: 600;
    }
  }
}