<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %p [%t] %c{1.} %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info" additivity="false">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>