<form id="login-form">
  {{input
  value=username
  class="nacho-login-form__input"
  placeholder="Username"
  id="login-username"}}

{{input
  value=password
  class="nacho-login-form__input"
  placeholder="Password"
  id="login-password"
  type="password"}}

<p class="nacho-login__login-error">{{if errorMessage errorMessage}}</p>

<button type="submit" form="login-form" value="submit" {{action "_onLogin"}} class="nacho-login-button">
  Login
</button>
</form>
