#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

flask-cors==3.0.3
flask-mail==0.9.1
flask-oauth==0.12
flask_oauthlib==0.9.5
gevent==1.2.2
impyla==0.14.0
mysqlclient==1.4.2
psycopg2==2.7.6.1
pyathena==1.5.1
pybigquery==0.4.10
pyhive==0.5.1
pyldap==2.4.28
pymssql==2.1.4
redis==3.2.1
sqlalchemy-redshift==0.7.1
pinotdb==0.2.4
