{{!-- TODO: Replace css classes below with te-anomaly-table styles --}}
<p>
  {{record.current}}/{{record.baseline}}
</p>
<p class="te-anomaly-table__value-label te-anomaly-table__value-label--{{calculate-direction record.change}}">
  {{record.humanizedChange}}
</p>
