{{!-- TODO: Replace css classes below with te-anomaly-table styles --}}
<p class="anomalies-table__values">
  {{record.current}}/{{record.baseline}}
</p>
<p class="anomalies-table__change anomalies-table__change--{{color-delta record.change}}">
  {{record.change}}
</p>
