* {
  box-sizing: border-box;
}

// All-in-one Bootstrap
@import "ember-bootstrap/bootstrap.scss";


// Shared
@import "shared/functions";
@import "shared/color";
@import "shared/variable";
@import "shared/mixins";
@import "shared/styles";

// Wrapper
@import "wrapper/color";

body {
  background-color: #f5f5f5;
  margin: 0;
}

.anomaly-title-bar {
  background: white;
  border-bottom: 1px #e9e9e9 solid;
}
@import 'wrapper/styles';

// Components
@import 'components/anomaly-id';
@import 'components/anomaly-graph';
@import 'components/contribution-table';
@import 'components/te-navbar';
@import 'components/filter-select';
@import 'components/dimension-heatmap';
@import 'components/dimension-summary';

// Pod Pages
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import "pods/manage/alerts";
@import "pods/self-serve/create-alert";
@import "pods/self-serve/import-metric";
@import 'pods/rca';
@import 'pods/events';
