* {
  box-sizing: border-box;
}

// All-in-one Bootstrap
@import "ember-bootstrap/bootstrap.scss";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";


// Shared
@import "shared/functions";
@import "shared/color";
@import "shared/variable";
@import "shared/mixins";
@import "shared/styles";

// Wrapper
@import "wrapper/color";

body {
  background-color: #f5f5f5;
  margin: 0;
}

.anomaly-title-bar {
  background: white;
  border-bottom: 1px #e9e9e9 solid;
}
@import 'wrapper/styles';

// Components
@import 'components/anomaly-id';
@import 'components/anomaly-graph';
@import 'components/contribution-table';
@import 'components/te-navbar';
@import 'components/button';
@import 'components/links';
@import 'components/filter-select';
@import 'components/dimension-heatmap';
@import 'components/dimension-summary';
@import 'components/heatmap-chart';
@import 'components/login-form';
@import 'components/entity-filter';
@import 'components/filter-bar';
@import 'components/te-modal';
@import 'components/rootcause-anomaly';
@import 'components/rootcause-header';
@import 'components/te-tooltip';
@import 'components/rootcause-legend';
@import 'components/rootcause-metric';
@import 'components/rootcause-placeholder';
@import 'components/rootcause-chart';
@import 'components/alert-report-modal';
@import 'components/te-radio';
@import 'components/metrics-table';

// Pod Pages
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import "pods/manage/alerts";
@import "pods/manage/alerts-performance";
@import "pods/self-serve/create-alert";
@import "pods/self-serve/import-metric";
@import 'pods/rca';
@import 'pods/events';
@import 'pods/login';
@import 'pods/rootcause';
