* {
  box-sizing: border-box;
}

/* Individual bootstrap components (as needed)
@import "ember-bootstrap/bootstrap/variables.scss";
@import "ember-bootstrap/bootstrap/normalize.scss";
@import "ember-bootstrap/bootstrap/mixins.scss";
@import "ember-bootstrap/bootstrap/glyphicons.scss";
@import "ember-bootstrap/bootstrap/forms.scss";
@import "ember-bootstrap/bootstrap/grid.scss";
@import "ember-bootstrap/bootstrap/tables.scss";
*/

// All-in-one Bootstrap
@import "ember-bootstrap/bootstrap.scss";

// Shared
@import "shared/functions";
@import "shared/color";
@import "shared/variable";
@import "shared/mixins";
@import "shared/styles";

// Wrapper
@import "wrapper/color";
@import 'wrapper/styles';

// Components
@import 'components/anomaly-id';
@import 'components/anomaly-graph';
@import 'components/contribution-table';
@import 'components/te-navbar';

// Pod Pages
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import "pods/manage/alerts";
@import "pods/self-serve/create-alert";
@import "pods/self-serve/import-metric";
@import 'pods/rca';
/*=======
@import "pods/alert-manage";
@import "pods/alert-create";
@import "pods/alert-onboard";
>>>>>>> TE self-serve1*/
