<div class="col-xs-3">
  <label class="te-label" for="select-anomaly-region">Comparison Range:
    <span>
      <i class="glyphicon glyphicon-question-sign"></i>
      {{#tooltip-on-element}}
        Typically, this is your anomaly region. It's highlighted in orange in the graph above.
      {{/tooltip-on-element}}
    </span>
  </label>
  {{date-range-picker
    class="te-range-picker"
    timePicker=true
    timePicker24Hour=true
    timePickerIncrement=5
    start=datePickerAnomalyRangeStart
    end=datePickerAnomalyRangeEnd
    maxDate=datePickerMaxDate
    ranges=anomalyRanges
    showCustomRangeLabel=false
    format="MMM D, hh:mm a"
    serverFormat="YYYY-MM-DD HH:mm"
    applyAction=(action "setAnomalyDateRange")
  }}
</div>
<div class="col-xs-2">
  {{#power-select
    selected=compareMode
    options=compareModeOptions
    searchEnabled=false
    triggerId="select-compare-mode"
    onchange=(action "onCompareMode")
  as |mode|
  }}
    {{mode}}
  {{/power-select}}
</div>
