<div class="row">
  <div class="columns large-12">
    <a style="float: right;" href="#/fabric/{{fabric}}/createTenant">Create Tenant</a>
    <h4>{{fabric}}</h4>
      <h6>Tenants</h6>
      <ul class="large-block-grid-4">
        <li ng-repeat="resource in resources">
            <ul class="pricing-table">
              <li class="title">{{resource}}</li>
              <li class="cta-button"><a class="button" href="#/resource/{{fabric}}/{{resource}}">Open</a></li>
            </ul>
        </li>
      </ul>
      <h6>Nodes</h6>
      <table>
        <thead>
          <tr>
            <th>Hostname</th>
            <th>Type</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="node in nodes">
            <td>{{node.host}}</td>
            <td>{{node.type}}</td>
            <td>{{fixtags(node.tags).join(',')}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
