.te-performance-tooltip {
  display: inline-block;

  &__title {
    text-transform: uppercase;
  }
  &__list {
    padding-left: 0;
    margin-top: 5px;
    max-width: 400px;
  }
  &__item {
    list-style: none;
  }
  &__category {
    color: app-shade(white, 5);
    padding-right: 7px;
  }
}

.te-performance-metric {
  width: 20px;
  text-align: right;
  display: inline-block;

  &__subset {
    display: inline-block;
    color: app-shade(black, 6);
    padding-left: 5px;

    &--null {
      color: app-shade(black, 4);
    }
  }
}
