.manage-alert-filters {
  margin: $te-default-element-spacing 10px 0 -30px;

  &__wrapper {
    margin-right: 5px;
  }

  &__row {
    margin: 0;
    padding: 12px $te-default-element-spacing;
    font-size: 16px;
    border-top: 1px solid $te-grey;
    background-color: $te-alerts-row-color;

    &--title {
      border: none;
      font-size: 19px;
      line-height: 30px;
      background-color: white;
    }
  }

  &__options {
    margin: 0;
    padding: 12px $te-default-element-spacing;
    background-color: white;
  }
}

.manage-alert-container {
  min-height: 200px;
  letter-spacing: 0.5px;

  &__title {
    @include app-sub-title-mixin;
  }

  &__reset {
    float: right;
  }
}

.manage-alert-search {
  @include group-clearfix;
  float: right;
  width: 100%;
  margin-bottom: 10px;

  &__filter {
    float: left;
    min-width: 180px;
    margin-right: $te-default-element-spacing;
  }

  &__sort {
    float: right;
    width: 20%;
    min-width: 100px;
    margin-left: $te-default-element-spacing;
  }

  &__input {
    width: 75%;
    min-width: 300px;
    display: inline-block;
  }

  &__label {
    line-height: 40px;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 13px;
  }

  &__button-remove {
    display: none;
  }
}

.manage-alert-results {
  clear: both;
}
