{{#if (set-has loadingFrameworks "metricRelated")}}
  <div class="spinner-wrapper spinner-wrapper--card">
    {{ember-spinner}}
  </div>
{{/if}}
<div class="pull-right">
  <a {{action "onEntityMappingClick"}} class="thirdeye-link thirdeye-link--settings">
    + add related metrics
  </a>
  <span class="te-tooltip-wrapper">
    <i class="glyphicon glyphicon-question-sign">
      {{#tooltip-on-element class="te-tooltip"}}
        Can't find your metric? Click here to add a new metric mapping.
      {{/tooltip-on-element}}
    </i>
  </span>
</div>
{{rootcause-trend
  entities=entities
  timeseries=timeseries
  context=context
  selectedUrns=selectedUrns
  isLoading=isLoadingTimeseries
  onSelection=(action "onSelection")
}}
