<p class="anomalies-table__text anomalies-table__text--stronger">
  <label class="te-label te-label--small">
    {{moment-format record.anomaly.start 'MMM D, hh:mm A'}}
    {{#tooltip-on-element}}
      Start: {{moment-format record.anomaly.start 'MMM D, hh:mm A'}}<br />
      End: {{moment-format record.anomaly.end 'MMM D, hh:mm A'}}
    {{/tooltip-on-element}}
  </label>
</p>
<p class="anomalies-table__text">
  {{record.duration}}
</p>
