{{#te-modal
  headerText=headerText
  isShowingModal=showYAMLModal
  cancelAction=(action "onExit")
  hasFooter=false
}}
  <div class="row te-modal__settings">
    <p class="col-md-2">
      <span class="te-label te-label--bold te-label--dark">YAML Documentation Coming soon...</span>
    </p>
  </div>
{{/te-modal}}
