#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: Pinot Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - "docs/**"
      - "licenses/**"
      - "licenses-binary/**"
      - "**.md"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "docs/**"
      - "licenses/**"
      - "licenses-binary/**"
      - "**.md"

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        testset: [ 1, 2 ]
    name: Pinot Unit Test Set ${{ matrix.testset }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      # Step that does that actual cache save and restore
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Unit Test
        env:
          RUN_INTEGRATION_TESTS: false
          RUN_TEST_SET: ${{ matrix.testset }}
          MAVEN_OPTS: -Xmx2G -DskipShade -DfailIfNoTests=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false
        run: .github/workflows/scripts/.pinot_test.sh
      - name: Upload coverage to Codecov
        run: |
          bash <(curl -s https://codecov.io/bash) -cF unittests${{ matrix.testset }}

  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        testset: [ 1, 2 ]
    name: Pinot Integration Test Set ${{ matrix.testset }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      # Step that does that actual cache save and restore
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Integration Test
        env:
          RUN_INTEGRATION_TESTS: true
          RUN_TEST_SET: ${{ matrix.testset }}
          MAVEN_OPTS: -Xmx2G -DskipShade -DfailIfNoTests=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false
        run: .github/workflows/scripts/.pinot_test.sh
      - name: Upload coverage to Codecov
        run: |
          bash <(curl -s https://codecov.io/bash) -cF integration${{ matrix.testset }}

  compatibility-verifier:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test_suite: [ "compatibility-verifier/sample-test-suite" ]
        old_commit: [ "release-0.7.1", "master" ]
    name: Pinot Compatibility Regression Testing against ${{ matrix.old_commit }} on ${{ matrix.test_suite }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      # Step that does that actual cache save and restore
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Pinot Compatibility Regression Testing
        env:
          OLD_COMMIT: ${{ matrix.old_commit }}
          WORKING_DIR: /tmp/compatibility-verifier
          TEST_SUITE: ${{ matrix.test_suite }}
          MAVEN_OPTS: -Xmx2G -DskipShade -DfailIfNoTests=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false
        run: .github/workflows/scripts/.pinot_compatibility_verifier.sh

  quickstarts:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 1.8, 10, 11, 12, 13, 14, 15 ]
    name: Pinot Quickstart on JDK ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      # Step that does that actual cache save and restore
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Quickstart on JDK ${{ matrix.java }}
        run: .github/workflows/scripts/.pinot_quickstart.sh

  presto-driver-build:
    runs-on: ubuntu-latest
    name: Build Presto Pinot Driver
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Set up Toolchain
        shell: bash
        run: |
            mkdir -p $HOME/.m2 \
            && cat << EOF > $HOME/.m2/toolchains.xml
            <?xml version="1.0" encoding="UTF8"?>
            <toolchains>
              <toolchain>
                <type>jdk</type>
                  <provides>
                    <id>Java11</id>
                    <version>11</version>
                  </provides>
                  <configuration>
                    <jdkHome>/opt/hostedtoolcache/jdk/11.0.12/x64</jdkHome>
                  </configuration>
              </toolchain>
              <toolchain>
                <type>jdk</type>
                  <provides>
                    <id>Java8</id>
                    <version>8</version>
                  </provides>
                  <configuration>
                    <jdkHome>/opt/hostedtoolcache/jdk/8.0.302/x64</jdkHome>
                  </configuration>
              </toolchain>
              <toolchain>
                <type>jdk</type>
                  <provides>
                    <id>Java1.8</id>
                    <version>1.8</version>
                  </provides>
                  <configuration>
                    <jdkHome>/opt/hostedtoolcache/jdk/8.0.302/x64</jdkHome>
                  </configuration>
              </toolchain>
            </toolchains>
            EOF
      - name: Build just presto pinot driver
        env:
          RUN_INTEGRATION_TESTS: false
          MAVEN_OPTS: -Xmx2G -DfailIfNoTests=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false
        run: |
          .github/workflows/scripts/.presto_pinot_build.sh && \
          ls -lrth pinot-connectors/presto-pinot-driver/target
