/* Generic and utility classes */
html,
body,
#tabs,
#tabs>li,
#tabs>li>section,
#main-view,
.display-chart-area{
    height:100%;
}

button:focus {
    outline:0;
}

ul, ol{
    padding-left: 0px;
}

li {
    margin: 10px 0;
}

body a{
    text-decoration:none;
    color: #444;
    cursor: pointer;
    padding: 6px 10px;
}

.clear-fix:after{
    content: '';
    display: block;
    clear: both;
}

.add-btn{
    position: relative;
}

.hidden{
    display: none;
}

.not-visible{
    visibility: hidden;
}

.bold-label{
    font-family: arial, sans-serif;
    font-weight: 700;
}

.border-left{
    border-left: 1px solid #666;
}

.red {
    color: red;
}

.blue {
    color: #1f77b4;
}
.blue a {
    color: #1f77b4;
}
.thin-input{
   width:65px;
}

.green-background {
    background: #f2fae3;
}

.red-background{
    background: #fff1f0;
}

.position-top-right{
    position: absolute;
    top: 10px;
    right: 10px;
}

.required:after {
    content:" *";
}

.plus-symbol:before {
    content: "+";
}

.tip-to-user{
    position: relative;
    z-index: 5;
}

.tip-to-user p{
  margin-top:0;
}

.close-parent{
    padding: 3px;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}

.checkbox-type-button,
.radio-type-button{
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f5f5f5;
    vertical-align: middle;
    line-height: 28px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}
.checkbox-type-button.uk-active,
.radio-type-button.uk-active{
    background-color: #ddd;
    color: #444;
    font-weight: 800;
}

/** Dashboard header **/
.brand,
.brand:hover{
      position: relative;
      left: -20px;
      top: 10px;
      font-size: 26px;
      color: #fff;
}

.brand:before {
    content: "";
    display: inline-block;
    height: 35px;
    width: 45px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAiCAQAAABsW+iDAAAA3klEQVRIx83Wuw3CMBAG4BshaahZIBUjsAKNB8gopqaiTpsRGMEjsANI3ADI+CElcTgKuLuQsyIrUvTJ+n1WDL7yJ8+pLggwH8BEM0ywEqXEbpdfLfZYA2CNvSCLDoZCJ8faCWt12HbtISht2Z+OA97QpXH9kh2zLd8D9cR2knyNZwnWxszLmvXKLyxdRbcIsgcBNgQRt+uCuzFhNotH6tDwWafMvn/FYB93FbZo0cXZxps0Gkk2opkPsBxr0rPPszRr/EaDBenVfsqW/XegO2F9dzCC7XQuohUTJq/NL1/k/oovlOCIAAAAAElFTkSuQmCC);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index:10;
}

#header-help:hover{
    color: #ffffff;
}

/** FORM related css **/

.form-area{
    background-color: rgb(250, 250, 250);
    padding: 20px 10px 20px 45px;
    height: 200%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.time-range-selector-dropdown{
    position: relative;
    margin-top: 5px;
    max-width: 280px;
}

.date-time-selector-box {
    margin: 0 0 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.view-dataset-selector,
.view-dashboard-selector,
.view-metric-selector,
.view-single-metric-selector,
.view-dimension-selector,
.view-single-dimension-selector,
.view-filter-selector,
.view-date-range-selector{
    margin-top: 10px;

}

.view-dataset-selector>label,
.view-dashboard-selector>label,
.view-metric-selector>label,
.view-dimension-selector>label,
.view-filter-selector>label,
.view-date-range-selector>label{
    display: inline-block

}

#dashboard-settings{
    width: 100%;
    margin: 15px 0 0 0;
    padding: 0;
    border: solid 1px #d4d4d5;
    border-bottom: none;
    box-sizing: border-box;
}


.dashboard-settings-tab-content{
    list-style: none;
    -webkit-padding-start: 0px;
    margin: 0;
}

.dashboard-settings-li{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}

.dashboard-settings-label{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #000;
    box-sizing: border-box;
    color: #303336;
    display: inline-block;
    margin: 0 0 1px 0;
    padding: 0 20px;
    text-align: center;
    width: 169px;
    height: 44px;
    padding: 10px;
    background-color: #f5f5f5;
}

.dashboard-settings-li td{
    padding: 5px;
}

.dashboard-settings-label-td{
     width: 169px;
     background-color: #f5f5f5;
}

.view-single-metric-selector .uk-button-group,
.view-dataset-selector .uk-button-group{
    width: 100%;
}

.view-single-metric-selector #selected-metric,
.view-dataset-selector .selected-dataset{
    width: 71%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.added-item,
.remove-linked-function,
.add-unlinked-function{
    margin: 5px 0 5px 5px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.remove-selection,
.remove-filter-selection{
    padding: 4px;
}

/* Form: Filter related */

.uk-dropdown.filter-panel{
    width:450px;
    display:table
}

.dimension-filter,
.value-filter{
    width:49%;
    line-height: 30px;
    display: table-cell;
    padding: 5px;
}

.filter-dimension-list{
    position: relative;
    top: 37px;
}

.filter-dimension-list,
.filter-dimension-value-list{
    background: #fff;
    vertical-align: top;
    border: 1px solid #ccc;
    height:200px;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

.filter-dimension-value-list label{
    text-overflow: ellipsis;
}

.filter-dimension-option{
    overflow: hidden;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    padding: 0px;
}

.filter-dimension-option a{
    padding:8px 10px;
    display: inline-block;
    width: 100%;
}

.filter-dimension-option:hover{
    background-color: #00a8e6
}

.filter-dimension-option.uk-active{
    background-color: #ddd;
}

.filter-dimension-value-item{
    display:block;
    line-height:30px;
    border-bottom: 1px solid #ddd;
    padding-left:5px;
    text-overflow: ellipsis;
}

.added-filter{
    margin: 5px 0 5px 5px;
}

/* Form: Time selector */
.max-min-time-label{
    font-size: 0.65em;
}

.granularity-btn-group.vertical button{
    width: 250px;
}

/* Form: Anomaly config related */
#self-service-tabs a{
    color: #444;
    padding: 30px;
    font-size: 16px;
    font-weight: 700;
}

#configure-anomaly-function-form .uk-form-row{
   margin-bottom: 15px;
   margin-left: 10px;
}

#configure-functions-form-table td,
#configure-emails-form-table td{
    padding: 0 10px 15px 10px;

}

#name{
    width: 250px;
}
#anomaly-threshold-max,
#anomaly-threshold-min,
#anomaly-threshold{
    width: 115px;
}

#filter-panel-manage-anomaly-fn .value-filter{
    width:90%;
    line-height: 30px;
    display: table-cell;
    padding: 5px;
}

/** Chart area **/

.chart-area{
    margin: 0;
    padding-left: 0px;
    height: 100%;
}


.display-chart-section,
.display-main-content-section{
    height: 100%;
    padding: 12px;;
}


.loader{
    position: absolute;
    top: 0;
    left: 0px;
    margin:0px;
    background-color: rgba(148, 148, 148, 0.7);
    z-index: 999;
    height: 200%;
    width: 100%;
}

.loader i{
    position: absolute;
    top: 10%;
    left: 50%;
}

#chart-control{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    display: inline-block;
    width: 148px;
    height:96%;
    border-right: 1px solid #d4d4d5;
    padding:10px;
}

#chart-types button{
    min-width:105px;
    margin: 5px;
}

.dimension-section-wrapper{
    border-bottom: 5px solid #ddd;
    margin-bottom:15px;
}

/* Contributors section*/
.metric-title{
    font-weight: 800;
}

.dimension-timeseries{
    width: 95%;
    height: 300px;
    position: relative;
    top: 40px;
}

.contributors-table .contributors-table{
    width: 100%;
    overflow-x: scroll;
}

.contributors-table .contributors-table.fixed-table-layout{
    table-layout: fixed;
}

.contributors-table td,
.contributors-table th{
    line-height: 8px;
    font-size: 0.65em;
    padding: 6px;
    font-family: Arial, sans-serif;
    color: #000;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #666;
}

.contributors-table .row-title{
    border: 1px solid #666;
}

.contributors-table .select_all_cell{
    border: 1px solid #666;
    width:25px;
}

.contributors-table .contributors-table-date{
    font-weight: 600;
    white-space: nowrap;
}

.contributors-table table tr td:first-child {
    word-wrap: break-word;
}

.contributors-table td:hover{
    color: #898989;
}

.contributors-table .divider-cell{
    border-left: 1px solid #666;
    border-top:none;
    border-right: 1px solid #666;

}

.contributors-table .divider-row td{
    line-height: 8px;
    height: 10px;
    border-bottom: 1px solid #666;
    margin-bottom: 0;
    text-align: left;
}

.contributors-table .data-row{
    border-top: 1px solid #666;
}

.contributors-table .table-time-cell{
    font-weight: 600;
}

.contributors-table .checkbox-cell{
    width:15px;
}
.contributors-table .dimension-value-cell{
    width:100px;
    word-wrap: break-word;
}

.contributors-table .heat-map-cell{
    border-right: 1px solid #666;
}

.contributors-table .dimension-value-cell{
    border: 1px solid #666;
    width: 100px;
}

.contributors-table .contributors-table-date,
.contributors-table .table-time-cell{
    border: 1px solid #666;
}

.contributors-table .checkbox-cell{
    width:15px;
    border: 1px solid #666;
    padding: 0px;
}

/** Tabular view related styling **/

#linechart-placeholder {
    display: inline-block;
    width: 83%;
    height: 250px;
}


#barchart-placeholder {
    display: inline-block;
    width: 83%;
    height: 150px;
}


.chart.legend span {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 3px;
}

.timeseries-legend-box{
    width:15%;
    line-height: 30px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    top: 70px;
    right:10px;
}

.timeseries-legend-sub-box{
    background: #fff;
    vertical-align: top;
    border: 1px solid #ccc;
    max-height: 440px;
    overflow-y: scroll;
}

.timeseries-legend-box label{
    display:block;
    line-height:30px;
    padding-left:5px;
    text-overflow: ellipsis;
    font-size: 0.65em;
    font-family: Arial, sans-serif;
}

.legend-item{
    display:block;
    line-height:30px;
    border-bottom: 1px solid #ddd;
    padding-left:5px;
    text-overflow: ellipsis;
}

.legend-label-value-td{
    padding-left: 5px;
}

.metric-time-series-legend label,
.dimension-time-series-legend label{
    border-bottom: 1px solid #ddd;
}

#funnel-table-msg{
    width: 670px;
    float: right;
}


.flipped-scroll-container{
    width: 100%;
    overflow-y: auto;
}

.flipped-scroll-container,
.flipped-scroll-container table{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg);
}

#funnels-table .heat-map-cell:hover{
    cursor : pointer;
    text-decoration: underline;
}

#funnels-table thead{
    border-top: 1px solid #666;
}

#funnels-table td,
#funnels-table th{
    line-height: 8px;
    font-size: 0.65em;
    padding: 6px;
    font-family: Arial, sans-serif;
    color: #000;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #666;
}

.dropdown-column{
    width:30px;
}

.funnels-table-dimension-box{
    background-color: #f5f5f5;
    width:205px;
    height:105px;
    border: 1px solid #333;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

}

.funnels-table-dimension-list{
    vertical-align: top;
    border: 1px solid #000;
    height: 105px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    margin: 0 10px;
    background: #fff;
}

.funnels-table-dimension-list .funnels-dimension-option{

    line-height: 8px;
    font-size: 10px;
    padding: 6px;
    font-family: Arial, sans-serif;
    color: #000;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #666;
}

.date-time-selector-box{
    background-color: #fff;
    border: 2px solid #efefef;
    cursor: pointer;
    position: relative;
    z-index: 19;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.date-time-selector-box-table{
    border-spacing: 0;
    border-collapse: collapse;
}

.date-time-selector-box-current-td{
    padding: 3px;
    width:100%;
}

.time-input-form .uk-form-select{
    background-color: #fff;
}

.current-start-date,
.current-end-date{
    color: #1c2e3d;
    font-size: 14px;
    font-weight: 600;
}

.baseline-start-date,
.baseline-start-time,
.baseline-end-date,
.baseline-end-time{
    color: #333;
}

.date-devider{
    padding: 0px;
}

.comparison-display-label{
    color: #999;
    font-size:12px;
}

.arrow-down{
    padding:6px;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
}

/* Heat-map related */

.title-box{
    background-color: #f5f5f5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border: 1px solid #ddd;
    height: auto;
    margin: 0 0 15px;
    padding: 5px 12px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.title-box table{
    width: 100%;
}

.title-box th {
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
}

.title-stat {
    font-size: 0.75em;
    font-weight: 800;
    text-align: start;
    padding: 5px;
}

#tooltip,
#existing-fn-table-tooltip {
    position: absolute;
    width: 230px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip table,
#existing-fn-table-tooltip table{
    table-layout:fixed;
    width: 100%;
    max-width: 230px;
    padding: 0;
}

#tooltip tr,
#existing-fn-table-tooltip tr{
    height:20px;
}

#tooltip td:first-child,
#existing-fn-table-tooltip td:first-child{
    white-space: nowrap;
}

#tooltip td:nth-child(2) {
    text-align:right;
    word-wrap:break-word;
}

.dimension-treemap{
    cursor: pointer;
}

/* Heat-map summary related */
.difference-summary{
    position: relative;
}

.summary-header {
    word-break: normal;
    text-align: right;
    font-size: 12px;

}

.thin-column{
    width: 6rem;
}


/* Dashboard view related */

#all-charts-metric-timeseries-line,
#all-charts-metric-timeseries-bar,
#all-charts-tabular-view-table,
#all-charts-dimension-timeseries-line,
#all-charts-dimension-timeseries-bar,
#all-charts-contributors,
#all-charts-heatmap{
    min-height: 200px;
}

/* Timeseries- view related */
#timeseries-display-chart-area .timeseries-legend-box{
   top:45px;
}

#timeseries-display-chart-area .timeseries-legend-sub-box{
   max-height: 350px;
}

/* Anommalies view related */
#linechart-placeholder {
    display: inline-block;
    width: 83%;
    height: 310px;
}

#anomalies-display-chart-section{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
}

#anomalies-display-chart-section form {
    position: absolute;
    right: 10px;
    top: 10px;
}

#anomalies-display-chart-area .timeseries-legend-sub-box{
    max-height: 250px;
}

#link-to-self-service{
    cursor: pointer;
    color: #2d7091;
    text-decoration: underline;
}


/** anomalies view / thumbnails related **/
#anomaly-result-thumbnails{
    margin-left: 0;
}

.large-anomaly-box{
    background: linear-gradient(90deg,#f0f0f0 130px,rgba(240,240,240,0) calc(130px + 20%));/*#f0f0f0*/
    height: 310px;
    padding-left:0px;
    border: 1px solid #ddd;
    margin: 10px auto 0 auto;
    position: relative;
    width:100%;
}

.large-anomaly-box .c3-axis tspan{
    color: #666;
}

.anomalies-box-background{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    position: relative;
}
.box-anom-linechart {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 3;
}

.anom-linecharts-container{
    position: relative;
    top:35px;
    left: 12%;
    overflow: hidden;
    width: 70%;
    height: 250px;
    text-align: left;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.anom-linecharts-container .c3-ygrids line:nth-child(even),
.anom-linecharts-container .c3-axis-y .tick:nth-child(even){
    display: none;
}

.anom-linecharts-container .c3-axis-y .tick:last-child{
    display: block;
}

.box-inner{
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 11px;
    left: 0;
    z-index: 1;
}

.box-inner .change{
    font-weight: 800
}
.box-inner .change.negative-icon{
    color: darkred;
}

.box-inner .change.positive-icon {
    color: darkblue;
}

.heatmap-icon{
    display:inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Anomalies view anomaly details related*/
#anomaly-details-box{
    padding: 1%;
    padding-left: 65px;
}
#anomaly-details-heatmap-placeholder{
    padding-left: 35px;
}

/* Self service related */
#existing-anomaly-functions-table{
    table-layout:fixed;
}

#existing-anomaly-functions-table td{
    word-break: break-all;
    vertical-align: top;
}

#existing-anomaly-functions-table  .properties-cell,
#existing-anomaly-functions-table  .existing-anomaly-fn-filters-cell{
    border-top: none;
}

.multiselect-header{
    width:49%;
    margin:0 auto;
    background: #ddd;
    display: inline-block;
    padding-top:5px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.multiselect-content-box{
    width:49%;
    overflow-y: scroll;
    height: 150px;
    margin:0 auto;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    vertical-align: top;
}

/* D3 START*/
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*D3 TREEMAP*/

.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

/*c3*/
[class*=baseline]{
  stroke-dasharray: 5,5;
}

/* UIKIT overwrite */
.uk-button-group.vertical button{
    display: block;
    border-radius: 0;
}

.uk-button-group.vertical button:first-child{
    border-radius: 5px 5px 0 0;
}

.uk-button-group.vertical button:last-child{
    border-radius: 0 0 5px 5px;
}

.uk-info-circle:before {
    color: #ffffff;
}

.newui-button {
  color: white;
  background-color: transparent;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 2px;
  height: 40px;
  font-size: 15px;
  padding: 0 16px;
}

.newui-button:hover,
.newui-button:focus {
  background-color: rgba(255,255,255,.1);
  border-color: white;
}

.newui-button:active {
  background-color: rgba(255,255,255,.3);
  border-color: white;
}

.header-tab--secondary {
  padding-left: 24px;
  border-left: 1px solid rgb(157, 157, 157);
}


