body {
    font-family: SourceSansPro, sans-serif;
    font-weight: normal;
    font-size: 15px;
    background-color: #F3F6F8;
    color: #080808
}

/* -----------------------------------------------------------------------------
 * TE Legacy Nav Bar
 * ---------------------------------------------------------------------------*/

.navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.navbar .navbar-brand {
    font-size: 12px;
}

.te-nav__logo {
    float: left;
    color: #fff;
    margin-right: 60px;
}

.te-nav__row {
    position: relative;
}

.te-nav__link {
    padding-right: 45px;
}

.te-nav__dropdown-link {
  display: flex; 
  align-items: center;
}

.te-nav__dropdown-item {
  display: block;
  padding: 3px 20px;
  line-height: 1.42857;
  white-space: nowrap;
  color: black;
}

.te-nav__dropdown-item:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.te-nav__dropdown-link:hover .te-icon {
  color: white;
}

.te-nav__link a{
    color: rgba(255,255,255, 0.6) !important;
    display: inline-block !important;
    height: 48px !important;
    line-height: 48px !important;
    text-decoration: none !important;
    padding: 0 !important;
    letter-spacing: 0.8px;
}

.te-nav__link.active a{
    color: white;
    box-shadow: inset 0 -3px 0 white;
    text-decoration: none;
    background-color: #283e4a !important;
}


.te-nav__link:hover:not(.active) a{
  color: white !important;
  text-decoration: none !important;
  box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 0.3) !important;
}

.te-nav__button {
    float: left;
    margin: 2px 45px 0 0;
    cursor: pointer;
    background: none;
    padding: 2px 15px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255, 0.6);
    color: rgba(255,255,255, 0.6);
    letter-spacing: 0.8px;
}

.te-nav__user {
    float: right;
    width: auto;
    margin-top: 10px;
    text-align: right;
    display: flex; 
    align-items: center;
}

.te-icon {
  color: rgba(255, 255, 255, 0.7);
}

.te-nav__dropdown-wrapper:hover .te-icon {
  color: white;
}

.te-nav__help-icon {
    font-size: 24px;
}

.te-nav__beta-badge {
  letter-spacing: 5px;
}

.te-nav__dropdown-wrapper {
    position: absolute;
    text-align: left;
    background-color: white;
    color: white;
    z-index: 10;
    right: 0;
    top: 50px;
    padding: 8px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.te-nav__dropdown-item {
  display: block;
  padding: 3px 20px;
  line-height: 1.42857;
  white-space: nowrap;
  color: black;
}

.te-nav__dropdown-item :hover {
  text-decoration: none;
  color: #283e4a;
  background-color: #f5f5f5;
}

.te-nav__button:hover {
    border-color: white;
    color: white;
    text-decoration: none;
}

.te-nav___user-dropdown {
    float: right;
}

.navbar-inverse {
    background-image: none !important;
    background-color: #283e4a !important;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: none !important;
    background-color: #283e4a !important;
    color: white !important;
    box-shadow: inset 0 -3px 0 white;
    text-decoration: none;
}

.navbar-inverse .logo {
    color: white;
    letter-spacing: .8px;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 48px;
}

.logo:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAiCAQAAABsW+iDAAAA3klEQVRIx83Wuw3CMBAG4BshaahZIBUjsAKNB8gopqaiTpsRGMEjsANI3ADI+CElcTgKuLuQsyIrUvTJ+n1WDL7yJ8+pLggwH8BEM0ywEqXEbpdfLfZYA2CNvSCLDoZCJ8faCWt12HbtISht2Z+OA97QpXH9kh2zLd8D9cR2knyNZwnWxszLmvXKLyxdRbcIsgcBNgQRt+uCuzFhNotH6tDwWafMvn/FYB93FbZo0cXZxps0Gkk2opkPsBxr0rPPszRr/EaDBenVfsqW/XegO2F9dzCC7XQuohUTJq/NL1/k/oovlOCIAAAAAElFTkSuQmCC);
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-right: 38px;
}

.navbar-inverse .navbar-inner {
    background-image: none;
    background-color: #080808;
}

.dashboard-tabs li.active a {
    border-bottom: 4px solid #0073B0 !important;
    color: #0073B0
}

.dashboard-tabs li a {
    color: black;
}


.bg-black {
    background-color: #080808;
}

.underlined-input {
    border: 0px;
    border-bottom: 1px solid #000;
}

.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
}

.bg-gray {
    background: #D3D3D3;
}

.bg-white {
    background: #ffffff;
}

/* -----------------------------------------------------------------------------
 * TE Chart Labels
 * ---------------------------------------------------------------------------*/

label {
  font-weight: 300;
}

.label {
    color: #000000;
}
.label-large-light {
    font-weight: 100;
    font-size: 23px;
    padding-right: 10px;
    margin-bottom: 0;
}
.label-medium-light {
    font-weight: 100;
    font-size: 15px;
}
.label-medium-semibold {
    font-weight: 600;
    font-size: 15px;
    margin-top: 0;
}
.label-small-semibold {
    font-weight: 600;
    font-size: 11px;
}
.dashboard-metric-label {
    font-weight: 600;
    font-size: 13px;
}
.wow-summary-content {
    font-weight: 300;
    font-size: 13px;
}
.anomaly-status-label {
    font-weight: 300;
    font-size: 15px;
}
.underlined {
    border-top: none;
    border-right: none;
    border-left: none;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ffffff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

hr {
    margin-bottom: 5px;
    margin-top: 5px
}
.top-buffer {
    margin-top: 24px;
}
.bottom-buffer {
    margin-bottom: 24px;
}
.padding-all {
    padding: 24px;
}
.fill-up {
    margin-bottom: 5px;
    margin-top: 5px
}
.fill-down {
    margin-bottom: 5px;
    margin-top: 5px
}
.no-border {
    border: 0;
    box-shadow: none;
    /* You may want to include this as bootstrap applies these styles too */
}
.box {
    width: 27px;
    height: 27px;
    text-align: center;
    background: #F3F6F8;
}
.box-add-metric {
    height: 200px;
}
.box-anomaly {
    background: #FF9526;
}

/* -----------------------------------------------------------------------------
 * Dashboard Table
 * ---------------------------------------------------------------------------*/

.metric-card-container {
    width: 20%;
    float: left;
}
.metric-card {
    height: 200px;
    border: 1px solid #CECECE;
    margin: 15px 15px 15px 15px;
}
.metric-card-header {
    width: 100%;
    height: 20%;
    background-color: #FFFFFF;
    display: table;
    border-bottom: 1px solid #CECECE;
    word-wrap: break-word;
}
.metric-card-header>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.metric-card-body {
    height: 80%;
    border: none
}
.metric-card-body-row-1 {
    width: 100%;
    height: 60%;
    display: table;
}
.metric-card-body-row-1>div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.metric-card-body-row-2 {
    width: 100%;
    height: 20%;
}
.metric-card-body-row3 {
    width: 100%;
    height: 20%;
}
.dashboard-table>thead>tr>th {
    border-top: none;
}
.dashboard-table>tbody>tr>td:first-child {
    border-left: 1px solid #D7D7D7;
    width: 300px;
}
.dashboard-table>tbody>tr>td {
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    padding: 0px;
    height: 44px;
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}
.td-box-left {
    float: left;
    width: 50%;
    text-align: center;
}
.td-box-right {
    float: left;
    width: 50%;
    text-align: center;
}
.dashboard-table>thead>tr>th {
    font-weight: 300;
    font-size: 13px;
    text-align: center;
}

/* -----------------------------------------------------------------------------
 * Info table above heatmap
 * ---------------------------------------------------------------------------*/

.info-table {
    border: 1px solid #ccc
}
.info-table>thead>tr>th,
.info-table>tbody>tr>th,
.info-table>tfoot>tr>th,
.info-table>thead>tr>td,
.info-table>tbody>tr>td,
.info-table>tfoot>tr>td {
    border: none;
}
.info-table>thead>tr>th {
    font-weight: 100;
    font-size: 11px;
}

/* -----------------------------------------------------------------------------
 * Analysis table css
 * ---------------------------------------------------------------------------*/

.analysis-table-wrapper {
  max-height: 400px;
  overflow-y: scroll;
}

.analysis-table {
  table-layout: fixed;
}

.analysis-table>thead>tr>th,
.analysis-table>tbody>tr>th,
.analysis-table>tfoot>tr>th,
.analysis-table>thead>tr>td,
.analysis-table>tbody>tr>td,
.analysis-table>tfoot>tr>td {} .analysis-table {
    border: none !important;
}
.analysis-table>thead>tr>th {
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    background-color: #E4E8EC;
}
.analysis-table>tbody>tr>td {
    font-weight: 300;
    font-size: 11px;
    white-space: nowrap;
    background-color: white;
}
.analysis-table>thead>tr>th.dim-label {
    background-color: #F3F6F8;
    border: none !important;
    font-weight: 400;
}
.analysis-table>tbody>tr>td.dim-label {
    background-color: #F3F6F8;
    border: none !important;
}
.table-borderless td,
.table-borderless th {
    border: none !important;
}
.time-range {
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-range__type {
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}
.selectAutoWidth {
    width: auto
}

.analysis-table__anchor {
  position: sticky;
  z-index: 1;
  left: -1px;
  top: -1px;
}

.analysis-table__dimension {
  position: sticky;
  /* offset the table border*/
  left: -1px;
}


.analysis-table__header {
  position: sticky;
  /* offset the table border*/
  top: -1px;
}

.analysis-table__anchor--low,
.analysis-table__subheader {
  /* offset the table border*/
  position: sticky;
  top: 29px;
}

.analysis-table__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0;
}

.analysis-table__item {
  width: 35%;
  flex: none;
  padding: 0 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.analysis-table__item--small {
  width: 30%;
  justify-content: center;
}

.analysis-table__item--large {
  width: 100%;
  justify-content: center;
}

/* -----------------------------------------------------------------------------
 * C3 related
 * ---------------------------------------------------------------------------*/

.c3 .c3-axis-x path,
.c3 .c3-axis-x line {
    stroke: #979797;
}
.c3 .c3-axis-y path,
.c3 .c3-axis-y line {
    stroke: #979797;
}

.anomaly-chart.c3 text {
  font-family: SourceSansPro, sans-serif;
}

/* -----------------------------------------------------------------------------
 * Heatmap background colors
 * ---------------------------------------------------------------------------*/

.heatmap {
    display: block;
    margin: auto;
    background-color: #f5f5f5;
}
text {
    font-size: 11px;
}
.autocomplete-suggestions {
    border: 1px solid #E3E3E3;
    background: #FFF;
    overflow: auto;
    font-size: 15px;
    font-weight: 100;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
.daterangepicker {
    font-size: 11px;
    font-weight: 100;
}
.daterangepicker,
.daterangepicker th,
.daterangepicker td {
    font-size: 12px;
    font-weight: 100;
}
.c3-region.anomaly-region {
    fill: #EF7E37
}

#tooltip {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-size: 13px;
}

/* -----------------------------------------------------------------------------
 * Common - spinner
 * ---------------------------------------------------------------------------*/

.spinner-wrapper {
  position: relative;
}

/* -----------------------------------------------------------------------------
 * Common - button
 * ---------------------------------------------------------------------------*/

.thirdeye-btn, .thirdeye-btn:hover  {
  color: white;
  font-weight: 600;
  background-color: #0084bf;
  font-size: 17px;
  padding: 0 16px;
  line-height: 32px;
  border-radius: 2px;
}

.thirdeye-btn:hover,
.thirdeye-btn:focus {
  background-color: #0073b1;
  font-weight: 600;
  color: white;
}

.thirdeye-btn:active {
  color: white;
  background-color: #006097;
}

.thirdeye-btn--secondary {
  background-color: transparent;
  border-color: rgb(157, 157, 157);
  font-weight: 500;
}

.thirdeye-btn--secondary:hover,
.thirdeye-btn--secondary:focus {
  background-color: rgba(255,255,255,.1);
  border-color: white;
  font-weight: 500;
}

.thirdeye-btn--secondary:active {
  background-color: rgba(255,255,255,.3);
  border-color: white;
  font-weight: 500;
}

/* -----------------------------------------------------------------------------
 * Common - Link
 * ---------------------------------------------------------------------------*/

.thirdeye-link {
  cursor: pointer;
  color: #0084bf;
  padding: 0 8px;
  text-shadow: none;
  opacity: 1;
}

.thirdeye-link--secondary {
  background-color: transparent;
  color: #0084bf;
  cursor: pointer;
  outline-width: 2px;
  position: relative;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.thirdeye-link--delimited:before {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -3px;
  display: block;
  border-right: 1px solid #CCC;
  content: '';
}

.thirdeye-link--secondary:hover {
  color: #0073b1;
  background-color: rgba(0,96,151,.1);
}

.thirdeye-link__icon {
  font-size: 10px;
}

.thirdeye-link:hover {
  color: #0073b1;
  text-decoration: none;
}

.thirdeye-link--nav {
  text-decoration: none;
  font-size: 16px;
  color: gray;
  padding: 14px 0;
  margin-right: 8px;
}

.thirdeye-link--active,
.thirdeye-link--nav:hover {
  color: #0073b1;
  border-bottom: 2px solid #0073B0 !important;
}

/* -----------------------------------------------------------------------------
 * Anomalies page Search Bar
 * ---------------------------------------------------------------------------*/

.search-title {
  flex-shrink: 0;
}

.search-bar {
  display: flex;
  margin: 10px 0;
}

.search-field {
  flex-grow: 1;
  margin-left: 24px;
  overflow: hidden;
}

.search-select {
  flex-basis: 25%;
  min-width: 250px;
}

.search-input .select2-container--bootstrap .select2-selection {
  border-radius: 4px 0px 0px 4px;
}

.search-button {
  display: flex;
  align-items: center;
  border-radius: 0px 2px 2px 0px
}

/* known select2 bugs, temporary fix until it's patched*/
.search-input .select2-search__field {
    width: auto !important;
}

/* -----------------------------------------------------------------------------
 * Filter
 * ---------------------------------------------------------------------------*/

.page-content {
  display: flex;
}

.page-filter {
  width: 25%;
  min-width: 250px;
}

.page-results {
  width: 70%;
  flex-grow: 1;
  margin-left: 24px;
}

.filter-header {
  background-color: #F3F6F8;
  font-weight: 600;
  border-bottom: 1px solid #CCC;
  text-transform: uppercase;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section {
  padding: 16px;
  border-top: 1px solid #CCC
}

.filter-section--no-padding {
  padding-left: 0;
  padding-right: 0;
}

.filter-section--no-border {
  border-top: 0;
}

.filter-title {
  display: flex;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 0;
}

.filter-title--small {
  font-size: 15px;
}

.filter-title__name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 4px;
  text-transform: capitalize;
}

.filter-title__action {
  cursor: pointer;
}

.filter-title__action::after {
  content: '+';
}

.filter-title__action--expanded::after {
  content: '-';
}

.filter-body__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.filter-body__list--hidden {
  margin-top: 0px;
  max-height: 0;
  overflow: hidden;
}

.filter-item {
  white-space: nowrap;
  font-weight: lighter;
  align-items: center;
  padding: 0;
  display: flex;
}

.filter-item__checkbox[type=checkbox] {
  cursor: pointer;
  flex-shrink: 0;
}

.filter-item__label {
  overflow: hidden;
  vertical-align: bottom;
  text-overflow: ellipsis;
  margin-bottom: 0;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 4px;
}

.filter-list__item {
  font-weight: 300;
}

.filter-footer {
  border-top: 1px solid #CCC;
  padding: 16px;
  text-align: center;
  font-weight: 600;
}

.filter-bar {
  display: flex;
  align-items: stretch;
}

.filter-apply-button {
  align-self: center;
}

.label-description {
  text-transform: uppercase;
  font-size: 10px;
  color: gray;
  letter-spacing: 1px;
}

/* -----------------------------------------------------------------------------
 * RCA date range picker
 * ---------------------------------------------------------------------------*/

.datepicker-field + .datepicker-field {
  padding-top: 12px;
}

.datepicker-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #CCC;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.datepicker-range.disabled {
  pointer-events: none;
  color: #999;
}

/* -----------------------------------------------------------------------------
 * Anomaly Results
 * ---------------------------------------------------------------------------*/

.anomalies-panel {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #CCC;
  top: 0px;
}

.panel-title {
  font-size: 21px;
}

.anomaly-cards-wrapper {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #CCC;
}

.anomaly-card:not(:last-child) {
  border-bottom: 1px solid #CCC;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.anormaly-chart {
  height: 300px;
}
.anomaly-result-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.anomaly-result-title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 14px;
}

.anomaly-result-metric,
.anomaly-result-dataset {
  font-weight: 600;
  font-size: 17px;
}

.anomaly-details {
  border: 1px solid #CCC;
  border-radius: 2px;
  margin-top: 24px;
  text-align: center;
}

.anomaly-details-items > span {
  width: 100%;
  word-wrap: break-word;
}

.anomaly-details-row {
  display: flex;
  flex-wrap: no-wrap;
}

.anomaly-details-row + .anomaly-details-row {
  border-top: 1px solid #CCC;
}

.anomaly-details-items {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-basis: 50%;
  padding: 14px 24px;
  min-width: 0;
}

.anomaly-details-items--small {
  flex-basis: calc(100%/3);
}

.anomaly-details-items + .anomaly-details-items {
  border-left: 1px solid #CCC;
}

.anomaly-change-delta.negative {
  color: #ee1620;
}

.anomaly-change-delta.positive {
  color: #398b18;
}

/* -----------------------------------------------------------------------------
 * Pagination
 * ---------------------------------------------------------------------------*/

.thirdeye-pagination {
  margin-top: 0;
  margin-bottom: 0;
}

/* -----------------------------------------------------------------------------
 * Investigate
 * ---------------------------------------------------------------------------*/

.anomaly-feedback {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #CCC;
}

.anomaly-feedback__comment {
  overflow: hidden;
  max-height:0;
  transition: max-height 0.3s ease-out;
}

.anomaly-feedback:hover .anomaly-feedback__comment {
  max-height: 200px;
  transition: max-height 0.3s ease-in;
}

.anomaly-feedback__comment--show {
  max-height: 200px;
}

.anomaly-feedback-title {
  font-size: 26px;
  font-weight: lighter;
  margin: 0;
  border-radius: 32px;
}

.anomaly-feedback-title__help {
  font-size: 16px; 
  font-weight: normal;
  padding: 4 12px;
  text-decoration: none;
  color: #0073b1;
}

.anomaly-feedback-title__help:hover {
  background-color: rgba(152,216,244,.25);
  text-decoration: none;
  color:#006097;
}

.anomaly-feedback-title__help:focus {
  text-decoration: none;
  color: #006097;
}

.anomaly-feedback-select {
  width: 100%;
}

.investigate-tips {
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: white;
  margin-top: 24px;
  border-top: 5px solid #080808;
}

.investigate-icon {
  margin-right: 24px;
}

.investigate-title,
.investigate-button {
  font-size: 21px;
}

.investigate-button {
  margin-left: 24px;
}

.investigate-header {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
}

.investigate-wow {
  display: flex;
  margin-bottom: 24px;
  text-align: center;
  border: 1px solid #CCC;
  background-color: white;
  list-style: none;
  padding: 0;
}

.wow-card {
  flex-basis: 0;
  flex-grow: 1;
}

.wow-card-header {
  background-color: #e4e8ec;
  border-bottom: 1px solid #CCC;
  padding: 8px 0;
}

.wow-card-body {
  padding: 8px 0;
}

.wow-card-footer {
  border-top: 1px solid #CCC;
  padding: 8px 0;
}

/* -----------------------------------------------------------------------------
 * Analysis
 * ---------------------------------------------------------------------------*/

.analysis-summary__data,
.analysis-title {
  font-size: 18px;
  color: rgba(0,0,0,.70);
  margin-top: 0;
}

.analysis-details {
  font-size: initial;
  font-weight: 300;
}

.analysis-summary__data.positive {
  color: #398b18;
}

.analysis-summary__data.negative{
  color: #ee1620;
}

.analysis-options {
  display: flex;
}

.analysis-options__dropdown {
  padding: 0 12px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
}

.analysis-options__datepicker {
  width: 50%;
  min-width: 50%;
  flex-shrink: 0;
  margin-right: 24px;
}

.analysis-options__granularity {
  margin-right: 24px;
}

.analysis-options__granularity,
.analysis-options__dimensions {
  flex-grow: 1;
  margin: 0 12px;
}

.analysis-options__filters {
  flex-basis: 100%;
  width: 100%;
  margin: 0 12px;
}

.analysis-options__apply {
  position: relative;
  top: 26px;
}

.analysis-options__apply > .thirdeye-btn {
  font-weight: normal;
}

.analysis-options .datepicker-range {
  height: 32px;
}

.analysis-chart {
  display: flex;
  flex-direction: row-reverse;
  height: 348px;
}

.analysis-chart__graph {
  flex-grow: 1;
  height: 300px;
  margin: 24px;
}

.analysis-chart__graph > svg {
  width: 100%;
}

.analysis-chart__legend {
  border-left: 1px solid #CCC;
  max-width: 250px;
  height: 100%;
}

.analysis-chart__checkbox[type=checkbox] {
  margin: 0 8px;
  transform: scale(1.2);
}

.analysis-chart__dimensions {
  list-style: none;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.analysis-chart__dimension {
  white-space: nowrap;
}

.analysis-change {
  display: flex;
  align-items: center;
}

.analysis-change__description {
  flex-grow: 1;
}

.analysis-change__checkbox[type=checkbox] {
  margin: 0 8px 0 24px;
  transform: scale(1.2);
}

.analysis-change__label {
  user-select: none;
  white-space: nowrap;
}

.analysis-tooltip {
  font-size: 12px;
  font-weight: lighter;
}

.analysis-tooltip__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.analysis-tooltip__list-item {
  display: flex;
  justify-content: space-between;
}

.contribution-analysis {
  display: flex;
  justify-content: space-between;
}

.contribution-analysis__daterangepicker {
    flex: 1 1 0%;
    min-width: 0%;
}

.contribution-analysis__daterangepicker + .contribution-analysis__daterangepicker {
  margin-left: 48px;
}

.tree-map__nav {
  padding: 0;
}

.tree-map__tab {
  margin-right: 24px;
}

.tree-map__tab: + .tree-map__tab {
  margin-left: 24px;
}

.tree-map__tab:hover,
.tree-map__tab.active {
  border-bottom: 2px solid #0073b1;
}

.tree-map__link {
  padding-right: 0!important;
  padding-left: 0!important;
  background-color: transparent!important;
  color: rgba(0,0,0,0.70)!important;
}
.tree-map__tab.active .tree-map__link,
.tree-map__link:hover {
  color: #0073b1!important;
  padding-bottom: 13px;
}

.analysis-summary {
  display: flex;
  justify-content: space-between;
}
.analysis-summary__label {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0,0,0,.55);
  font-weight: normal;
}

.analysis-summary__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tree-map__table {
  width: auto;
  min-width: 100%;
  table-layout: fixed;
}

.anomaly-feedback-radio {
  margin: 8px 0;
  user-select: none;
}

.anomaly-details-wrapper,
.analysis-card {
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 2px;
}

.analysis-card__header {
  background-color: white;
  padding: 14px 24px;
  border-bottom: 1px solid #CCC;
}

.analysis-card__header--small {
  padding: 0px 24px;
}

.navbar--no-border {
  border-bottom: 0
}

/* -----------------------------------------------------------------------------
 * Accessibility
 * ---------------------------------------------------------------------------*/

.a11y-text {
   display: none;
}

.rootcause__details {
  max-width: 600px;
  word-wrap: break-word;
}
