{{#power-select
  options=recommendedMetrics
  selected=selectedMetric
  triggerId="select-metric"
  onchange=(action "onChange")
  search=(action "onSearch")
  onfocus=(action "onFocus")
  searchPlaceholder=placeholder
  placeholder=placeholder
  matchTriggerWidth=false
as |metric|
}}
{{#if (eq selectedMetric.alias metric.alias)}}
  <span class="bluelink">{{metric.alias}}</span>
{{else}}
  {{metric.alias}}
{{/if}}
{{/power-select}}
